Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.yml:

'*.{ts,js,json,md,yml}':
  - 'prettier --write'
'*.{ts,js}':
  - 'eslint --fix'

Notes added by 'git notes add'
  8740e98a8d7837794d6e6f337101d76e6d94dc08
Due: none

fix: Updating ci pipeline
  .releaserc.yml
  package.json
Due: prettier --write

chore: Release 🚀 15.0.2 [skip ci]
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write

Notes added by 'git notes add'
  5e8183bf0dfb2f0b9566a6aea75a00fa83c46261
Due: none

Notes added by 'git notes add'
  0028fe1a9639c470eee3bdd69d4d7195fcc212fb
Due: none

chore: Fixing merge conflicts and updating ci pipeline
  .releaserc.yml
  README.md
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  src/core/services/VulnerabilityFindings.ts
  test/unit/templates/ResourceDiscussions.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: ✏️ Updating release configuration and commit linting
  .commitlintrc.yml
  .huskyrc.yml
  .releaserc.yml
  lerna.json
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-browser/src/KyRequester.ts
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-browser/test/unit/KyRequester.ts
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-cli/src/index.ts
  packages/gitbeaker-core/package.json
  packages/gitbeaker-core/src/services/UserEmails.ts
  packages/gitbeaker-core/src/services/UserGPGKeys.ts
  packages/gitbeaker-core/src/services/UserKeys.ts
  packages/gitbeaker-core/test/unit/bundles/GroupsBundle.ts
  packages/gitbeaker-core/test/unit/bundles/ProjectsBundle.ts
  packages/gitbeaker-core/test/unit/bundles/UsersBundle.ts
  packages/gitbeaker-node/package.json
  packages/gitbeaker-node/src/index.ts
  packages/gitbeaker-node/test/unit/GotRequester.ts
  packages/gitbeaker-requester-utils/package.json
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
  packages/gitbeaker-requester-utils/test/unit/RequesterUtils.ts
  yarn.lock
Due: prettier --write, eslint --fix

ci: 🤖 Adding missing publish configuration
  .releaserc.yml
  package.json
  yarn.lock
Due: prettier --write

chore: ✏️ Updating package versions and README
  README.md
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  yarn.lock
Due: prettier --write

chore: Release 🚀 15.0.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write

Notes added by 'git notes add'
  a3022486c6365bd0b85d53c3db3c60a56f26e8c6
Due: none

docs: Adding package specific README
  packages/gitbeaker-browser/README.md
  packages/gitbeaker-cli/README.md
  packages/gitbeaker-core/README.md
  packages/gitbeaker-node/README.md
  packages/gitbeaker-requester-utils/README.md
Due: prettier --write

feat: Add typing to project and group variables
  packages/gitbeaker-core/src/templates/ResourceVariables.ts
Due: prettier --write, eslint --fix

improvement(gitbeaker-core): rebasing
  packages/gitbeaker-core/src/templates/ResourceVariables.ts
Due: prettier --write, eslint --fix

feat: Add typing to project and group variables (#620)
  packages/gitbeaker-core/src/templates/ResourceVariables.ts
Due: prettier --write, eslint --fix

chore: Add interface for all resourcediscussions child classes
  packages/gitbeaker-core/src/services/CommitDiscussions.ts
  packages/gitbeaker-core/src/services/EpicDiscussions.ts
  packages/gitbeaker-core/src/services/GroupIssueBoards.ts
  packages/gitbeaker-core/src/services/IssueDiscussions.ts
  packages/gitbeaker-core/src/services/MergeRequestDiscussions.ts
  packages/gitbeaker-core/src/services/ProjectIssueBoards.ts
  packages/gitbeaker-core/src/services/ProjectSnippetDiscussions.ts
Due: prettier --write, eslint --fix

chore: Add interface for all resourceawardemojis child classes
  packages/gitbeaker-core/src/services/IssueAwardEmojis.ts
  packages/gitbeaker-core/src/services/MergeRequestAwardEmojis.ts
  packages/gitbeaker-core/src/services/ProjectSnippetAwardEmojis.ts
Due: prettier --write, eslint --fix

chore: Add interface for all resourcelabels child classes
  packages/gitbeaker-core/src/services/GroupLabels.ts
  packages/gitbeaker-core/src/services/Labels.ts
Due: prettier --write, eslint --fix

chore: Add interface for all resourcemilestones child classes
  packages/gitbeaker-core/src/services/GroupMilestones.ts
  packages/gitbeaker-core/src/services/ProjectMilestones.ts
Due: prettier --write, eslint --fix

chore: Add interface for all projectbadges child classes
  packages/gitbeaker-core/src/services/GroupBadges.ts
  packages/gitbeaker-core/src/services/ProjectBadges.ts
Due: prettier --write, eslint --fix

chore: Add interface for all resourcenotes child classes
  packages/gitbeaker-core/src/services/EpicNotes.ts
  packages/gitbeaker-core/src/services/IssueNotes.ts
  packages/gitbeaker-core/src/services/MergeRequestNotes.ts
  packages/gitbeaker-core/src/services/ProjectSnippetNotes.ts
Due: prettier --write, eslint --fix

chore: Add interface for all resourcecustomattributes child classes
  packages/gitbeaker-core/src/services/GroupCustomAttributes.ts
  packages/gitbeaker-core/src/services/ProjectCustomAttributes.ts
  packages/gitbeaker-core/src/services/UserCustomAttributes.ts
Due: prettier --write, eslint --fix

chore: Add interface for all projectvariables child classes
  packages/gitbeaker-core/src/services/GroupVariables.ts
  packages/gitbeaker-core/src/services/ProjectVariables.ts
Due: prettier --write, eslint --fix

chore: Release 🚀 15.1.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write

Notes added by 'git notes add'
  dbd53496ba7bed9c113ad76fbfbd40f3a9ae574e
Due: none

feat(core): Override arguments in all template children (#597)
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-core/src/services/CommitDiscussions.ts
  packages/gitbeaker-core/src/services/EpicDiscussions.ts
  packages/gitbeaker-core/src/services/EpicNotes.ts
  packages/gitbeaker-core/src/services/GroupBadges.ts
  packages/gitbeaker-core/src/services/GroupCustomAttributes.ts
  packages/gitbeaker-core/src/services/GroupIssueBoards.ts
  packages/gitbeaker-core/src/services/GroupLabels.ts
  packages/gitbeaker-core/src/services/GroupMilestones.ts
  packages/gitbeaker-core/src/services/GroupVariables.ts
  packages/gitbeaker-core/src/services/IssueAwardEmojis.ts
  packages/gitbeaker-core/src/services/IssueDiscussions.ts
  packages/gitbeaker-core/src/services/IssueNotes.ts
  packages/gitbeaker-core/src/services/Labels.ts
  packages/gitbeaker-core/src/services/MergeRequestAwardEmojis.ts
  packages/gitbeaker-core/src/services/MergeRequestDiscussions.ts
  packages/gitbeaker-core/src/services/MergeRequestNotes.ts
  packages/gitbeaker-core/src/services/ProjectBadges.ts
  packages/gitbeaker-core/src/services/ProjectCustomAttributes.ts
  packages/gitbeaker-core/src/services/ProjectIssueBoards.ts
  packages/gitbeaker-core/src/services/ProjectMilestones.ts
  packages/gitbeaker-core/src/services/ProjectSnippetAwardEmojis.ts
  packages/gitbeaker-core/src/services/ProjectSnippetDiscussions.ts
  packages/gitbeaker-core/src/services/ProjectSnippetNotes.ts
  packages/gitbeaker-core/src/services/ProjectVariables.ts
  packages/gitbeaker-core/src/services/UserCustomAttributes.ts
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: Release 🚀 15.2.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write

Notes added by 'git notes add'
  8df5a911a34251f34589b157d55364c109cd9320
Due: none

Update README.md
  README.md
Due: prettier --write

Fixed variable name for registry method, as per https://docs.gitlab.com/12.8/ee/api/container_registry.html#delete-registry-repository-tags-in-bulk
  src/core/services/ContainerRegistry.ts
Due: prettier --write, eslint --fix

Fixed variable name for registry method, as per https://docs.gitlab.com/12.8/ee/api/container_registry.html#delete-registry-repository-tags-in-bulk
  packages/gitbeaker-core/src/services/ContainerRegistry.ts
Due: prettier --write, eslint --fix

Update packages/gitbeaker-core/src/services/ContainerRegistry.ts
  packages/gitbeaker-core/src/services/ContainerRegistry.ts
Due: prettier --write, eslint --fix

fix(core): :bug: Registry API change
  packages/gitbeaker-core/src/services/ContainerRegistry.ts
Due: prettier --write, eslint --fix

Fixed variable name for registry method, as per … (#646)
  packages/gitbeaker-core/src/services/ContainerRegistry.ts
Due: prettier --write, eslint --fix

chore: Release 🚀 16.0.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write

Notes added by 'git notes add'
  9a42a66ac3065ed4f6478f28427843ca54955872
Due: none

fix(core): Adding better handling for form type arguments
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/infrastructure/Utils.ts
  packages/gitbeaker-core/src/services/ProjectImportExport.ts
  packages/gitbeaker-core/src/services/Projects.ts
  packages/gitbeaker-core/src/services/Triggers.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(core): Remove type
  packages/gitbeaker-core/src/services/Projects.ts
Due: prettier --write, eslint --fix
