Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.yml:

'*.{ts,js,json,md,yml}':
  - 'prettier --write'
'*.{ts,js}':
  - 'eslint --fix'

Fixing extendClass function and adding more extensive tests (#896)
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
  packages/gitbeaker-requester-utils/test/unit/RequesterUtils.ts
Due: prettier --write, eslint --fix

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: prettier --write

Bump version to: 21.7.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write

Cleaning up logic for the NotificationSettings API and adding unit tests
  packages/gitbeaker-core/src/services/NotificationSettings.ts
  packages/gitbeaker-core/test/unit/services/NotificationSettings.ts
Due: prettier --write, eslint --fix

Cleaning up the logic in the MergeRequests API
  packages/gitbeaker-core/src/services/MergeRequests.ts
  packages/gitbeaker-core/test/unit/services/MergeRequests.ts
Due: prettier --write, eslint --fix

More test adjustments
  packages/gitbeaker-core/test/unit/services/Issues.ts
Due: prettier --write, eslint --fix

Converting more tests to the core package
  packages/gitbeaker-core/test/unit/services/ApplicationSettings.ts
  packages/gitbeaker-core/test/unit/services/Commits.ts
  packages/gitbeaker-core/test/unit/services/IssuesStatistics.ts
Due: prettier --write, eslint --fix

Remove typed services in tests
  packages/gitbeaker-node/test/integration/services/Commits.ts
  packages/gitbeaker-node/test/integration/services/Groups.ts
  packages/gitbeaker-node/test/integration/services/Issues.ts
  packages/gitbeaker-node/test/integration/services/IssuesStatistics.ts
  packages/gitbeaker-node/test/integration/services/Labels.ts
  packages/gitbeaker-node/test/integration/services/Projects.ts
  packages/gitbeaker-node/test/integration/services/Snippets.ts
  packages/gitbeaker-node/test/integration/services/UserGPGKeys.ts
  packages/gitbeaker-node/test/integration/services/Users.ts
Due: prettier --write, eslint --fix

Reduce service initialization
  scripts/docker-compose.yml
Due: prettier --write

Moving over more tests
  packages/gitbeaker-core/test/unit/services/ApplicationSettings.ts
  packages/gitbeaker-core/test/unit/services/Groups.ts
Due: prettier --write, eslint --fix

Comment out test for now
  packages/gitbeaker-core/test/unit/services/Issues.ts
Due: prettier --write, eslint --fix

Fixing jest errors
  packages/gitbeaker-core/test/unit/services/ApplicationSettings.ts
  packages/gitbeaker-core/test/unit/services/Commits.ts
  packages/gitbeaker-core/test/unit/services/Groups.ts
  packages/gitbeaker-core/test/unit/services/IssuesStatistics.ts
Due: prettier --write, eslint --fix

Debug
  packages/gitbeaker-core/test/unit/services/Issues.ts
Due: prettier --write, eslint --fix

Moving over more tests
  packages/gitbeaker-core/test/unit/services/Issues.ts
  packages/gitbeaker-core/test/unit/services/IssuesStatistics.ts
Due: prettier --write, eslint --fix

Run node tests
  .gitlab-ci.yml
Due: prettier --write

Test errors
  packages/gitbeaker-core/test/unit/services/Issues.ts
  packages/gitbeaker-core/test/unit/services/IssuesStatistics.ts
Due: prettier --write, eslint --fix

Set a default for the all function options
  packages/gitbeaker-core/src/services/Snippets.ts
Due: prettier --write, eslint --fix

Adjustments
  packages/gitbeaker-core/test/unit/services/Issues.ts
Due: prettier --write, eslint --fix

Linting
  packages/gitbeaker-core/test/unit/services/Issues.ts
Due: prettier --write, eslint --fix

Adding proper unit tests for many services
  .gitlab-ci.yml
  packages/gitbeaker-core/test/unit/services/Issues.ts
  packages/gitbeaker-core/test/unit/services/License.ts
  packages/gitbeaker-core/test/unit/services/PushRules.ts
  packages/gitbeaker-core/test/unit/services/Snippets.ts
  packages/gitbeaker-core/test/unit/services/Triggers.ts
  packages/gitbeaker-core/test/unit/services/UserGPGKeys.ts
  packages/gitbeaker-core/test/unit/services/Users.ts
  packages/gitbeaker-node/test/integration/services/ApplicationSettings.ts
  packages/gitbeaker-node/test/integration/services/Commits.ts
  packages/gitbeaker-node/test/integration/services/Groups.ts
  packages/gitbeaker-node/test/integration/services/Issues.ts
  packages/gitbeaker-node/test/integration/services/IssuesStatistics.ts
  packages/gitbeaker-node/test/integration/services/Labels.ts
  packages/gitbeaker-node/test/integration/services/License.ts
  packages/gitbeaker-node/test/integration/services/NotificationSettings.ts
  packages/gitbeaker-node/test/integration/services/PushRules.ts
  packages/gitbeaker-node/test/integration/services/Snippets.ts
  packages/gitbeaker-node/test/integration/services/UserGPGKeys.ts
  packages/gitbeaker-node/test/integration/services/Users.ts
Due: prettier --write, eslint --fix

Change the args
  packages/gitbeaker-core/test/unit/services/Issues.ts
Due: prettier --write, eslint --fix

Elongate initial wait time
  scripts/probe.js
Due: prettier --write, eslint --fix

Change function name
  packages/gitbeaker-core/test/unit/services/Issues.ts
Due: prettier --write, eslint --fix

More debugging
  packages/gitbeaker-core/test/unit/services/Issues.ts
Due: prettier --write, eslint --fix

Skip usergpg keys for now
  packages/gitbeaker-node/test/integration/services/UserGPGKeys.ts
  packages/gitbeaker-node/test/integration/services/Users.ts
Due: prettier --write, eslint --fix

More unit tests
  packages/gitbeaker-core/src/services/DeployKeys.ts
  packages/gitbeaker-core/src/services/Jobs.ts
  packages/gitbeaker-core/test/unit/services/Branches.ts
  packages/gitbeaker-core/test/unit/services/DeployKeys.ts
  packages/gitbeaker-core/test/unit/services/Jobs.ts
  packages/gitbeaker-core/test/unit/services/ReleaseLinks.ts
  packages/gitbeaker-core/test/unit/services/Wikis.ts
Due: prettier --write, eslint --fix

Integration tests with module mapper
  .gitlab-ci.yml
Due: prettier --write

Missing closing quote
  .gitlab-ci.yml
Due: prettier --write

to many quotes
  .gitlab-ci.yml
Due: prettier --write

Proper stringify
  .gitlab-ci.yml
Due: prettier --write

More tests
  .gitlab-ci.yml
  packages/gitbeaker-core/src/services/Search.ts
  packages/gitbeaker-core/test/unit/services/ContainerRegistry.ts
  packages/gitbeaker-core/test/unit/services/ProjectSnippets.ts
  packages/gitbeaker-core/test/unit/services/Search.ts
  packages/gitbeaker-core/test/unit/services/Snippets.ts
Due: prettier --write, eslint --fix

Added more tests
  packages/gitbeaker-core/src/services/PushRules.ts
  packages/gitbeaker-core/test/unit/services/Groups.ts
  packages/gitbeaker-core/test/unit/services/PagesDomains.ts
  packages/gitbeaker-core/test/unit/services/PushRules.ts
Due: prettier --write, eslint --fix

Additional tests
  packages/gitbeaker-core/test/unit/services/Environments.ts
  packages/gitbeaker-core/test/unit/services/Epics.ts
Due: prettier --write, eslint --fix

Create AditiKela
  AditiKela
Due: none

Adding a different formdata library
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-browser/rollup.config.js
  packages/gitbeaker-core/package.json
  packages/gitbeaker-core/src/infrastructure/Utils.ts
  packages/gitbeaker-core/src/services/ProjectImportExport.ts
  packages/gitbeaker-core/test/unit/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/test/unit/infrastructure/Utils.ts
  packages/gitbeaker-node/package.json
  packages/gitbeaker-node/test/unit/GotRequester.ts
  packages/gitbeaker-requester-utils/package.json
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
  packages/gitbeaker-requester-utils/test/unit/RequesterUtils.ts
  yarn.lock
Due: prettier --write, eslint --fix

Moving the json rollup
  packages/gitbeaker-browser/rollup.config.js
Due: prettier --write, eslint --fix

Fixing up export
  codecov.yml
  packages/gitbeaker-core/src/infrastructure/index.ts
Due: prettier --write, eslint --fix

File cleanup
  packages/gitbeaker-core/src/infrastructure/BaseService.ts
  packages/gitbeaker-core/src/services/BroadcastMessages.ts
  packages/gitbeaker-core/src/services/CommitDiscussions.ts
  packages/gitbeaker-core/src/services/EpicDiscussions.ts
  packages/gitbeaker-core/src/services/EpicNotes.ts
  packages/gitbeaker-core/src/services/GitLabCIYMLTemplates.ts
  packages/gitbeaker-core/src/services/GitignoreTemplates.ts
  packages/gitbeaker-core/src/services/GroupAccessRequests.ts
  packages/gitbeaker-core/src/services/GroupBadges.ts
  packages/gitbeaker-core/src/services/GroupCustomAttributes.ts
  packages/gitbeaker-core/src/services/Runners.ts
Due: prettier --write, eslint --fix

Updating tests
  packages/gitbeaker-core/test/unit/services/BroadcastMessages.ts
  packages/gitbeaker-core/test/unit/services/CommitDiscussions.ts
  packages/gitbeaker-core/test/unit/services/Commits.ts
  packages/gitbeaker-core/test/unit/services/Deployments.ts
  packages/gitbeaker-core/test/unit/services/EpicDiscussions.ts
  packages/gitbeaker-core/test/unit/services/EpicIssues.ts
  packages/gitbeaker-core/test/unit/services/EpicNotes.ts
  packages/gitbeaker-core/test/unit/services/GeoNodes.ts
  packages/gitbeaker-core/test/unit/services/GitignoreTemplates.ts
  packages/gitbeaker-core/test/unit/services/GroupBadges.ts
  packages/gitbeaker-core/test/unit/services/Packages.ts
  packages/gitbeaker-core/test/unit/services/PipelineScheduleVariables.ts
  packages/gitbeaker-core/test/unit/services/PipelineSchedules.ts
  packages/gitbeaker-core/test/unit/services/Releases.ts
  packages/gitbeaker-core/test/unit/services/RepositoryFiles.ts
  packages/gitbeaker-core/test/unit/services/Runners.ts
  packages/gitbeaker-core/test/unit/services/UserEmails.ts
Due: prettier --write, eslint --fix

switch back to old form data
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-browser/rollup.config.js
  packages/gitbeaker-core/package.json
  packages/gitbeaker-core/src/infrastructure/BaseService.ts
  packages/gitbeaker-core/src/infrastructure/Utils.ts
  packages/gitbeaker-core/src/services/ProjectImportExport.ts
  packages/gitbeaker-core/test/unit/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/test/unit/infrastructure/Utils.ts
  packages/gitbeaker-node/package.json
  packages/gitbeaker-node/test/unit/GotRequester.ts
  packages/gitbeaker-requester-utils/package.json
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
  packages/gitbeaker-requester-utils/test/unit/RequesterUtils.ts
  yarn.lock
Due: prettier --write, eslint --fix
