Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

Fixing protect request
  packages/core/src/resources/ProtectedBranches.ts
Due: yarn prettier --write, yarn eslint --fix

Tests fix
  jest.config.base.js
  packages/cli/package.json
Due: yarn prettier --write, yarn eslint --fix

Update lock file
  yarn.lock
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: yarn prettier --write

Fixing tests
  packages/browser/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/node/package.json
  packages/requester-utils/package.json
  yarn.lock
Due: yarn prettier --write

Fix the typing for the supported links functions (#2154)
  jest.config.base.js
  packages/browser/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/src/resources/Issues.ts
  packages/node/package.json
  packages/requester-utils/package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Linting and updating tests
  .circleci/config.yml
  .github/workflows/codeql-analysis.yml
  packages/core/test/unit/resources/ProtectedBranches.ts
Due: yarn prettier --write, yarn eslint --fix

Fixing protect request format (#2155)
  .circleci/config.yml
  .github/workflows/codeql-analysis.yml
  packages/core/src/resources/ProtectedBranches.ts
  packages/core/test/unit/resources/ProtectedBranches.ts
Due: yarn prettier --write, yarn eslint --fix

Install git in deploy stages
  .circleci/config.yml
Due: yarn prettier --write

Install git in deploy stages (#2156)
  .circleci/config.yml
Due: yarn prettier --write

Include ssh client in docker image
  .circleci/config.yml
Due: yarn prettier --write

Include ssh client in release CI stages (#2157)
  .circleci/config.yml
Due: yarn prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/browser/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/node/CHANGELOG.md
  packages/requester-utils/CHANGELOG.md
Due: yarn prettier --write

Update contributors [skip ci]
  .all-contributorsrc
  README.md
Due: yarn prettier --write

Bump version to: 34.4.0 [skip ci]
  lerna.json
  packages/browser/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/node/package.json
  packages/requester-utils/package.json
Due: yarn prettier --write

Use yarnlock as checksum for build cache
  .circleci/config.yml
Due: yarn prettier --write

Yaml errors
  .circleci/config.yml
Due: yarn prettier --write

Use yarnlock as checksum for build cache (#2162)
  .circleci/config.yml
Due: yarn prettier --write

Fixing Incorrect dir for cache check
  .circleci/config.yml
Due: yarn prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: yarn prettier --write

Bump version to: 34.4.1 [skip ci]
  lerna.json
  packages/browser/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/node/package.json
  packages/requester-utils/package.json
Due: yarn prettier --write

Add ability to request merged_yaml from the Gitlab Lint API
  packages/core/src/resources/Lint.ts
Due: yarn prettier --write, yarn eslint --fix

Add basic unit test for the endpoint function
  packages/core/test/unit/infrastructure/Utils.ts
Due: yarn prettier --write, yarn eslint --fix

Fix incorrect Feature Flags endpoint
  packages/core/src/resources/FeatureFlags.ts
  packages/core/test/unit/resources/FeatureFlags.ts
Due: yarn prettier --write, yarn eslint --fix

Commit merge requests: record instead of array #2191
  packages/core/src/resources/Commits.ts
Due: yarn prettier --write, yarn eslint --fix

Commit merge requests: record instead of array #2191 (#2192)
  packages/core/src/resources/Commits.ts
Due: yarn prettier --write, yarn eslint --fix

Add integration test for lint requesting merged_yaml
  packages/node/test/integration/resources/Lint.ts
Due: yarn prettier --write, yarn eslint --fix

Linting
  packages/node/test/integration/resources/Lint.ts
Due: yarn prettier --write, yarn eslint --fix

Minor text fixes
  packages/node/test/integration/resources/Lint.ts
Due: yarn prettier --write, yarn eslint --fix

Add ability to request merged_yaml from the Gitlab Lint API (#2185)
  packages/core/src/resources/Lint.ts
  packages/node/test/integration/resources/Lint.ts
Due: yarn prettier --write, yarn eslint --fix

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/node/CHANGELOG.md
Due: yarn prettier --write

Bump version to: 34.5.0 [skip ci]
  lerna.json
  packages/browser/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/node/package.json
  packages/requester-utils/package.json
Due: yarn prettier --write

Swap mime-types with mime for a smaller pkg size
  packages/core/package.json
  packages/core/src/resources/PackageRegistry.ts
  packages/core/src/resources/ProjectImportExport.ts
  packages/core/src/resources/Projects.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Fixing linting issues
  packages/core/package.json
  packages/core/src/resources/PackageRegistry.ts
  packages/core/src/resources/ProjectImportExport.ts
  packages/core/src/resources/Projects.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Renamed parameter
  packages/core/src/resources/MergeRequestDiscussions.ts
Due: yarn prettier --write, yarn eslint --fix

Updated misleading parameter name "issueId" to "mergerequestId" (#2205)
  packages/core/src/resources/MergeRequestDiscussions.ts
Due: yarn prettier --write, yarn eslint --fix

Swap mime-types with mime for a smaller pkg size (#2195)
  packages/core/package.json
  packages/core/src/resources/PackageRegistry.ts
  packages/core/src/resources/ProjectImportExport.ts
  packages/core/src/resources/Projects.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Path conditions:
  yarn prettier --write: any of: **/*.{ts,js,json,md,yml}
  yarn eslint --fix: any of: **/*.{ts,js}
