Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

.lintstagedrc.yml:

'**/*.{ts,js,json,md,yml}':
  - 'yarn prettier --write'
'**/*.{ts,js}':
  - 'yarn eslint --fix'

Update contributors [skip ci]
  .all-contributorsrc
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/requester-utils/README.md
  packages/rest/README.md
Due: yarn prettier --write

Bump version to: 40.1.3 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Updating logo urls
  .github/ASSETS/cws.svg
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/requester-utils/README.md
  packages/rest/README.md
Due: yarn prettier --write

Adding coderabbit logo
  .github/ASSETS/coderabbit.png
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/requester-utils/README.md
  packages/rest/README.md
Due: yarn prettier --write

Adjusting spacing
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/requester-utils/README.md
  packages/rest/README.md
Due: yarn prettier --write

Fixing relative spacing
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/requester-utils/README.md
  packages/rest/README.md
Due: yarn prettier --write

Updating sponsors and broken logo links (#3621)
  .github/ASSETS/coderabbit.png
  .github/ASSETS/cws.svg
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/requester-utils/README.md
  packages/rest/README.md
Due: yarn prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/requester-utils/CHANGELOG.md
  packages/rest/CHANGELOG.md
Due: yarn prettier --write

Bump version to: 40.1.4 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Adding directory info to the pkg json to fix npm path resolution
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/README.md
  packages/rest/package.json
Due: yarn prettier --write

Adding directory info to the pkg json to fix npm path resolution (#3622)
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/README.md
  packages/rest/package.json
Due: yarn prettier --write

Improve browser test to be more explicit
  .gitignore
  packages/rest/playwright.config.mjs
  packages/rest/test/assets/test-import.html
  packages/rest/test/integration/browser/General.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Cleaning up commit
  .gitignore
  packages/core/package.json
  packages/core/src/infrastructure/RequestHelper.ts
  packages/core/src/infrastructure/Utils.ts
  packages/requester-utils/package.json
  packages/requester-utils/src/RequesterUtils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Updating dep
  package.json
  yarn.lock
Due: yarn prettier --write

Updating dep import
  packages/rest/test/assets/test-import.html
Due: none

Remove duplicate ignore
  .gitignore
Due: none

Remove log
  packages/rest/test/assets/test-import.html
Due: none

Add sync to ProjectRemoteMirrors (#3616)
  packages/core/src/resources/ProjectRemoteMirrors.ts
Due: yarn prettier --write, yarn eslint --fix

Add sync to ProjectRemoteMirrors (#3616) (#3623)
  packages/core/src/resources/ProjectRemoteMirrors.ts
Due: yarn prettier --write, yarn eslint --fix

Bump version to: 40.2.0 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

refactor: :label: declare default type first
  packages/core/src/resources/Groups.ts
Due: yarn prettier --write, yarn eslint --fix

Declare Groups API `allProjects` function default type first (#3624)
  packages/core/src/resources/Groups.ts
Due: yarn prettier --write, yarn eslint --fix

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/core/CHANGELOG.md
Due: yarn prettier --write

Bump version to: 40.2.1 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Update Requester.ts
  packages/rest/src/Requester.ts
Due: yarn prettier --write, yarn eslint --fix

Fixing formatting issues
  packages/rest/src/Requester.ts
Due: yarn prettier --write, yarn eslint --fix

🐛 Update Deployment.tag to be a boolean.
  packages/core/src/resources/Deployments.ts
Due: yarn prettier --write, yarn eslint --fix

🐛 Update Deployment.tag to be a boolean. (#3627)
  packages/core/src/resources/Deployments.ts
Due: yarn prettier --write, yarn eslint --fix

Bump version to: 40.2.2 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: yarn prettier --write

Bump version to: 40.2.3 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

feat(jobs): job scope waiting_for_resource
  packages/core/src/resources/Jobs.ts
Due: yarn prettier --write, yarn eslint --fix

feat(resource group): upcoming jobs by resource group
  packages/core/src/resources/ResourceGroups.ts
Due: yarn prettier --write, yarn eslint --fix

Include additional job scope "waiting_for_resource" (#3631)
  packages/core/src/resources/Jobs.ts
Due: yarn prettier --write, yarn eslint --fix

Fix `upcoming jobs by resource group` endpoint (#3632)
  packages/core/src/resources/ResourceGroups.ts
Due: yarn prettier --write, yarn eslint --fix
