Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

.lintstagedrc.yml:

'**/*.{ts,js,json,md,yml}':
  - 'yarn prettier --write'
'**/*.{ts,js}':
  - 'yarn eslint --fix'

env
  .github/workflows/base.yml
Due: yarn prettier --write

Fixing prop name
  .github/workflows/base.yml
Due: yarn prettier --write

Indenting
  .github/workflows/base.yml
Due: yarn prettier --write

Checkout cant be in the action
  .github/actions/setup.yml
  .github/workflows/base.yml
Due: yarn prettier --write

More tweaks
  .github/workflows/base.yml
Due: yarn prettier --write

Updating formatting
  .github/workflows/base.yml
Due: yarn prettier --write

Needed to be in a dir
  .github/actions/setup/action.yml
  .github/workflows/base.yml
Due: yarn prettier --write

Removing nx cache
  .github/workflows/base.yml
Due: yarn prettier --write

Fixing yaml job names
  .github/workflows/base.yml
Due: yarn prettier --write

Where are they restored?
  .github/workflows/base.yml
Due: yarn prettier --write

Only run on applicable subpackages
  .github/workflows/base.yml
Due: yarn prettier --write

Updating packages
  package.json
Due: yarn prettier --write

Typo
  .github/workflows/base.yml
Due: yarn prettier --write

Remove deps
  .github/workflows/base.yml
Due: yarn prettier --write

Adding nx cache again
  .github/actions/setup/action.yml
Due: yarn prettier --write

More tweaks
  .github/actions/setup/action.yml
Due: yarn prettier --write

More clean up
  .github/actions/setup.yml
  .github/workflows/base.yml
  yarn.lock
Due: yarn prettier --write

Apparently codeclimate is at its EoL
  .github/workflows/base.yml
  README.md
Due: yarn prettier --write

Ensure its downloaded to parent folder
  .github/workflows/base.yml
Due: yarn prettier --write

Cache whole dir
  .github/workflows/base.yml
  README.md
Due: yarn prettier --write

Fixing config
  .github/workflows/base.yml
Due: yarn prettier --write

Install playwright
  .github/workflows/base.yml
Due: yarn prettier --write

Download build artifacts
  .github/workflows/base.yml
Due: yarn prettier --write

Linting
  .github/actions/setup/action.yml
Due: yarn prettier --write

More warnup
  .github/workflows/base.yml
Due: yarn prettier --write

Fixing type
  packages/core/test/unit/resources/Pipelines.ts
Due: yarn prettier --write, yarn eslint --fix

No need for runs on
  .github/actions/setup/action.yml
Due: yarn prettier --write

Add missing `detailed_status` field to WebhookPipelineEventSchema
  packages/core/src/resources/Webhooks.ts
Due: yarn prettier --write, yarn eslint --fix

Enhance error messaging in GitbeakerRequestError to include description context
  packages/rest/src/Requester.ts
  packages/rest/test/unit/Requester.ts
Due: yarn prettier --write, yarn eslint --fix

Fix `includeDivergedCommitsCount` type definition in `MergeRequests.show` method
  packages/core/src/resources/MergeRequests.ts
Due: yarn prettier --write, yarn eslint --fix

Set merge request description type to nullable
  packages/core/src/resources/MergeRequests.ts
Due: yarn prettier --write, yarn eslint --fix

Update AcceptMergeRequestOptions type definition
  packages/core/src/resources/MergeRequests.ts
Due: yarn prettier --write, yarn eslint --fix

move maxPages to BasePaginationRequestOptions
  packages/core/src/infrastructure/RequestHelper.ts
Due: yarn prettier --write, yarn eslint --fix

Enhance error messaging in GitbeakerRequestError to clearly display only the description context.
  packages/rest/src/Requester.ts
  packages/rest/test/unit/Requester.ts
Due: yarn prettier --write, yarn eslint --fix

Add support for markdown uploads
  packages/core/README.md
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/GroupMarkdownUploads.ts
  packages/core/src/resources/ProjectMarkdownUploads.ts
  packages/core/src/resources/index.ts
  packages/core/src/templates/ResourceMarkdownUploads.ts
  packages/core/src/templates/index.ts
  packages/core/test/integration/map.ts
  packages/core/test/unit/resources/ProjectMarkdownUploads.ts
  packages/core/test/unit/templates/ResourceMarkdownUploads.ts
  packages/rest/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

feat: Support pagination on runner jobs
  packages/core/src/resources/Runners.ts
Due: yarn prettier --write, yarn eslint --fix

Updating coverage paths
  jest.config.base.mjs
Due: none

Formating
  jest.config.base.mjs
Due: none
