Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Remove brackets
  .gitlab-ci.yml
Due: prettier --write

Ensure file contents are correct
  .gitlab-ci.yml
Due: prettier --write

Trying to figure out why npm isnt logged in
  .gitlab-ci.yml
Due: prettier --write

Set always auth to true
  .gitlab-ci.yml
Due: prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-cli/CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: prettier --write

Update contributors [skip ci]
  .all-contributorsrc
  README.md
Due: prettier --write

Bump version to: 18.0.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

Linting docs
  CHANGELOG.md
  README.md
  lerna.json
Due: prettier --write

Update CHANGELOG.md (#696)
  CHANGELOG.md
  README.md
  lerna.json
Due: prettier --write

Break up jest config to be separate for each package
  .eslintrc.yml
  jest.config.base.js
  jest.config.js
  packages/gitbeaker-browser/jest.config.js
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-browser/test/integration/assets/test-import.html
  packages/gitbeaker-browser/test/integration/index.ts
  packages/gitbeaker-browser/tsconfig.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write, eslint --fix

Update browser usage information
  README.md
Due: prettier --write

Update packages
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  yarn.lock
Due: prettier --write

Updating auto to check for prefix rules in lerna
  .autorc.yml
  package.json
  yarn.lock
Due: prettier --write

Change images to handle puppeteer properly
  .gitlab-ci.yml
Due: prettier --write

Using correct image for browser test
  .gitlab-ci.yml
Due: prettier --write

Adding integration tests for the browser usage (#697)
  .autorc.yml
  .eslintrc.yml
  .gitlab-ci.yml
  README.md
  jest.config.base.js
  jest.config.js
  package.json
  packages/gitbeaker-browser/jest.config.js
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-browser/test/integration/assets/test-import.html
  packages/gitbeaker-browser/test/integration/index.ts
  packages/gitbeaker-browser/tsconfig.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Code review edits
  packages/gitbeaker-browser/test/integration/assets/test-import.html
Due: none

Bump version to: 18.1.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write

Update changelog [skip ci]
  CHANGELOG.md
Due: prettier --write

Linting [skip ci]
  README.md
  lerna.json
Due: prettier --write

Updating agent property based on new changes in Got
  packages/gitbeaker-browser/src/KyRequester.ts
  packages/gitbeaker-node/src/GotRequester.ts
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
Due: prettier --write, eslint --fix

Update the tests for this modification
  packages/gitbeaker-browser/test/unit/KyRequester.ts
  packages/gitbeaker-node/test/unit/GotRequester.ts
  packages/gitbeaker-requester-utils/test/unit/RequesterUtils.ts
Due: prettier --write, eslint --fix

Updating agent property based on new changes in Got (#712)
  packages/gitbeaker-browser/src/KyRequester.ts
  packages/gitbeaker-browser/test/unit/KyRequester.ts
  packages/gitbeaker-node/src/GotRequester.ts
  packages/gitbeaker-node/test/unit/GotRequester.ts
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
  packages/gitbeaker-requester-utils/test/unit/RequesterUtils.ts
Due: prettier --write, eslint --fix

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: prettier --write

Bump version to: 18.2.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write

Add suite of integration tests
  packages/gitbeaker-node/package.json
  packages/gitbeaker-node/test/integration/services/ApplicationSettings.ts
  packages/gitbeaker-node/test/integration/services/Commits.ts
  packages/gitbeaker-node/test/integration/services/Groups.ts
  packages/gitbeaker-node/test/integration/services/Issues.ts
  packages/gitbeaker-node/test/integration/services/IssuesStatistics.ts
  packages/gitbeaker-node/test/integration/services/Labels.ts
  packages/gitbeaker-node/test/integration/services/Licence.ts
  packages/gitbeaker-node/test/integration/services/NotificationSettings.ts
  packages/gitbeaker-node/test/integration/services/Projects.ts
  packages/gitbeaker-node/test/integration/services/PushRules.ts
  packages/gitbeaker-node/test/integration/services/Snippets.ts
  packages/gitbeaker-node/test/integration/services/UserGPGKeys.ts
  packages/gitbeaker-node/test/integration/services/Users.ts
  yarn.lock
Due: prettier --write, eslint --fix

Add back one integration script
  .gitlab-ci.yml
Due: prettier --write

Adding some type information and switching to named exports
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-node/src/index.ts
Due: prettier --write, eslint --fix

Updating browser integration tests
  packages/gitbeaker-browser/test/integration/index.ts
Due: prettier --write, eslint --fix

Updating lock
  yarn.lock
Due: none

Should return a dictionary of modified constructors
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
Due: prettier --write, eslint --fix

Export modify function the requester-utils
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-node/src/index.ts
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
  yarn.lock
Due: prettier --write, eslint --fix

cleaning up rebase
  package.json
  yarn.lock
Due: prettier --write

Add suite of integration tests
  yarn.lock
Due: none

Export modify function the requester-utils
  yarn.lock
Due: none

Update contributors [skip ci]
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,json,md,yml}
  eslint --fix: any of: *.{ts,js}
