Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

.lintstagedrc.yml:

'**/*.{ts,js,json,md,yml}':
  - 'yarn prettier --write'
'**/*.{ts,js}':
  - 'yarn eslint --fix'

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/core/CHANGELOG.md
Due: yarn prettier --write

Bump version to: 39.8.0 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Make camelize type recursive
  packages/core/src/infrastructure/Utils.ts
Due: yarn prettier --write, yarn eslint --fix

Begin work to reduce the complexity of types
  packages/core/src/infrastructure/Utils.ts
Due: yarn prettier --write, yarn eslint --fix

Replacing Either and EitherOrNone varients with singular types
  packages/core/src/resources/AuditEvents.ts
  packages/core/src/resources/ContainerRegistry.ts
  packages/core/src/resources/DashboardAnnotations.ts
  packages/core/src/resources/Debian.ts
  packages/core/src/resources/DeployKeys.ts
  packages/core/src/resources/DeployTokens.ts
  packages/core/src/resources/Environments.ts
  packages/core/src/resources/Events.ts
  packages/core/src/resources/GroupInvitations.ts
  packages/core/src/resources/GroupLabels.ts
  packages/core/src/resources/GroupWikis.ts
  packages/core/src/resources/Issues.ts
  packages/core/src/resources/IssuesStatistics.ts
  packages/core/src/resources/Keys.ts
  packages/core/src/resources/Maven.ts
  packages/core/src/resources/MergeRequestDiscussions.ts
  packages/core/src/resources/MergeRequests.ts
  packages/core/src/resources/NotificationSettings.ts
  packages/core/src/resources/NuGet.ts
  packages/core/src/resources/Packages.ts
  packages/core/src/resources/ProjectInvitations.ts
  packages/core/src/resources/ProjectIssueBoards.ts
  packages/core/src/resources/ProjectLabels.ts
  packages/core/src/resources/ProjectWikis.ts
  packages/core/src/resources/Projects.ts
  packages/core/src/resources/ProtectedTags.ts
  packages/core/src/resources/PyPI.ts
  packages/core/src/resources/Runners.ts
  packages/core/src/resources/Search.ts
  packages/core/src/templates/ResourceInvitations.ts
  packages/core/src/templates/ResourceIssueBoards.ts
  packages/core/src/templates/ResourceLabels.ts
  packages/core/src/templates/ResourceProtectedEnvironments.ts
  packages/core/src/templates/ResourceWikis.ts
Due: yarn prettier --write, yarn eslint --fix

Make camelize type recursive (#3361)
  packages/core/src/infrastructure/Utils.ts
Due: yarn prettier --write, yarn eslint --fix

Replace Either and EitherOrNone varients with oneOf and oneOrNoneOf (#3362)
  packages/core/src/infrastructure/Utils.ts
  packages/core/src/resources/AuditEvents.ts
  packages/core/src/resources/ContainerRegistry.ts
  packages/core/src/resources/DashboardAnnotations.ts
  packages/core/src/resources/Debian.ts
  packages/core/src/resources/DeployKeys.ts
  packages/core/src/resources/DeployTokens.ts
  packages/core/src/resources/Environments.ts
  packages/core/src/resources/Events.ts
  packages/core/src/resources/GroupInvitations.ts
  packages/core/src/resources/GroupLabels.ts
  packages/core/src/resources/GroupWikis.ts
  packages/core/src/resources/Issues.ts
  packages/core/src/resources/IssuesStatistics.ts
  packages/core/src/resources/Keys.ts
  packages/core/src/resources/Maven.ts
  packages/core/src/resources/MergeRequestDiscussions.ts
  packages/core/src/resources/MergeRequests.ts
  packages/core/src/resources/NotificationSettings.ts
  packages/core/src/resources/NuGet.ts
  packages/core/src/resources/Packages.ts
  packages/core/src/resources/ProjectInvitations.ts
  packages/core/src/resources/ProjectIssueBoards.ts
  packages/core/src/resources/ProjectLabels.ts
  packages/core/src/resources/ProjectWikis.ts
  packages/core/src/resources/Projects.ts
  packages/core/src/resources/ProtectedTags.ts
  packages/core/src/resources/PyPI.ts
  packages/core/src/resources/Runners.ts
  packages/core/src/resources/Search.ts
  packages/core/src/templates/ResourceInvitations.ts
  packages/core/src/templates/ResourceIssueBoards.ts
  packages/core/src/templates/ResourceLabels.ts
  packages/core/src/templates/ResourceProtectedEnvironments.ts
  packages/core/src/templates/ResourceWikis.ts
Due: yarn prettier --write, yarn eslint --fix

Updating protected branched types
  packages/core/src/resources/ProtectedBranches.ts
Due: yarn prettier --write, yarn eslint --fix

Updating type
  packages/core/src/resources/ProtectedBranches.ts
Due: yarn prettier --write, yarn eslint --fix

Bump version to: 39.9.0 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Update missing type information
  packages/core/src/resources/ProtectedBranches.ts
Due: yarn prettier --write, yarn eslint --fix

Updating protected branched types (#3360)
  packages/core/src/resources/ProtectedBranches.ts
Due: yarn prettier --write, yarn eslint --fix

Bump version to: 39.10.0 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Refreshing yarn.lock
  yarn.lock
Due: none

Expand the typing for the project endpoints on users
  packages/core/src/resources/Users.ts
Due: yarn prettier --write, yarn eslint --fix

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: yarn prettier --write

Bump version to: 39.10.1 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Expand the typing for the project endpoints on users (#3370)
  packages/core/src/resources/Users.ts
Due: yarn prettier --write, yarn eslint --fix

Bump version to: 39.10.2 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Embedding the request options normalization
  packages/requester-utils/src/BaseResource.ts
  packages/requester-utils/src/RequesterUtils.ts
  packages/requester-utils/test/unit/BaseResource.ts
  packages/requester-utils/test/unit/RequesterUtils.ts
  packages/rest/src/Requester.ts
  packages/rest/test/unit/Requester.ts
Due: yarn prettier --write, yarn eslint --fix

Fix up some of the type info
  packages/requester-utils/src/RequesterUtils.ts
Due: yarn prettier --write, yarn eslint --fix

Additional typing fixes
  packages/requester-utils/test/unit/RequesterUtils.ts
Due: yarn prettier --write, yarn eslint --fix

Embedding the request options normalization (#3374)
  packages/requester-utils/src/BaseResource.ts
  packages/requester-utils/src/RequesterUtils.ts
  packages/requester-utils/test/unit/BaseResource.ts
  packages/requester-utils/test/unit/RequesterUtils.ts
  packages/rest/src/Requester.ts
  packages/rest/test/unit/Requester.ts
Due: yarn prettier --write, yarn eslint --fix

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/requester-utils/CHANGELOG.md
  packages/rest/CHANGELOG.md
Due: yarn prettier --write

Bump version to: 39.10.3 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Additional tweaks to protected branch types
  packages/core/src/infrastructure/Utils.ts
  packages/core/src/resources/ProtectedBranches.ts
Due: yarn prettier --write, yarn eslint --fix

Include id as an optional addition for when using the accessLevel property
  packages/core/src/resources/ProtectedBranches.ts
Due: yarn prettier --write, yarn eslint --fix

Make the typing more explicit
  packages/core/src/resources/ProtectedBranches.ts
Due: yarn prettier --write, yarn eslint --fix

Additional tweaks to protected branch types (#3375)
  packages/core/src/infrastructure/Utils.ts
  packages/core/src/resources/ProtectedBranches.ts
Due: yarn prettier --write, yarn eslint --fix

Fix MergeRequestSchema.closed_at property type
  packages/core/src/resources/MergeRequests.ts
Due: yarn prettier --write, yarn eslint --fix

Fix missing ProjectReleaseSchema._links property
  packages/core/src/resources/ProjectReleases.ts
Due: yarn prettier --write, yarn eslint --fix

Fix missing ProjectReleaseSchema._links property (#3382)
  packages/core/src/resources/ProjectReleases.ts
Due: yarn prettier --write, yarn eslint --fix

Fix MergeRequestSchema.closed_at property type (#3381)
  packages/core/src/resources/MergeRequests.ts
Due: yarn prettier --write, yarn eslint --fix

Update contributors [skip ci]
  .all-contributorsrc
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/requester-utils/README.md
  packages/rest/README.md
Due: yarn prettier --write

Bump version to: 39.11.0 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Make Issues.all() generic, return type is based on request options
  packages/core/src/resources/Issues.ts
Due: yarn prettier --write, yarn eslint --fix
