Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

More "A" api updates
  packages/core/src/resources/Attestations.ts
  packages/core/src/resources/AuditEvents.ts
  packages/core/src/resources/Avatar.ts
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/index.ts
  packages/rest/src/index.ts
  packages/rest/test/e2e/browser/General.ts
Due: yarn prettier --write, yarn eslint --fix

Another change missed for cluster agents
  packages/rest/test/e2e/browser/General.ts
Due: yarn prettier --write, yarn eslint --fix

Reordering
  packages/rest/test/integration/browser/General.ts
Due: yarn prettier --write, yarn eslint --fix

Another batch
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/MergeRequestIterationEvents.ts
  packages/core/src/resources/ProjectProtectedBranches.ts
  packages/core/src/resources/ProjectPullMirroring.ts
  packages/core/src/resources/Projects.ts
  packages/core/src/resources/ProtectedTags.ts
  packages/core/src/resources/ReleaseLinks.ts
  packages/core/src/resources/Repositories.ts
  packages/core/src/resources/RepositoryFiles.ts
  packages/core/src/resources/ResourceGroups.ts
  packages/core/src/resources/index.ts
  packages/core/src/templates/ResourceProtectedEnvironments.ts
Due: yarn prettier --write, yarn eslint --fix

Tweaks
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/GroupRepositoryStorageMoves.ts
  packages/core/src/resources/Jobs.ts
  packages/core/src/resources/ProjectRemoteMirrors.ts
  packages/core/src/resources/ProjectRepositoryStorageMoves.ts
  packages/core/src/resources/Projects.ts
  packages/core/src/resources/ServicePing.ts
  packages/core/src/resources/SnippetRepositoryStorageMoves.ts
  packages/core/src/resources/SystemHooks.ts
  packages/core/src/resources/UserFollows.ts
  packages/core/src/resources/Users.ts
  packages/core/src/templates/ResourceRepositoryStorageMoves.ts
  packages/core/test/unit/resources/Conan.ts
  packages/core/test/unit/resources/Topics.ts
  packages/core/test/unit/resources/Users.ts
  packages/rest/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

Next update
  packages/core/src/resources/SidekiqMetrics.ts
  packages/core/src/resources/SidekiqQueues.ts
  packages/core/src/resources/SnippetRepositoryStorageMoves.ts
  packages/core/src/resources/Snippets.ts
  packages/core/src/resources/Suggestions.ts
  packages/core/src/resources/SystemHooks.ts
  packages/core/src/resources/Tags.ts
Due: yarn prettier --write, yarn eslint --fix

Updating more APIs
  packages/core/README.md
  packages/core/src/resources/BulkImports.ts
  packages/core/src/resources/GeoSites.ts
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/GroupEnterpriseUsers.ts
  packages/core/src/resources/GroupEpicBoards.ts
  packages/core/src/resources/index.ts
  packages/core/test/unit/resources/BroadcastMessages.ts
  packages/core/test/unit/resources/EpicIssues.ts
  packages/core/test/unit/resources/EpicLinks.ts
  packages/core/test/unit/resources/EpicStateEvents.ts
  packages/core/test/unit/resources/Epics.ts
  packages/core/test/unit/resources/GeoSites.ts
  packages/core/test/unit/resources/GroupEpicBoards.ts
  packages/core/test/unit/templates/ResourceAccessTokens.ts
  packages/rest/src/index.ts
  packages/rest/test/e2e/browser/General.ts
Due: yarn prettier --write, yarn eslint --fix

Update broadcast messages api
  packages/core/README.md
  packages/core/src/resources/BroadcastMessages.ts
Due: yarn prettier --write, yarn eslint --fix

Add missing exports
  packages/rest/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

Updating application api
  packages/core/src/resources/Applications.ts
Due: yarn prettier --write, yarn eslint --fix

More API updates, Code Suggestions, Commits, and Compliance and policy settings API
  packages/core/README.md
  packages/core/src/resources/CodeSuggestions.ts
  packages/core/src/resources/Commits.ts
  packages/core/src/resources/CompliancePolicySettings.ts
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/index.ts
  packages/rest/src/index.ts
  packages/rest/test/e2e/browser/General.ts
Due: yarn prettier --write, yarn eslint --fix

Updating more APIs
  packages/core/README.md
  packages/core/src/resources/ErrorTrackingClientKeys.ts
  packages/core/src/resources/Events.ts
  packages/core/src/resources/ExternalControls.ts
  packages/core/src/resources/ExternalStatusChecks.ts
  packages/core/src/resources/FeatureFlagUserLists.ts
  packages/core/src/resources/FeatureFlags.ts
  packages/core/src/resources/Features.ts
  packages/core/src/resources/Flows.ts
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/index.ts
  packages/rest/src/index.ts
  packages/rest/test/e2e/browser/General.ts
Due: yarn prettier --write, yarn eslint --fix

More resources + Linting
  packages/core/README.md
  packages/core/src/resources/GroupWikiNotes.ts
  packages/core/src/resources/MergeRequestApprovalSettings.ts
  packages/core/src/resources/MergeTrains.ts
  packages/core/src/resources/ModelRegistry.ts
  packages/core/src/resources/Orbit.ts
  packages/core/src/resources/Organizations.ts
  packages/core/src/resources/Pages.ts
  packages/core/src/resources/PersonalAccessTokens.ts
  packages/core/src/resources/PipelineSchedules.ts
  packages/core/src/resources/PipelineTriggers.ts
  packages/core/src/resources/PlanLimits.ts
  packages/core/src/resources/ProjectAliases.ts
  packages/core/src/resources/ProjectBadges.ts
  packages/core/src/resources/ProjectImportExports.ts
  packages/core/src/resources/ProjectInvitations.ts
  packages/core/src/resources/ProjectRelationsExport.ts
  packages/core/src/resources/ProjectReleases.ts
  packages/core/src/resources/ProjectRemoteMirrors.ts
  packages/core/src/resources/ProjectRepositoryStorageMoves.ts
  packages/core/src/resources/ProjectSecuritySettings.ts
  packages/core/src/resources/ProjectTemplates.ts
  packages/core/src/resources/ProjectWikiNotes.ts
  packages/core/src/resources/PyPI.ts
  packages/core/src/resources/Snippets.ts
  packages/core/src/resources/index.ts
  packages/core/src/templates/ResourcePushRules.ts
  packages/core/src/templates/ResourceRepositoryStorageMoves.ts
  packages/core/test/unit/resources/AlertManagement.ts
  packages/core/test/unit/resources/ApplicationAppearance.ts
  packages/core/test/unit/resources/Conan.ts
  packages/core/test/unit/resources/GroupImportExports.ts
  packages/core/test/unit/resources/ProjectImportExports.ts
  packages/core/test/unit/resources/ProjectMarkdownUploads.ts
  packages/core/test/unit/resources/Projects.ts
  packages/core/test/unit/resources/PyPI.ts
  packages/core/test/unit/resources/Topics.ts
Due: yarn prettier --write, yarn eslint --fix

Updating Cluster Agents API
  packages/core/README.md
  packages/core/src/resources/Agents.ts
  packages/core/src/resources/ClusterAgents.ts
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/index.ts
  packages/core/test/integration/map.ts
  packages/core/test/unit/resources/ClusterAgents.ts
Due: yarn prettier --write, yarn eslint --fix

Another batch
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/GroupSAMLIdentities.ts
  packages/core/src/resources/GroupSAMLLinks.ts
  packages/core/src/resources/GroupSCIMIdentities.ts
  packages/core/src/resources/RunnerControllerTokens.ts
  packages/core/src/resources/RunnerControllers.ts
  packages/core/src/resources/Runners.ts
  packages/core/src/resources/ServiceAccounts.ts
  packages/core/src/resources/ServicePing.ts
  packages/core/src/resources/index.ts
Due: yarn prettier --write, yarn eslint --fix

Formatting
  packages/core/src/resources/DependencyListExport.ts
  packages/rest/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

Bumping
  packages/core/README.md
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/GroupWikiNotes.ts
  packages/core/src/resources/MergeRequestApprovalSettings.ts
  packages/core/src/resources/MergeRequestApprovals.ts
  packages/core/src/resources/MergeRequestContextCommits.ts
  packages/core/src/resources/MergeTrains.ts
  packages/core/src/resources/Metadata.ts
  packages/core/src/resources/ModelRegistry.ts
  packages/core/src/resources/Namespaces.ts
  packages/core/src/resources/NotificationSettings.ts
  packages/core/src/resources/Orbit.ts
  packages/core/src/resources/Organizations.ts
  packages/core/src/resources/Packages.ts
  packages/core/src/resources/Pages.ts
  packages/core/src/resources/PagesDomains.ts
  packages/core/src/resources/PersonalAccessTokens.ts
  packages/core/src/resources/PipelineSchedules.ts
  packages/core/src/resources/PipelineTriggers.ts
  packages/core/src/resources/PlanLimits.ts
  packages/core/src/resources/ProjectWikiNotes.ts
  packages/core/src/resources/index.ts
  packages/core/src/templates/ResourceNotes.ts
  packages/rest/src/index.ts
  packages/rest/test/e2e/browser/General.ts
Due: yarn prettier --write, yarn eslint --fix

Minor deps
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  pnpm-lock.yaml
Due: yarn prettier --write

major deps
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  pnpm-lock.yaml
Due: yarn prettier --write

Fixing imports
  packages/core/test/__mocks__/RequestHelper.ts
  tsconfig.base.json
Due: yarn prettier --write, yarn eslint --fix

use latest tsv6
  package.json
  pnpm-lock.yaml
Due: yarn prettier --write

Use v6
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  pnpm-lock.yaml
Due: yarn prettier --write

Addressing vulnerabilities
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Bump all contributors
  package.json
  pnpm-lock.yaml
  scripts/release.mjs
Due: yarn prettier --write

fixing typing errors
  packages/core/test/unit/infrastructure/RequestHelper.ts
  tsconfig.base.json
Due: yarn prettier --write, yarn eslint --fix

chore(deps): Update dependencies to address vulnerabilities (#3848)
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/test/__mocks__/RequestHelper.ts
  packages/core/test/unit/infrastructure/RequestHelper.ts
  packages/requester-utils/package.json
  packages/rest/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/release.mjs
  tsconfig.base.json
Due: yarn prettier --write, yarn eslint --fix

esm only
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
Due: yarn prettier --write

Fixing ref
  packages/rest/test/e2e/browser/General.ts
  packages/rest/test/e2e/browser/resources/Projects.ts
  packages/rest/test/integration/browser/General.ts
Due: yarn prettier --write, yarn eslint --fix

Improve impl
  packages/rest/test/e2e/browser/General.ts
  packages/rest/test/e2e/browser/resources/Projects.ts
  packages/rest/test/integration/browser/General.ts
Due: yarn prettier --write, yarn eslint --fix

Handle creation of cached cm image
  .circleci/config.yml
  .docker/docker-compose.yml
  scripts/build-gitlab-image.sh
  scripts/gitlab-image-19.pkr.hcl
Due: yarn prettier --write

Updating ci
  .circleci/config.yml
Due: yarn prettier --write

Linting
  .circleci/config.yml
Due: yarn prettier --write

Using alias
  .circleci/config.yml
Due: yarn prettier --write

Reworked the vars
  .circleci/config.yml
Due: yarn prettier --write

Missing reference
  .circleci/config.yml
Due: yarn prettier --write

Wrong prop name
  scripts/gitlab-image-19.pkr.hcl
Due: none

Update config
  scripts/gitlab-image-19.pkr.hcl
Due: none

Specify a ssh user
  scripts/gitlab-image-19.pkr.hcl
Due: none

Path conditions:
  yarn prettier --write: any of: **/*.{ts,js,json,md,yml}
  yarn eslint --fix: any of: **/*.{ts,js}
