Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(core): Updating metadata
  packages/gitbeaker-core/src/services/ProjectImportExport.ts
Due: prettier --write, eslint --fix

chore(core): Explicitly exporting packages
  packages/gitbeaker-core/src/services/index.ts
Due: prettier --write, eslint --fix

fix(core): Fixing license API endpoints
  packages/gitbeaker-core/src/services/License.ts
Due: prettier --write, eslint --fix

feat: Updated an API parameter for GitLab 12.9
  packages/gitbeaker-core/src/services/ContainerRegistry.ts
Due: prettier --write, eslint --fix

test(core): Update tests
  packages/gitbeaker-core/src/infrastructure/Utils.ts
  packages/gitbeaker-core/test/unit/infrastructure/RequestHelper.ts
Due: prettier --write, eslint --fix

fix(core): Adding better handling for form type arguments (#570)
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/infrastructure/Utils.ts
  packages/gitbeaker-core/src/services/License.ts
  packages/gitbeaker-core/src/services/ProjectImportExport.ts
  packages/gitbeaker-core/src/services/Projects.ts
  packages/gitbeaker-core/src/services/Triggers.ts
  packages/gitbeaker-core/src/services/index.ts
  packages/gitbeaker-core/test/unit/infrastructure/RequestHelper.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: Release 🚀 17.0.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write

Notes added by 'git notes add'
  d850e8d2e623fedf8d376fbb4070f993e942280b
Due: none

fix: Version updates
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  yarn.lock
Due: prettier --write

chore: Release 🚀 17.0.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write

Notes added by 'git notes add'
  55404c09ca1747b14ec6041a29769711bc84006b
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

Fix example codes.
  README.md
Due: prettier --write

docs: Add example code into README.md (#639)
  README.md
Due: prettier --write

docs: Update documentation for browser imports
  README.md
Due: prettier --write

Testing out auto as a release system
  .autorc.yml
  .npmrc
  .releaserc.yml
  lerna.json
  package.json
  yarn.lock
Due: prettier --write

Cleaning up old config
  .commitlintrc.yml
  .huskyrc.yml
  lerna.json
  package.json
  yarn.lock
Due: prettier --write

Testing out auto as a release system (#693)
  .all-contributorsrc
  .autorc.yml
  .commitlintrc.yml
  .gitignore
  .huskyrc.yml
  .npmrc
  .releaserc.yml
  README.md
  lerna.json
  package.json
  yarn.lock
Due: prettier --write

Label configuration updates
  .autorc.yml
Due: prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-cli/CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: prettier --write

Update contributors [skip ci]
  .all-contributorsrc
  README.md
Due: prettier --write

Bump version to: v17.0.3 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write

Updated the removeTags API parameter for GitLab 12.9 (#647)
  packages/gitbeaker-core/src/services/ContainerRegistry.ts
Due: prettier --write, eslint --fix

Ensure checkout of master
  .gitlab-ci.yml
Due: prettier --write

Remove v prefix on release tag
  lerna.json
Due: prettier --write

Updating root version
  package.json
Due: prettier --write

docs: Updating README badges
  README.md
  packages/gitbeaker-browser/README.md
  packages/gitbeaker-cli/README.md
  packages/gitbeaker-core/README.md
  packages/gitbeaker-node/README.md
  packages/gitbeaker-requester-utils/README.md
Due: prettier --write

Check contributors
  .gitlab-ci.yml
Due: prettier --write

Testing with verbose logs
  .gitlab-ci.yml
  README.md
  package.json
  packages/gitbeaker-browser/README.md
  packages/gitbeaker-cli/README.md
  packages/gitbeaker-core/README.md
  packages/gitbeaker-node/README.md
  packages/gitbeaker-requester-utils/README.md
  yarn.lock
Due: prettier --write

Updating package version
  package.json
  yarn.lock
Due: prettier --write

Package updates
  package.json
  yarn.lock
Due: prettier --write

Updating all contributors
  .all-contributorsrc
Due: none

Trying git reset
  .gitlab-ci.yml
Due: prettier --write

Print git version
  .gitlab-ci.yml
Due: prettier --write

Double up verbosity
  .gitlab-ci.yml
  package.json
Due: prettier --write

Print remote
  .gitlab-ci.yml
Due: prettier --write

explicitly set remote for auto
  .gitlab-ci.yml
Due: prettier --write

explicitly set npm registry
  .gitlab-ci.yml
Due: prettier --write

print npm user
  .gitlab-ci.yml
Due: prettier --write

Set npmrc
  .gitignore
  .gitlab-ci.yml
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,js,json,md,yml}
  eslint --fix: any of: *.{ts,js}
