Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

Clean up
  .docker/Dockerfile.test
  package.json
  scripts/run-full-test-suite.sh
Due: yarn prettier --write

Remove more files
  .docker/docker-compose.yml
  .dockerignore
  scripts/run-full-test-suite.sh
Due: yarn prettier --write

Updating docs
  docs/TESTING.md
Due: yarn prettier --write

Update docker-compose file for easier local testing (#3770)
  .docker/docker-compose.yml
  docs/TESTING.md
  package.json
  scripts/docker-compose.yml
  scripts/run-full-test-suite.sh
  yarn.lock
Due: yarn prettier --write

Keyset pagination link update
  packages/rest/README.md
Due: yarn prettier --write

Fix README's Keyset pagination hyperlink (#3771)
  packages/rest/README.md
Due: yarn prettier --write

Update yarn lock
  yarn.lock
Due: none

Tweaking ci
  .gitlab-ci.yml
Due: yarn prettier --write

update a few links to docs.gitlab.com
  packages/cli/src/utils.ts
  packages/rest/README.md
Due: yarn prettier --write, yarn eslint --fix

Update a few links to docs.gitlab.com (#3781)
  packages/cli/src/utils.ts
  packages/rest/README.md
Due: yarn prettier --write, yarn eslint --fix

add missing "null" type for response properties
  packages/core/src/resources/Groups.ts
  packages/core/src/resources/Namespaces.ts
  packages/core/src/resources/Projects.ts
Due: yarn prettier --write, yarn eslint --fix

Add missing "null" type for response properties (#3780)
  packages/core/src/resources/Groups.ts
  packages/core/src/resources/Namespaces.ts
  packages/core/src/resources/Projects.ts
Due: yarn prettier --write, yarn eslint --fix

fix #3776: missing query parameters "archived", "active"
  packages/core/src/resources/Groups.ts
  packages/core/src/resources/Projects.ts
  packages/requester-utils/src/RequesterUtils.ts
Due: yarn prettier --write, yarn eslint --fix

revert unrelated changes
  packages/requester-utils/src/RequesterUtils.ts
Due: yarn prettier --write, yarn eslint --fix

Add missing query parameters "archived", "active" to Groups|Projects.all (#3778)
  packages/core/src/resources/Groups.ts
  packages/core/src/resources/Projects.ts
Due: yarn prettier --write, yarn eslint --fix

add discussion_id to WebhookBaseNoteEventSchema
  packages/core/src/resources/Webhooks.ts
Due: yarn prettier --write, yarn eslint --fix

Add discussion_id to WebhookBaseNoteEventSchema (#3775)
  packages/core/src/resources/Webhooks.ts
Due: yarn prettier --write, yarn eslint --fix

Update yarn lock (#3773)
  .gitlab-ci.yml
  yarn.lock
Due: yarn prettier --write

Add pagination types to MergeRequests.allPipelines
  packages/core/src/resources/MergeRequests.ts
Due: yarn prettier --write, yarn eslint --fix

linting
  packages/core/src/resources/MergeRequests.ts
Due: yarn prettier --write, yarn eslint --fix

Missed formatting
  .docker/docker-compose.yml
  docs/TESTING.md
  packages/requester-utils/src/RequesterUtils.ts
  packages/rest/README.md
Due: yarn prettier --write, yarn eslint --fix

Add pagination types to MergeRequests.allPipelines (#3784)
  .docker/docker-compose.yml
  docs/TESTING.md
  packages/core/src/resources/MergeRequests.ts
  packages/requester-utils/src/RequesterUtils.ts
  packages/rest/README.md
Due: yarn prettier --write, yarn eslint --fix

Testing missing deps for swc
  .gitlab-ci.yml
Due: yarn prettier --write

Switch images
  .gitlab-ci.yml
Due: yarn prettier --write

Switching to node:20
  .gitlab-ci.yml
Due: yarn prettier --write

Export defaultRequestHandler from Requester
  packages/rest/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

Switching again
  .circleci/config.yml
  .gitlab-ci.yml
  .husky/pre-commit
Due: yarn prettier --write

Fix
  .circleci/config.yml
Due: yarn prettier --write

Updating lint
  .circleci/config.yml
  packages/requester-utils/src/RequesterUtils.ts
Due: yarn prettier --write, yarn eslint --fix

Codecov
  .circleci/config.yml
Due: yarn prettier --write

Update playwright version
  .circleci/config.yml
Due: yarn prettier --write

Updating config
  .circleci/config.yml
Due: yarn prettier --write

Updating playwright
  .circleci/config.yml
Due: yarn prettier --write

Tweaks
  .circleci/config.yml
Due: yarn prettier --write

Path conditions:
  yarn prettier --write: any of: **/*.{ts,js,json,md,yml}
  yarn eslint --fix: any of: **/*.{ts,js}
