Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

.lintstagedrc.yml:

'**/*.{ts,js,json,md,yml}':
  - 'yarn prettier --write'
'**/*.{ts,js}':
  - 'yarn eslint --fix'

Bump version to: 39.16.0 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Add Blob to RepositoryFiles.showRaw response type
  packages/core/src/resources/RepositoryFiles.ts
Due: yarn prettier --write, yarn eslint --fix

Add Blob to RepositoryFiles.showRaw response type (#3418)
  packages/core/src/resources/RepositoryFiles.ts
Due: yarn prettier --write, yarn eslint --fix

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/core/CHANGELOG.md
Due: yarn prettier --write

Update contributors [skip ci]
  .all-contributorsrc
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/requester-utils/README.md
  packages/rest/README.md
Due: yarn prettier --write

Bump version to: 39.17.0 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

docs/FAQ.md: Add js code fence syntax
  docs/FAQ.md
Due: yarn prettier --write

Updating docs for clarity
  README.md
  packages/core/README.md
  packages/rest/README.md
Due: yarn prettier --write

Updating supported list
  packages/core/README.md
Due: yarn prettier --write

Adding additional information about showExpanded option
  packages/rest/README.md
Due: yarn prettier --write

Exposing GroupSAMLLinks API
  packages/core/src/resources/index.ts
Due: yarn prettier --write, yarn eslint --fix

Exposing GroupSAMLLinks throughout the packages
  packages/core/src/resources/Gitlab.ts
  packages/rest/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

Add support for CodeSuggestions
  packages/core/src/resources/CodeSuggestions.ts
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/index.ts
  packages/rest/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

Add support for GeoSites API
  packages/core/src/resources/GeoNodes.ts
  packages/core/src/resources/GeoSites.ts
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/index.ts
  packages/rest/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

Adding missed push rule attributes
  packages/core/src/templates/ResourcePushRules.ts
Due: yarn prettier --write, yarn eslint --fix

Adding support for the SearchAdmin and GroupEpicBoards APIs
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/GroupEpicBoards.ts
  packages/core/src/resources/SearchAdmin.ts
  packages/core/src/resources/index.ts
  packages/core/src/templates/ResourceIssueBoards.ts
  packages/rest/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

docs/FAQ.md: Add js code fence syntax (#3422)
  docs/FAQ.md
Due: yarn prettier --write

Adding missed push rule attributes (#3425)
  packages/core/src/templates/ResourcePushRules.ts
Due: yarn prettier --write, yarn eslint --fix

Fixing editable arguments for geonodes
  packages/core/src/resources/GeoNodes.ts
Due: yarn prettier --write, yarn eslint --fix

Add support for the SearchAdmin, GroupEpicBoards, GeoSites and CodeSuggestion APIs (#3424)
  packages/core/src/resources/CodeSuggestions.ts
  packages/core/src/resources/GeoSites.ts
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/GroupEpicBoards.ts
  packages/core/src/resources/SearchAdmin.ts
  packages/core/src/resources/index.ts
  packages/core/src/templates/ResourceIssueBoards.ts
  packages/rest/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

Removing commented out docs
  packages/core/README.md
Due: yarn prettier --write

Fixing source path
  packages/core/README.md
Due: yarn prettier --write

Minor tweaks to link paths
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/requester-utils/README.md
  packages/rest/README.md
Due: yarn prettier --write

Improve docs to highlight supported APIs (#3423)
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/index.ts
  packages/requester-utils/README.md
  packages/rest/README.md
  packages/rest/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

Adjust e2e tests for latest API additions
  packages/rest/test/e2e/browser/index.ts
Due: yarn prettier --write, yarn eslint --fix

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/requester-utils/CHANGELOG.md
  packages/rest/CHANGELOG.md
Due: yarn prettier --write

Bump version to: 39.18.0 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Removing debug message
  packages/rest/test/e2e/browser/resources/Projects.ts
Due: yarn prettier --write, yarn eslint --fix

Debug browser tests
  packages/rest/test/e2e/browser/resources/Projects.ts
Due: yarn prettier --write, yarn eslint --fix

Fixing implementation and updating unit tests
  packages/requester-utils/src/BaseResource.ts
  packages/requester-utils/src/RequesterUtils.ts
  packages/requester-utils/test/unit/RequesterUtils.ts
  packages/rest/package.json
  packages/rest/test/integration/nodejs/resources/Issues.ts
  packages/rest/test/unit/Requester.ts
Due: yarn prettier --write, yarn eslint --fix

Updating unit tests
  packages/requester-utils/test/unit/RequesterUtils.ts
Due: yarn prettier --write, yarn eslint --fix

Adjusting function tests
  packages/requester-utils/src/RequesterUtils.ts
  packages/requester-utils/test/unit/RequesterUtils.ts
Due: yarn prettier --write, yarn eslint --fix

Updating tests and ensuring the rate limit time unit
  packages/requester-utils/src/BaseResource.ts
  packages/requester-utils/src/RequesterUtils.ts
  packages/requester-utils/test/unit/RequesterUtils.ts
Due: yarn prettier --write, yarn eslint --fix

Updating default values
  packages/requester-utils/src/BaseResource.ts
  packages/requester-utils/src/RequesterUtils.ts
Due: yarn prettier --write, yarn eslint --fix

Prototype support for rate limits
  packages/requester-utils/package.json
  packages/requester-utils/src/BaseResource.ts
  packages/requester-utils/src/RequesterUtils.ts
  packages/rest/src/Requester.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Update types
  packages/requester-utils/test/unit/RequesterUtils.ts
Due: yarn prettier --write, yarn eslint --fix

Updating unit tests
  packages/requester-utils/src/BaseResource.ts
  packages/requester-utils/src/RequesterUtils.ts
  packages/requester-utils/test/unit/BaseResource.ts
  packages/requester-utils/test/unit/RequesterUtils.ts
  packages/rest/src/Requester.ts
Due: yarn prettier --write, yarn eslint --fix

100p coverage on the requester-utils library
  packages/requester-utils/src/RequesterUtils.ts
  packages/requester-utils/test/unit/BaseResource.ts
Due: yarn prettier --write, yarn eslint --fix

Add missing imports
  packages/rest/test/e2e/browser/assets/test-import.html
Due: none
