Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

Update playwright image
  .circleci/config.yml
Due: yarn prettier --write

Debug canary
  .circleci/config.yml
Due: yarn prettier --write

formatting
  .circleci/config.yml
Due: yarn prettier --write

Fixing misnamed file
  .autorc.yml
  scripts/auto-before-commit-changelog-plugin.cjs
Due: yarn prettier --write

Adding some logs
  .circleci/config.yml
Due: yarn prettier --write

Update dependencies to address security alerts (#3799)
  .autorc.yml
  .circleci/config.yml
  .eslintignore
  .eslintrc.yml
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.11.0.cjs
  .yarnrc.yml
  eslint.config.mjs
  package.json
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/core/package.json
  packages/core/src/infrastructure/Utils.ts
  packages/core/test/integration/map.ts
  packages/core/test/unit/infrastructure/RequestHelper.ts
  packages/requester-utils/package.json
  packages/requester-utils/src/GitbeakerError.ts
  packages/requester-utils/test/unit/BaseResource.ts
  packages/requester-utils/test/unit/RequesterUtils.ts
  packages/rest/package.json
  packages/rest/src/Requester.ts
  scripts/auto-before-commit-changelog-plugin.cjs
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Bump yarn lock
  yarn.lock
Due: none

Regenerate yarn lock after dependency updates (#3800)
  yarn.lock
Due: none

Remove resolution
  .circleci/config.yml
  package.json
  yarn.lock
Due: yarn prettier --write

Tweaking memory flags
  .circleci/config.yml
Due: yarn prettier --write

Benchmarking
  .circleci/config.yml
Due: yarn prettier --write

Testing
  .circleci/config.yml
Due: yarn prettier --write

More tinkering
  .circleci/config.yml
Due: yarn prettier --write

More resolutuons for recent security issues
  package.json
  yarn.lock
Due: yarn prettier --write

Removing workers restriction
  .circleci/config.yml
Due: yarn prettier --write

Fixing build
  package.json
  yarn.lock
Due: yarn prettier --write

More flags
  .circleci/config.yml
Due: yarn prettier --write

More tweaks
  jest.config.base.mjs
Due: none

Clean up
  .circleci/config.yml
  jest.config.base.mjs
Due: yarn prettier --write

Add memberEvents option to AddResourceHookOptions
  packages/core/src/templates/ResourceHooks.ts
Due: yarn prettier --write, yarn eslint --fix

fix(rest): correct exponential backoff delay from seconds to milliseconds
  packages/rest/src/Requester.ts
  packages/rest/test/unit/Requester.ts
Due: yarn prettier --write, yarn eslint --fix

fix(rest): correct exponential backoff delay from seconds to milliseconds (#3806)
  packages/rest/src/Requester.ts
  packages/rest/test/unit/Requester.ts
Due: yarn prettier --write, yarn eslint --fix

Add memberEvents option to AddResourceHookOptions (#3804)
  packages/core/src/templates/ResourceHooks.ts
Due: yarn prettier --write, yarn eslint --fix

Improve webhook reviewer type definitions
  packages/core/src/resources/MergeRequests.ts
  packages/core/src/resources/Webhooks.ts
Due: yarn prettier --write, yarn eslint --fix

Improve webhook reviewer type definitions (#3803)
  packages/core/src/resources/MergeRequests.ts
  packages/core/src/resources/Webhooks.ts
Due: yarn prettier --write, yarn eslint --fix

chore(depy): upgrade qs
  package.json
  packages/core/package.json
  packages/requester-utils/package.json
  yarn.lock
Due: yarn prettier --write

feat: Support inputs on pipeline creation
  packages/core/src/resources/Pipelines.ts
  packages/core/test/unit/resources/Pipelines.ts
Due: yarn prettier --write, yarn eslint --fix

Fix codeql-analysis branch reference
  .github/workflows/codeql-analysis.yml
Due: yarn prettier --write

Add GitHub Quality workflows
  .github/workflows/lint.yml
  package.json
  yarn.lock
Due: yarn prettier --write

Add GitHub Test Workflow
  .github/workflows/test.yml
Due: yarn prettier --write

Fix codeql-analysis branch reference from `master` to `main` (#3813)
  .github/workflows/codeql-analysis.yml
Due: yarn prettier --write

Improve trigger
  .circleci/config.yml
Due: yarn prettier --write

Formatting
  packages/core/src/resources/Webhooks.ts
Due: yarn prettier --write, yarn eslint --fix

Improving pipeline config (#3816)
  .circleci/config.yml
  packages/core/src/resources/Webhooks.ts
Due: yarn prettier --write, yarn eslint --fix

Adding dedicated codecov job
  .circleci/config.yml
Due: yarn prettier --write

Adjust filter
  .circleci/config.yml
Due: yarn prettier --write

Adding dedicated codecov upload job (#3817)
  .circleci/config.yml
Due: yarn prettier --write

feat: JobArtifacts.downloadArchive: Add support for search_recent_successful_pipelines
  packages/core/src/resources/JobArtifacts.ts
  packages/core/test/unit/resources/JobArtifacts.ts
Due: yarn prettier --write, yarn eslint --fix

Fixing up deps
  lerna.json
  package.json
  yarn.lock
Due: yarn prettier --write

Test exclude bump
  package.json
  yarn.lock
Due: yarn prettier --write

Path conditions:
  yarn prettier --write: any of: **/*.{ts,js,json,md,yml}
  yarn eslint --fix: any of: **/*.{ts,js}
