Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

.lintstagedrc.yml:

'**/*.{ts,js,json,md,yml}':
  - 'yarn prettier --write'
'**/*.{ts,js}':
  - 'yarn eslint --fix'

add back lerna for release support
  lerna.json
  package.json
  yarn.lock
Due: yarn prettier --write

add back lerna for release support
  package.json
  yarn.lock
Due: yarn prettier --write

Adding back schema
  lerna.json
Due: yarn prettier --write

Testing
  .autorc.yml
  .changeset/config.json
  .circleci/config.yml
  package.json
  scripts/auto-before-commit-changelog-plugin.cjs
  scripts/check-release-label.sh
  scripts/generate-changesets-from-labels.mjs
  scripts/release.mjs
  yarn.lock
Due: yarn prettier --write

Clean up
  scripts/generate-changesets-from-labels.mjs
  scripts/release.mjs
Due: none

Add logs
  .circleci/config.yml
Due: yarn prettier --write

Testing
  .circleci/config.yml
  scripts/check-release-label.mjs
  scripts/check-release-label.sh
  scripts/generate-changesets-from-labels.mjs
  scripts/github-api.mjs
  scripts/release.mjs
Due: yarn prettier --write

Cleaning up scripts
  .circleci/config.yml
  scripts/check-release-label.mjs
  scripts/generate-changesets-from-labels.mjs
  scripts/github-api.mjs
  scripts/release.mjs
Due: yarn prettier --write

fixing
  scripts/release.mjs
Due: none

Adding retry
  eslint.config.mjs
  gitlab-env.txt
  jest.config.base.mjs
  jest.setup.ts
  package.json
  tsconfig.base.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Line endings
  .gitattributes
  eslint.config.mjs
  jest.config.base.mjs
  packages/core/src/resources/EpicIssues.ts
  packages/core/src/resources/GroupCustomAttributes.ts
  packages/core/src/resources/GroupMarkdownUploads.ts
  packages/core/src/resources/GroupRepositoryStorageMoves.ts
  packages/core/src/resources/IssueNoteAwardEmojis.ts
  packages/core/src/resources/MergeRequestNoteAwardEmojis.ts
  packages/core/src/resources/MergeRequests.ts
  packages/core/src/resources/ProjectAccessRequests.ts
  packages/core/src/resources/ProjectCustomAttributes.ts
  packages/core/src/resources/ProjectMarkdownUploads.ts
  packages/core/src/resources/ProjectRepositoryStorageMoves.ts
  packages/core/src/resources/ProjectSnippetAwardEmojis.ts
  packages/core/src/resources/ProjectSnippetDiscussions.ts
  packages/core/src/resources/SnippetRepositoryStorageMoves.ts
  packages/core/src/resources/UserCustomAttributes.ts
  packages/core/src/resources/Webhooks.ts
Due: yarn prettier --write, yarn eslint --fix

Logs
  scripts/release.mjs
Due: none

Testing
  scripts/release.mjs
Due: none

Testing
  package.json
  yarn.lock
Due: yarn prettier --write

Formatting
  package.json
Due: yarn prettier --write

More script updates
  scripts/release.mjs
Due: none

Fixing missing ref
  scripts/release.mjs
Due: none

Fixing comment
  scripts/release.mjs
Due: none

Leverage github bot
  .github/workflows/post-release-comment.yml
  scripts/release.mjs
Due: yarn prettier --write

Clean up
  scripts/release.mjs
Due: none

Formatting
  .circleci/config.yml
Due: yarn prettier --write

Debugging
  .circleci/config.yml
Due: yarn prettier --write

Fixing
  .circleci/config.yml
Due: yarn prettier --write

Update
  .circleci/config.yml
Due: yarn prettier --write

Testing
  .circleci/config.yml
  package.json
  prettier.config.mjs
Due: yarn prettier --write

Update
  package.json
  yarn.lock
Due: yarn prettier --write

Debug
  .circleci/config.yml
  packages/core/src/resources/EpicIssues.ts
  packages/core/src/resources/GroupCustomAttributes.ts
  packages/core/src/resources/GroupMarkdownUploads.ts
  packages/core/src/resources/GroupRepositoryStorageMoves.ts
  packages/core/src/resources/IssueNoteAwardEmojis.ts
  packages/core/src/resources/MergeRequestNoteAwardEmojis.ts
  packages/core/src/resources/MergeRequests.ts
  packages/core/src/resources/ProjectAccessRequests.ts
  packages/core/src/resources/ProjectCustomAttributes.ts
  packages/core/src/resources/ProjectMarkdownUploads.ts
  packages/core/src/resources/ProjectRepositoryStorageMoves.ts
  packages/core/src/resources/ProjectSnippetAwardEmojis.ts
  packages/core/src/resources/ProjectSnippetDiscussions.ts
  packages/core/src/resources/SnippetRepositoryStorageMoves.ts
  packages/core/src/resources/UserCustomAttributes.ts
  packages/core/src/resources/Webhooks.ts
Due: yarn prettier --write, yarn eslint --fix

Caching
  .circleci/config.yml
Due: yarn prettier --write

ci: Migrate off of auto-it to remove lerna dep and nested security dep limitations (#3819)
  .autorc.yml
  .changeset/config.json
  .circleci/config.yml
  .gitattributes
  .github/workflows/post-release-comment.yml
  eslint.config.mjs
  gitlab-env.txt
  jest.config.base.mjs
  jest.setup.ts
  package.json
  prettier.config.mjs
  scripts/auto-before-commit-changelog-plugin.cjs
  scripts/release.mjs
  tsconfig.base.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix

Replace qs dependency with picoquery for smaller bundle size
  packages/core/package.json
  packages/core/src/infrastructure/RequestHelper.ts
  packages/core/src/infrastructure/Utils.ts
  packages/requester-utils/package.json
  packages/requester-utils/src/RequesterUtils.ts
Due: yarn prettier --write, yarn eslint --fix

Updating
  .circleci/config.yml
  docs/TESTING.md
  lint-staged.config.base.mjs
  package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/core/README.md
  packages/core/package.json
  packages/requester-utils/README.md
  packages/requester-utils/package.json
  packages/rest/README.md
  packages/rest/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/run-full-test-suite.sh
  yarn.lock
Due: yarn prettier --write

Testing
  lint-staged.config.base.mjs
Due: none

Updatign call
  .circleci/config.yml
Due: yarn prettier --write
