Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

.lintstagedrc.yml:

'**/*.{ts,js,json,md,yml}':
  - 'yarn prettier --write'
'**/*.{ts,js}':
  - 'yarn eslint --fix'

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/core/CHANGELOG.md
Due: yarn prettier --write

Update contributors [skip ci]
  .all-contributorsrc
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/requester-utils/README.md
  packages/rest/README.md
Due: yarn prettier --write

Bump version to: 40.3.0 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Fix Namespace exists type
  packages/core/src/resources/Namespaces.ts
Due: yarn prettier --write, yarn eslint --fix

Fix Namespace exists method typing (#3635)
  packages/core/src/resources/Namespaces.ts
Due: yarn prettier --write, yarn eslint --fix

Bump version to: 40.4.0 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

feat: add `topLevelOnly` to `Namespaces.all`
  packages/core/src/resources/Namespaces.ts
Due: yarn prettier --write, yarn eslint --fix

Update method for removing invitations
  packages/core/src/templates/ResourceInvitations.ts
Due: yarn prettier --write, yarn eslint --fix

Update method for removing invitations (#3639)
  packages/core/src/templates/ResourceInvitations.ts
Due: yarn prettier --write, yarn eslint --fix

Bump version to: 40.5.0 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Add missing `topLevelOnly` typing to `Namespaces.all` (#3637)
  packages/core/src/resources/Namespaces.ts
Due: yarn prettier --write, yarn eslint --fix

Bump version to: 40.5.1 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Linting
  packages/rest/src/Requester.ts
Due: yarn prettier --write, yarn eslint --fix

Updating error message in test
  packages/rest/test/unit/Requester.ts
Due: yarn prettier --write, yarn eslint --fix

Updating missing expanded types from `Issues.all`
  packages/core/src/resources/Issues.ts
Due: yarn prettier --write, yarn eslint --fix

Updating `allowedToCreate` type to an array
  packages/core/src/resources/ProtectedTags.ts
Due: yarn prettier --write, yarn eslint --fix

Implement MergeRequests.allIssuesRelated()
  packages/core/src/resources/MergeRequests.ts
  packages/core/test/unit/resources/MergeRequests.ts
Due: yarn prettier --write, yarn eslint --fix

Fix tests
  packages/core/test/unit/resources/MergeRequests.ts
Due: yarn prettier --write, yarn eslint --fix

Updating `allowedToCreate` type to an array (#3641)
  packages/core/src/resources/ProtectedTags.ts
Due: yarn prettier --write, yarn eslint --fix

Implement MergeRequests.allIssuesRelated() (#3642)
  packages/core/src/resources/MergeRequests.ts
  packages/core/test/unit/resources/MergeRequests.ts
Due: yarn prettier --write, yarn eslint --fix

Updating missing expanded types from `Issues.all` (#3640)
  packages/core/src/resources/Issues.ts
Due: yarn prettier --write, yarn eslint --fix

Request Retry Error Message Adjustment (#3626)
  packages/rest/src/Requester.ts
  packages/rest/test/unit/Requester.ts
Due: yarn prettier --write, yarn eslint --fix

Adding support for ProjectJobTokenScopes, GroupJobTokenScopes
  .husky/pre-commit
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/GroupJobTokenScopes.ts
  packages/core/src/resources/ProjectJobTokenScopes.ts
  packages/core/src/resources/index.ts
  packages/core/src/templates/ResourceJobTokenScopes.ts
  packages/core/src/templates/index.ts
  packages/core/test/unit/templates/ResourceJobTokenScopes.ts
Due: yarn prettier --write, yarn eslint --fix

Fixing references
  packages/core/src/resources/Gitlab.ts
Due: yarn prettier --write, yarn eslint --fix

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/rest/CHANGELOG.md
Due: yarn prettier --write

Update contributors [skip ci]
  .all-contributorsrc
Due: none

Bump version to: 40.6.0 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Updating further references to include new files / remove old one
  packages/core/test/unit/resources/JobTokenScopes.ts
  packages/rest/src/index.ts
  packages/rest/test/e2e/browser/General.ts
  packages/rest/test/integration/browser/General.ts
Due: yarn prettier --write, yarn eslint --fix

Last reference update
  packages/core/test/integration/map.ts
Due: yarn prettier --write, yarn eslint --fix

Adding support for `GroupJobTokenScopes` and moved `JobTokenScopes` to `ProjectJobTokenScopes`(#3643)
  .husky/pre-commit
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/GroupJobTokenScopes.ts
  packages/core/src/resources/ProjectJobTokenScopes.ts
  packages/core/src/resources/index.ts
  packages/core/src/templates/ResourceJobTokenScopes.ts
  packages/core/src/templates/index.ts
  packages/core/test/integration/map.ts
  packages/core/test/unit/resources/JobTokenScopes.ts
  packages/core/test/unit/templates/ResourceJobTokenScopes.ts
  packages/rest/src/index.ts
  packages/rest/test/e2e/browser/General.ts
  packages/rest/test/integration/browser/General.ts
Due: yarn prettier --write, yarn eslint --fix

Bump version to: 41.0.0 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Switching the `Users.edit` method to use formData
  packages/core/src/resources/Users.ts
Due: yarn prettier --write, yarn eslint --fix

Updating tests
  packages/core/test/unit/resources/Users.ts
Due: yarn prettier --write, yarn eslint --fix

Linting
  packages/core/test/unit/resources/Users.ts
Due: yarn prettier --write, yarn eslint --fix
