Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.yml:

'*.{ts,js,json,md,yml}':
  - 'prettier --write'
'*.{ts,js}':
  - 'eslint --fix'

chore: 🤖 Moved CI to gitlab-ci
  .gitlab-ci.yml
  .travis.yml
Due: prettier --write

feat: 🎸 Added support for GITBEAKER_[Property] env variable
  packages/gitbeaker-cli/src/index.ts
Due: prettier --write, eslint --fix

refactor: 💡 Updated the function header for Group.create
  packages/gitbeaker-core/src/services/Groups.ts
Due: prettier --write, eslint --fix

refactor: 💡 Updated the License API
  packages/gitbeaker-core/src/services/License.ts
  packages/gitbeaker-core/src/services/index.ts
  src/core/services/Licence.ts
Due: prettier --write, eslint --fix

fix: 🐛 Notification Settings API switch to put requests
  packages/gitbeaker-core/src/services/NotificationSettings.ts
  packages/gitbeaker-core/src/services/index.ts
Due: prettier --write, eslint --fix

fix: 🐛 ResourceTemplate.show was using the wrong http method
  packages/gitbeaker-core/src/templates/ResourceTemplates.ts
  packages/gitbeaker-core/src/templates/index.ts
Due: prettier --write, eslint --fix

refactor: 💡 Adjusted the argument order for ResourceAwardEmojis
  packages/gitbeaker-core/src/templates/ResourceAwardEmojis.ts
  packages/gitbeaker-core/src/templates/index.ts
Due: prettier --write, eslint --fix

chore: 🤖 Moved CLI tests into the integration folder
  packages/gitbeaker-cli/test/integration/index.ts
Due: prettier --write, eslint --fix

refactor: 💡 Removed integration tests and old unit tests
  test/integration/bin/index.ts
  test/integration/bundles/ProjectsBundle.ts
  test/integration/services/ApplicationSettings.ts
  test/integration/services/Commits.ts
  test/integration/services/Issues.ts
  test/integration/services/Labels.ts
  test/integration/services/Projects.ts
  test/integration/services/PushRules.ts
  test/integration/services/Snippets.ts
  test/unit/bin/index.ts
  test/unit/infrastructure/BaseService.ts
Due: prettier --write, eslint --fix

chore: 🤖 Updated the test docker scripts
  scripts/docker-compose.yml
  scripts/init.rb
  scripts/probe.js
  test/docker/init_data.rb
  test/docker/test_readiness.js
Due: prettier --write, eslint --fix

test: 💍 Added tests for all template files
  packages/gitbeaker-core/test/unit/templates/ResourceAccessRequests.ts
  packages/gitbeaker-core/test/unit/templates/ResourceAwardEmojis.ts
  packages/gitbeaker-core/test/unit/templates/ResourceBadges.ts
  packages/gitbeaker-core/test/unit/templates/ResourceCustomAttributes.ts
  packages/gitbeaker-core/test/unit/templates/ResourceDiscussions.ts
  packages/gitbeaker-core/test/unit/templates/ResourceIssueBoards.ts
  packages/gitbeaker-core/test/unit/templates/ResourceLabels.ts
  packages/gitbeaker-core/test/unit/templates/ResourceMembers.ts
  packages/gitbeaker-core/test/unit/templates/ResourceMilestones.ts
  packages/gitbeaker-core/test/unit/templates/ResourceNotes.ts
  packages/gitbeaker-core/test/unit/templates/ResourceTemplates.ts
  packages/gitbeaker-core/test/unit/templates/ResourceVariables.ts
Due: prettier --write, eslint --fix

test: 💍 Adding test for GotRequester
  packages/gitbeaker-node/test/unit/GotRequester.ts
Due: prettier --write, eslint --fix

docs: ✏️ Fixing typo in issues url for the package.json
  package.json
Due: prettier --write

test(gitbeaker-cli): 💍 Moved CLI tests into the integration folder
  packages/gitbeaker-cli/test/integration/index.ts
Due: prettier --write, eslint --fix

ci: 🤖 Updated the test docker scripts
  scripts/docker-compose.yml
  scripts/init.rb
  scripts/probe.js
  test/docker/init_data.rb
  test/docker/test_readiness.js
Due: prettier --write, eslint --fix

refactor(gitbeaker-core): 💡 Updated the License API
  packages/gitbeaker-core/src/services/License.ts
  packages/gitbeaker-core/src/services/index.ts
  src/core/services/Licence.ts
Due: prettier --write, eslint --fix

test(gitbeaker-node): 💍 Adding test for GotRequester
  packages/gitbeaker-node/test/unit/GotRequester.ts
Due: prettier --write, eslint --fix

refactor(gitbeaker-core): 💡 Adjusted the argument order for ResourceAwardEmojis
  packages/gitbeaker-core/src/templates/ResourceAwardEmojis.ts
  packages/gitbeaker-core/src/templates/index.ts
Due: prettier --write, eslint --fix

chore: Fixing set package versions
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
Due: prettier --write

refactor(gitbeaker-core): 💡 Updated the function header for Group.create
  packages/gitbeaker-core/src/services/Groups.ts
Due: prettier --write, eslint --fix

chore: ✏️ Updating release configuration and commit linting
  .commitlintrc.yml
  .huskyrc.yml
  .npmrc
  .releaserc.yml
  lerna.json
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  yarn.lock
Due: prettier --write

feat(gitbeaker-cli): 🎸 Added support for GITBEAKER_[Property] env variable
  packages/gitbeaker-cli/src/index.ts
Due: prettier --write, eslint --fix

fix(gitbeaker-core): 🐛 Notification Settings API special PUT requests
  packages/gitbeaker-core/src/services/NotificationSettings.ts
  packages/gitbeaker-core/src/services/index.ts
Due: prettier --write, eslint --fix

ci: Moved from Travis CI to GitLab-CI
  .gitlab-ci.yml
  .travis.yml
Due: prettier --write

test(gitbeaker-core): 💍 Added tests for all template files
  packages/gitbeaker-core/test/unit/templates/ResourceAccessRequests.ts
  packages/gitbeaker-core/test/unit/templates/ResourceAwardEmojis.ts
  packages/gitbeaker-core/test/unit/templates/ResourceBadges.ts
  packages/gitbeaker-core/test/unit/templates/ResourceCustomAttributes.ts
  packages/gitbeaker-core/test/unit/templates/ResourceDiscussions.ts
  packages/gitbeaker-core/test/unit/templates/ResourceIssueBoards.ts
  packages/gitbeaker-core/test/unit/templates/ResourceLabels.ts
  packages/gitbeaker-core/test/unit/templates/ResourceMembers.ts
  packages/gitbeaker-core/test/unit/templates/ResourceMilestones.ts
  packages/gitbeaker-core/test/unit/templates/ResourceNotes.ts
  packages/gitbeaker-core/test/unit/templates/ResourceTemplates.ts
  packages/gitbeaker-core/test/unit/templates/ResourceVariables.ts
Due: prettier --write, eslint --fix

fix(gitbeaker-core): 🐛 ResourceTemplate.show was using the wrong http method
  packages/gitbeaker-core/src/templates/ResourceTemplates.ts
  packages/gitbeaker-core/src/templates/index.ts
Due: prettier --write, eslint --fix

chore: 🤖 Switching from npm to yarn, and updating global deps
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

test(gitbeaker-core): 💍 Removed integration tests and old unit tests
  test/integration/bin/index.ts
  test/integration/bundles/ProjectsBundle.ts
  test/integration/services/ApplicationSettings.ts
  test/integration/services/Commits.ts
  test/integration/services/Issues.ts
  test/integration/services/Labels.ts
  test/integration/services/Projects.ts
  test/integration/services/PushRules.ts
  test/integration/services/Snippets.ts
  test/unit/bin/index.ts
  test/unit/infrastructure/BaseService.ts
Due: prettier --write, eslint --fix

chore: Fix up commitizen
  package.json
Due: prettier --write

chore: Updating release message
  lerna.json
Due: prettier --write

chore: Github release
  lerna.json
Due: prettier --write

chore: testing
  .releaserc.yml
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  ec71e4c547cdb02858848a2437d482980ce63b16
Due: none

Notes added by 'git notes add'
  2763b3a5865079a4adfd08348c84425936b5bf19
Due: none
