Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Using formdata node instead
  packages/gitbeaker-requester-utils/package.json
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
  packages/gitbeaker-requester-utils/test/unit/RequesterUtils.ts
Due: prettier --write, eslint --fix

Switch to formdata node
  packages/gitbeaker-core/package.json
  packages/gitbeaker-core/src/infrastructure/Utils.ts
  packages/gitbeaker-core/test/unit/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/test/unit/infrastructure/Utils.ts
Due: prettier --write, eslint --fix

Switch to formdata node
  packages/gitbeaker-node/package.json
  packages/gitbeaker-node/test/unit/GotRequester.ts
Due: prettier --write, eslint --fix

Update yarn.lock
  yarn.lock
Due: none

Testing out esbuild
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-browser/rollup.config.js
  packages/gitbeaker-requester-utils/package.json
  packages/gitbeaker-requester-utils/rollup.config.js
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

Updating rollup config
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-browser/rollup.config.js
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-cli/rollup.config.js
  packages/gitbeaker-core/package.json
  packages/gitbeaker-core/rollup.config.js
  packages/gitbeaker-node/package.json
  packages/gitbeaker-node/rollup.config.js
  packages/gitbeaker-requester-utils/package.json
  packages/gitbeaker-requester-utils/rollup.config.js
  rollup.config.js
Due: prettier --write, eslint --fix

Fixing more config
  packages/gitbeaker-core/package.json
  packages/gitbeaker-core/rollup.config.js
  packages/gitbeaker-core/src/infrastructure/Utils.ts
  packages/gitbeaker-node/rollup.config.js
  packages/gitbeaker-requester-utils/rollup.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Build passing, lint passing
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-browser/rollup.config.js
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-cli/rollup.config.js
  packages/gitbeaker-core/package.json
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/infrastructure/Utils.ts
  packages/gitbeaker-node/src/index.ts
  packages/gitbeaker-requester-utils/src/BaseService.ts
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
  yarn.lock
Due: prettier --write, eslint --fix

Debugging tests
  jest.config.base.js
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/test/unit/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/test/unit/services/Issues.ts
Due: prettier --write, eslint --fix

More debugging
  jest.config.base.js
  packages/gitbeaker-core/test/unit/services/Issues.ts
  packages/gitbeaker-core/tsconfig.json
  tsconfig.jest.json
Due: prettier --write, eslint --fix

Updating tsconfig
  jest.config.base.js
  packages/gitbeaker-browser/tsconfig.json
  packages/gitbeaker-cli/tsconfig.json
  packages/gitbeaker-core/tsconfig.json
  packages/gitbeaker-node/tsconfig.json
  packages/gitbeaker-requester-utils/tsconfig.json
  tsconfig.jest.json
Due: prettier --write, eslint --fix

Fixing tests
  packages/gitbeaker-browser/src/KyRequester.ts
  packages/gitbeaker-browser/test/unit/KyRequester.ts
  packages/gitbeaker-cli/src/cli.ts
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-node/test/unit/GotRequester.ts
  packages/gitbeaker-requester-utils/src/BaseService.ts
  packages/gitbeaker-requester-utils/test/unit/RequesterUtils.ts
Due: prettier --write, eslint --fix

Updating packages
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  yarn.lock
Due: prettier --write

Fixing deps
  packages/gitbeaker-browser/package.json
Due: prettier --write

Downgrade esbuild until PR is merged, and update deps
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  yarn.lock
Due: prettier --write

Linting
  packages/gitbeaker-node/src/GotRequester.ts
Due: prettier --write, eslint --fix

Updating unit tests [skip ci]
  packages/gitbeaker-node/test/unit/GotRequester.ts
Due: prettier --write, eslint --fix

Updating auto deps
  package.json
  yarn.lock
Due: prettier --write

Updating terser usage to be only on the browser release
  packages/gitbeaker-browser/rollup.config.js
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  rollup.config.js
Due: prettier --write, eslint --fix

Update ts-node
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  yarn.lock
Due: prettier --write

Externalize formdata
  packages/gitbeaker-browser/rollup.config.js
Due: prettier --write, eslint --fix

Further package updates
  package.json
  yarn.lock
Due: prettier --write

Dependency Updates
  package.json
  yarn.lock
Due: prettier --write

Updating requester-utils deps
  packages/gitbeaker-requester-utils/package.json
  yarn.lock
Due: prettier --write

Updating core deps
  packages/gitbeaker-core/package.json
  yarn.lock
Due: prettier --write

Updating cli deps
  packages/gitbeaker-cli/package.json
  yarn.lock
Due: prettier --write

Updating browser deps
  packages/gitbeaker-browser/package.json
  yarn.lock
Due: prettier --write

Updating node deps
  packages/gitbeaker-node/package.json
  yarn.lock
Due: prettier --write

Updating linting deps
  package.json
  yarn.lock
Due: prettier --write

update rollup for requester utils
  packages/gitbeaker-requester-utils/package.json
  yarn.lock
Due: prettier --write

Updating openpgp
  packages/gitbeaker-node/package.json
  yarn.lock
Due: prettier --write

fix(docs): Change `npm` to `yarn` for development (#1107)
  README.md
Due: prettier --write

feat: apply exponental backoff for 429 errors
  packages/gitbeaker-browser/src/KyRequester.ts
  packages/gitbeaker-node/src/GotRequester.ts
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
Due: prettier --write, eslint --fix

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  README.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-cli/CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: prettier --write

Update contributors [skip ci]
  .all-contributorsrc
  README.md
Due: prettier --write

Bump version to: 23.6.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write

Updating changelog [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-cli/CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: prettier --write

Update CommitDiscussions.ts
  packages/gitbeaker-core/src/services/CommitDiscussions.ts
Due: prettier --write, eslint --fix

Update CommitDiscussions.ts (#1168)
  packages/gitbeaker-core/src/services/CommitDiscussions.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,js,json,md,yml}
  eslint --fix: any of: *.{ts,js}
