Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

.lintstagedrc.yml:

'**/*.{ts,js,json,md,yml}':
  - 'yarn prettier --write'
'**/*.{ts,js}':
  - 'yarn eslint --fix'

Update lock
  pnpm-lock.yaml
Due: none

Clean up e2e job
  .circleci/config.yml
Due: yarn prettier --write

dep: Switch from eslint to oxlint (#3839)
  .circleci/config.yml
  .oxlintrc.json
  eslint.config.mjs
  nx.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/test/unit/infrastructure/RequestHelper.ts
  packages/core/test/unit/resources/DashboardAnnotations.ts
  packages/core/test/unit/resources/Keys.ts
  packages/core/test/unit/resources/PyPI.ts
  packages/requester-utils/package.json
  packages/requester-utils/test/unit/BaseResource.ts
  packages/rest/package.json
  packages/rest/test/e2e/browser/resources/Projects.ts
  pnpm-lock.yaml
Due: yarn prettier --write, yarn eslint --fix

Bump packages
  package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  pnpm-lock.yaml
Due: yarn prettier --write

Remove swc install
  .circleci/config.yml
Due: yarn prettier --write

Add back pnpm install
  .circleci/config.yml
Due: yarn prettier --write

chore: Bump minor dependencies (#3840)
  .circleci/config.yml
  package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  pnpm-lock.yaml
Due: yarn prettier --write

Update infra
  packages/core/src/infrastructure/RequestHelper.ts
  packages/core/src/infrastructure/Utils.ts
Due: yarn prettier --write, yarn eslint --fix

Linting
  packages/core/src/resources/Environments.ts
  packages/core/src/resources/Groups.ts
Due: yarn prettier --write, yarn eslint --fix

Fixing tests
  packages/core/test/unit/resources/PackageRegistry.ts
  packages/rest/test/unit/Requester.ts
Due: yarn prettier --write, yarn eslint --fix

Update request utils
  packages/requester-utils/src/BaseResource.ts
  packages/requester-utils/src/RequesterUtils.ts
  packages/requester-utils/test/unit/RequesterUtils.ts
Due: yarn prettier --write, yarn eslint --fix

Update rest
  packages/rest/src/Requester.ts
  packages/rest/test/e2e/nodejs/resources/Projects.ts
Due: yarn prettier --write, yarn eslint --fix

Adding a test for the original issue
  packages/rest/test/e2e/nodejs/resources/PackageRegistry.ts
Due: yarn prettier --write, yarn eslint --fix

Update pkg.json
  package.json
Due: yarn prettier --write

Fixing import order
  packages/requester-utils/src/RequesterUtils.ts
Due: yarn prettier --write, yarn eslint --fix

Parse out the pagination generic
  packages/core/src/infrastructure/RequestHelper.ts
Due: yarn prettier --write, yarn eslint --fix

feat: JobArtifacts.downloadArchive: Add support for search_recent_successful_pipelines with an artifact path
  packages/core/test/unit/resources/JobArtifacts.ts
Due: yarn prettier --write, yarn eslint --fix

Fixing rebase conflicts
  packages/core/src/resources/JobArtifacts.ts
Due: yarn prettier --write, yarn eslint --fix

Fixing url
  packages/core/src/infrastructure/Utils.ts
  packages/core/test/unit/resources/Issues.ts
  packages/core/test/unit/resources/JobArtifacts.ts
  packages/core/test/unit/resources/Projects.ts
  packages/core/test/unit/resources/Runners.ts
  packages/core/test/unit/resources/Snippets.ts
Due: yarn prettier --write, yarn eslint --fix

feat: JobArtifacts.downloadArchive: Add support for search_recent_successful_pipelines with an artifact path (#3834)
  packages/core/src/infrastructure/Utils.ts
  packages/core/src/resources/JobArtifacts.ts
  packages/core/test/unit/resources/Issues.ts
  packages/core/test/unit/resources/JobArtifacts.ts
  packages/core/test/unit/resources/Projects.ts
  packages/core/test/unit/resources/Runners.ts
  packages/core/test/unit/resources/Snippets.ts
Due: yarn prettier --write, yarn eslint --fix

Fixing broken tests
  packages/cli/src/cli.ts
  packages/core/test/unit/infrastructure/RequestHelper.ts
  packages/core/test/unit/resources/DashboardAnnotations.ts
  packages/core/test/unit/resources/Keys.ts
  packages/core/test/unit/resources/MergeRequestApprovals.ts
  packages/core/test/unit/resources/MergeRequests.ts
  packages/core/test/unit/resources/PyPI.ts
  packages/rest/test/unit/Requester.ts
  vitest.config.base.mjs
Due: yarn prettier --write, yarn eslint --fix

Remove test code
  packages/requester-utils/test/unit/RequesterUtils.ts
Due: yarn prettier --write, yarn eslint --fix

Fixing merge conflicts
  packages/rest/package.json
Due: yarn prettier --write

Rebasing
  pnpm-lock.yaml
Due: none

More tweaks
  global.d.ts
  package.json
  packages/cli/vitest.config.mjs
  packages/core/vitest.config.mjs
  packages/requester-utils/test/unit/BaseResource.ts
  packages/requester-utils/test/unit/RequesterUtils.ts
  packages/requester-utils/vitest.config.mjs
  packages/rest/vitest.config.mjs
  pnpm-lock.yaml
  tsconfig.base.json
  vitest.config.base.mjs
  vitest.setup.ts
Due: yarn prettier --write, yarn eslint --fix

Fixing testS
  packages/core/test/__mocks__/RequestHelper.ts
Due: yarn prettier --write, yarn eslint --fix

Bump licence
  LICENSE.md
Due: yarn prettier --write
