Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.yml:

'*.{ts,js,json,md,yml}':
  - 'prettier --write'
'*.{ts,js}':
  - 'eslint --fix'

Updating min node version supported (#957)
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-cli/CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: prettier --write

Bump version to: 23.4.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
Due: prettier --write

Bump version to: 23.4.1 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write

Bump version to: 23.4.2 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write

fix(browser): return early if response headers empty
  packages/gitbeaker-browser/src/KyRequester.ts
Due: prettier --write, eslint --fix

fix(browser): return early if response headers empty (#1034)
  packages/gitbeaker-browser/src/KyRequester.ts
Due: prettier --write, eslint --fix

Fixing check for FormData
  packages/gitbeaker-node/package.json
  packages/gitbeaker-node/src/GotRequester.ts
  packages/gitbeaker-requester-utils/package.json
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
Due: prettier --write, eslint --fix

fix(node): return value needs parse
  packages/gitbeaker-node/src/GotRequester.ts
Due: prettier --write, eslint --fix

Linting
  packages/gitbeaker-browser/src/KyRequester.ts
Due: prettier --write, eslint --fix

Fixing support for FormData requests (#1056)
  packages/gitbeaker-browser/src/KyRequester.ts
  packages/gitbeaker-node/package.json
  packages/gitbeaker-node/src/GotRequester.ts
  packages/gitbeaker-requester-utils/package.json
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
Due: prettier --write, eslint --fix

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: prettier --write

Update contributors [skip ci]
  .all-contributorsrc
  README.md
Due: prettier --write

Bump version to: 23.5.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: prettier --write

Response body needs parse firstly when it's type is json (#1057)
  packages/gitbeaker-node/src/GotRequester.ts
Due: prettier --write, eslint --fix

Update CommitDiscussions.ts
  packages/gitbeaker-core/src/services/CommitDiscussions.ts
Due: prettier --write, eslint --fix

Updating unit tests [skip ci]
  packages/gitbeaker-node/src/GotRequester.ts
  packages/gitbeaker-node/test/unit/GotRequester.ts
Due: prettier --write, eslint --fix

Updating yarn lock
  yarn.lock
Due: none

fix(docs): Change `npm` to `yarn` for development
  README.md
Due: prettier --write

feat: apply exponental backoff for 429 errors
  packages/gitbeaker-browser/src/KyRequester.ts
  packages/gitbeaker-node/src/GotRequester.ts
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
Due: prettier --write, eslint --fix

fix(core): ignore header links
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
Due: prettier --write, eslint --fix

Updating all packages
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  yarn.lock
Due: prettier --write

Lock rollup to 2.24.0
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  yarn.lock
Due: prettier --write

Fixing type errors
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/infrastructure/Utils.ts
Due: prettier --write, eslint --fix

Clean up errors
  .eslintrc.yml
  packages/gitbeaker-core/src/services/ApplicationSettings.ts
  packages/gitbeaker-core/src/services/EpicNotes.ts
  packages/gitbeaker-core/src/services/IssueNotes.ts
  packages/gitbeaker-core/src/services/Issues.ts
  packages/gitbeaker-core/src/services/IssuesStatistics.ts
  packages/gitbeaker-core/src/services/MergeRequestNotes.ts
  packages/gitbeaker-core/src/services/NotificationSettings.ts
  packages/gitbeaker-core/src/services/ProjectSnippetNotes.ts
  packages/gitbeaker-core/test/unit/infrastructure/BaseService.ts
  packages/gitbeaker-core/test/unit/infrastructure/RequestHelper.ts
Due: prettier --write, eslint --fix

Clean up a few warnings
  packages/gitbeaker-core/src/services/Branches.ts
  packages/gitbeaker-core/src/services/BroadcastMessages.ts
  packages/gitbeaker-core/src/services/Commits.ts
  packages/gitbeaker-core/src/services/Deployments.ts
Due: prettier --write, eslint --fix

Package updates
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  yarn.lock
Due: prettier --write

More linting
  packages/gitbeaker-browser/src/KyRequester.ts
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/infrastructure/Utils.ts
  packages/gitbeaker-core/src/services/Commits.ts
  packages/gitbeaker-core/src/services/Deployments.ts
  packages/gitbeaker-core/src/services/Environments.ts
  packages/gitbeaker-core/src/services/Groups.ts
  packages/gitbeaker-core/src/services/Jobs.ts
  packages/gitbeaker-core/src/services/Pipelines.ts
  packages/gitbeaker-core/src/services/Projects.ts
  packages/gitbeaker-core/src/services/RepositoryFiles.ts
  packages/gitbeaker-core/src/services/Runners.ts
  packages/gitbeaker-core/src/services/Users.ts
  packages/gitbeaker-core/src/templates/ResourceVariables.ts
  packages/gitbeaker-node/src/GotRequester.ts
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
Due: prettier --write, eslint --fix

Improving typing
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
Due: prettier --write, eslint --fix

Linting some more type info
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/services/CommitDiscussions.ts
  packages/gitbeaker-core/src/services/EpicDiscussions.ts
  packages/gitbeaker-core/src/services/GitLabCIYMLTemplates.ts
  packages/gitbeaker-core/src/services/GitignoreTemplates.ts
  packages/gitbeaker-core/src/services/GroupAccessRequests.ts
  packages/gitbeaker-core/src/services/GroupBadges.ts
  packages/gitbeaker-core/src/services/GroupCustomAttributes.ts
  packages/gitbeaker-core/src/services/GroupDeployTokens.ts
  packages/gitbeaker-core/src/services/GroupIssueBoards.ts
  packages/gitbeaker-core/src/services/GroupLabels.ts
  packages/gitbeaker-core/src/services/GroupMembers.ts
  packages/gitbeaker-core/src/services/GroupMilestones.ts
  packages/gitbeaker-core/src/services/GroupVariables.ts
  packages/gitbeaker-core/src/services/LicenceTemplates.ts
  packages/gitbeaker-core/src/services/ProjectAccessRequests.ts
  packages/gitbeaker-core/src/services/ProjectDeployTokens.ts
  packages/gitbeaker-core/src/services/ProjectMembers.ts
Due: prettier --write, eslint --fix

Fixing typescript and lint errors
  packages/gitbeaker-browser/src/KyRequester.ts
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/services/ApplicationSettings.ts
  packages/gitbeaker-core/src/services/Branches.ts
  packages/gitbeaker-core/src/services/BroadcastMessages.ts
  packages/gitbeaker-core/src/services/Commits.ts
  packages/gitbeaker-core/src/services/Deployments.ts
  packages/gitbeaker-core/src/services/Environments.ts
  packages/gitbeaker-core/src/services/EpicNotes.ts
  packages/gitbeaker-core/src/services/GroupBadges.ts
  packages/gitbeaker-core/src/services/IssueAwardEmojis.ts
  packages/gitbeaker-core/src/services/IssueDiscussions.ts
  packages/gitbeaker-core/src/services/IssueNotes.ts
  packages/gitbeaker-core/src/services/Labels.ts
  packages/gitbeaker-core/src/services/MergeRequestAwardEmojis.ts
  packages/gitbeaker-core/src/services/MergeRequestDiscussions.ts
  packages/gitbeaker-core/src/services/MergeRequestNotes.ts
  packages/gitbeaker-core/src/services/ProjectBadges.ts
  packages/gitbeaker-core/src/services/ProjectCustomAttributes.ts
  packages/gitbeaker-core/src/services/ProjectIssueBoards.ts
  packages/gitbeaker-core/src/services/ProjectMilestones.ts
  packages/gitbeaker-core/src/services/ProjectSnippetAwardEmojis.ts
  packages/gitbeaker-core/src/services/ProjectSnippetDiscussions.ts
  packages/gitbeaker-core/src/services/ProjectSnippetNotes.ts
  packages/gitbeaker-core/src/services/ProjectVariables.ts
  packages/gitbeaker-core/src/services/UserCustomAttributes.ts
  packages/gitbeaker-core/src/templates/ResourceAccessRequests.ts
  packages/gitbeaker-core/src/templates/ResourceAwardEmojis.ts
  packages/gitbeaker-core/src/templates/ResourceBadges.ts
  packages/gitbeaker-core/src/templates/ResourceCustomAttributes.ts
  packages/gitbeaker-core/src/templates/ResourceDeployTokens.ts
  packages/gitbeaker-core/src/templates/ResourceDiscussions.ts
  packages/gitbeaker-core/src/templates/ResourceIssueBoards.ts
  packages/gitbeaker-core/src/templates/ResourceLabels.ts
  packages/gitbeaker-core/src/templates/ResourceMembers.ts
  packages/gitbeaker-core/src/templates/ResourceMilestones.ts
  packages/gitbeaker-core/src/templates/ResourceNotes.ts
  packages/gitbeaker-core/src/templates/ResourceTemplates.ts
  packages/gitbeaker-core/src/templates/ResourceVariables.ts
Due: prettier --write, eslint --fix

Incorrect ref
  packages/gitbeaker-core/test/unit/infrastructure/RequestHelper.ts
Due: prettier --write, eslint --fix

More typing fixes
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/services/Groups.ts
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  yarn.lock
Due: prettier --write, eslint --fix

Build and lint passing
  packages/gitbeaker-browser/src/KyRequester.ts
  packages/gitbeaker-core/test/unit/infrastructure/RequestHelper.ts
  packages/gitbeaker-node/src/GotRequester.ts
  packages/gitbeaker-requester-utils/package.json
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
  packages/gitbeaker-requester-utils/test/unit/BaseService.ts
  packages/gitbeaker-requester-utils/test/unit/RequesterUtils.ts
Due: prettier --write, eslint --fix

Unit tests passing
  packages/gitbeaker-browser/test/unit/KyRequester.ts
  packages/gitbeaker-node/test/unit/GotRequester.ts
Due: prettier --write, eslint --fix

Updating terser usage to be only on the browser release
  packages/gitbeaker-browser/rollup.config.js
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  rollup.config.js
Due: prettier --write, eslint --fix

Updating formdata being used
  packages/gitbeaker-core/package.json
  packages/gitbeaker-core/src/infrastructure/Utils.ts
  packages/gitbeaker-core/test/unit/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/test/unit/infrastructure/Utils.ts
  packages/gitbeaker-node/package.json
  packages/gitbeaker-node/test/unit/GotRequester.ts
  packages/gitbeaker-requester-utils/package.json
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
  yarn.lock
Due: prettier --write, eslint --fix
