Repository jdalrymple/gitbeaker: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix

.lintstagedrc.yml:

'**/*.{ts,js,json,md,yml}':
  - 'yarn prettier --write'
'**/*.{ts,js}':
  - 'yarn eslint --fix'

Tweaks
  .circleci/config.yml
Due: yarn prettier --write

testing
  .circleci/config.yml
Due: yarn prettier --write

Switch to circle CI
  .circleci/config.yml
  .gitlab-ci.yml
  .husky/pre-commit
  packages/requester-utils/src/RequesterUtils.ts
Due: yarn prettier --write, yarn eslint --fix

Migrate to Circle CI to improve PR cycle time (#3788)
  .circleci/config.yml
  .gitlab-ci.yml
  .husky/pre-commit
  packages/requester-utils/src/RequesterUtils.ts
Due: yarn prettier --write, yarn eslint --fix

Add improved codecov support and further repo maintenance
  .circleci/config.yml
  .codeclimate.yml
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  LICENSE.md
  README.md
  codecov.yml
  lint-staged.config.base.mjs
  lint-staged.config.mjs
  package.json
  packages/cli/README.md
  packages/core/README.md
  packages/requester-utils/README.md
  packages/rest/README.md
  yarn.lock
Due: yarn prettier --write

More readme clean up
  packages/cli/README.md
  packages/core/README.md
  packages/requester-utils/README.md
  packages/rest/README.md
Due: yarn prettier --write

Add improved codecov support and further repo maintenance (#3790)
  .circleci/config.yml
  .codeclimate.yml
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  LICENSE.md
  README.md
  codecov.yml
  lint-staged.config.base.mjs
  lint-staged.config.mjs
  package.json
  packages/cli/README.md
  packages/core/README.md
  packages/requester-utils/README.md
  packages/rest/README.md
  yarn.lock
Due: yarn prettier --write

Fixing deployment
  .circleci/config.yml
Due: yarn prettier --write

Update production deployment pipeline (#3791)
  .circleci/config.yml
Due: yarn prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  gitlab-env.txt
  packages/cli/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/requester-utils/CHANGELOG.md
  packages/rest/CHANGELOG.md
Due: yarn prettier --write

Update contributors [skip ci]
  .all-contributorsrc
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/requester-utils/README.md
  packages/rest/README.md
Due: yarn prettier --write

Bump version to: 43.6.0 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Additional codecov changes
  .circleci/config.yml
  codecov.yml
Due: yarn prettier --write

Include codecov reports in PR comments (#3795)
  .circleci/config.yml
  codecov.yml
Due: yarn prettier --write

Fixing incorrect function args
  packages/core/src/resources/CommitDiscussions.ts
  packages/core/src/resources/EpicDiscussions.ts
  packages/core/src/resources/IssueDiscussions.ts
  packages/core/src/resources/MergeRequestDiscussions.ts
  packages/core/src/resources/ProjectSnippetDiscussions.ts
  packages/core/src/templates/ResourceDiscussions.ts
  packages/core/test/unit/templates/ResourceDiscussions.ts
Due: yarn prettier --write, yarn eslint --fix

Fix Discussions addNote function arguments (#3792)
  packages/core/src/resources/CommitDiscussions.ts
  packages/core/src/resources/EpicDiscussions.ts
  packages/core/src/resources/IssueDiscussions.ts
  packages/core/src/resources/MergeRequestDiscussions.ts
  packages/core/src/resources/ProjectSnippetDiscussions.ts
  packages/core/src/templates/ResourceDiscussions.ts
  packages/core/test/unit/templates/ResourceDiscussions.ts
Due: yarn prettier --write, yarn eslint --fix

fix: return type of "MergeRequests.allPipelines" is "PipelineSchema[]"
  packages/core/src/resources/MergeRequests.ts
Due: yarn prettier --write, yarn eslint --fix

Update return type of "MergeRequests.allPipelines" to "PipelineSchema[]" (#3794)
  packages/core/src/resources/MergeRequests.ts
Due: yarn prettier --write, yarn eslint --fix

Export defaultRequestHandler from Requester
  packages/rest/src/index.ts
Due: yarn prettier --write, yarn eslint --fix

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  gitlab-env.txt
  packages/core/CHANGELOG.md
Due: yarn prettier --write

Bump version to: 43.7.0 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Cleaning up typing a bit
  packages/core/src/infrastructure/RequestHelper.ts
  packages/core/src/infrastructure/Utils.ts
  packages/requester-utils/src/RequesterUtils.ts
Due: yarn prettier --write, yarn eslint --fix

Add "reviewers" sub-resource for MergeRequests resource showing detailed list of MR reviewers including their review state
  packages/core/src/resources/MergeRequests.ts
  packages/core/test/unit/resources/MergeRequests.ts
Due: yarn prettier --write, yarn eslint --fix

Add "reviewers" sub-resource for MergeRequests resource (#3796)
  packages/core/src/resources/MergeRequests.ts
  packages/core/test/unit/resources/MergeRequests.ts
Due: yarn prettier --write, yarn eslint --fix

Bump version to: 43.8.0 [skip ci]
  lerna.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Updating deps to address security concerns
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write

Update eslint
  .eslintignore
  .eslintrc.yml
  eslint.config.mjs
  package.json
  yarn.lock
Due: yarn prettier --write

More tweaks
  eslint.config.mjs
Due: none

Update yarn
  .yarnrc.yml
  package.json
Due: yarn prettier --write

Update yarn binary
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.11.0.cjs
Due: none

Update eslint config
  eslint.config.mjs
  packages/cli/src/cli.ts
  packages/core/src/infrastructure/Utils.ts
  packages/core/test/integration/map.ts
  packages/core/test/unit/infrastructure/RequestHelper.ts
  packages/requester-utils/src/GitbeakerError.ts
  packages/requester-utils/test/unit/BaseResource.ts
  packages/requester-utils/test/unit/RequesterUtils.ts
  packages/rest/src/Requester.ts
Due: yarn prettier --write, yarn eslint --fix

Updating deps
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  yarn.lock
Due: yarn prettier --write
