Repository jdalrymple/gitbeaker: changes, and which Codecov flags are due for each by the changed paths.
All: Requester Utils, Core, REST, CLI

codecov.yml:

codecov:
  max_report_age: false
  require_ci_to_pass: false

comment:
  layout: 'diff,components,tree'
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

github_checks:
  annotations: true

bundle_analysis:
  status: informational

coverage:
  status:
    changes: true
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: requester-utils
      name: 'Requester Utils'
      paths:
        - packages/requester-utils/**
    - component_id: core
      name: 'Core'
      paths:
        - packages/core/**
    - component_id: rest
      name: 'REST'
      paths:
        - packages/rest/**
    - component_id: cli
      name: 'CLI'
      paths:
        - packages/cli/**

Config
  .circleci/config.yml
Due: none

Another try
  .circleci/config.yml
Due: none

Missing -w
  .circleci/config.yml
Due: none

Updating img
  .circleci/config.yml
  packages/rest/package.json
  pnpm-lock.yaml
Due: REST

enh: Switch to pnpm (#3820)
  .circleci/config.yml
  docs/TESTING.md
  lint-staged.config.base.mjs
  package.json
  packages/cli/README.md
  packages/cli/package.json
  packages/core/README.md
  packages/core/package.json
  packages/requester-utils/README.md
  packages/requester-utils/package.json
  packages/rest/README.md
  packages/rest/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/run-full-test-suite.sh
  yarn.lock
Due: Requester Utils, Core, REST, CLI

Dep updates
  .circleci/config.yml
  package.json
  pnpm-lock.yaml
Due: none

Updates
  .circleci/config.yml
  package.json
  packages/requester-utils/package.json
  pnpm-lock.yaml
Due: Requester Utils

Clean up
  .yarn/releases/yarn-4.11.0.cjs
  packages/requester-utils/src/RequesterUtils.ts
  packages/rest/test/assets/test-import.html
Due: Requester Utils, REST

Debug
  package.json
  pnpm-lock.yaml
Due: none

Pin
  package.json
Due: none

Pin
  pnpm-lock.yaml
Due: none

Replace qs dependency with picoquery for smaller bundle size
  packages/cli/test/e2e/resources/Projects.ts
  packages/core/package.json
  packages/core/src/infrastructure/RequestHelper.ts
  packages/core/src/infrastructure/Utils.ts
  packages/requester-utils/package.json
  packages/requester-utils/src/RequesterUtils.ts
  pnpm-lock.yaml
Due: Requester Utils, Core, CLI

Force the type
  packages/cli/test/e2e/resources/Projects.ts
Due: CLI

Missing a reference
  packages/rest/test/assets/test-import.html
Due: REST

Resolve lodash to be greater than the sec warning version
  package.json
Due: none

Add second dep resolution
  package.json
Due: none

Update deps
  pnpm-lock.yaml
Due: none

feat: JobArtifacts.downloadArchive: Add support for search_recent_successful_pipelines
  packages/core/src/resources/JobArtifacts.ts
  packages/core/test/unit/resources/JobArtifacts.ts
Due: Core

feat: Support inputs on pipeline creation
  packages/core/src/resources/Pipelines.ts
  packages/core/test/unit/resources/Pipelines.ts
Due: Core

List project jobs scope attribute: Add array of strings support
  packages/core/src/resources/Jobs.ts
  packages/core/test/unit/resources/Jobs.ts
Due: Core

Fix tests
  packages/core/test/unit/resources/Jobs.ts
Due: Core

Fix formatting
  packages/core/src/resources/Jobs.ts
Due: Core

Touch jobs to re-trigger tests
  packages/core/src/resources/Jobs.ts
Due: Core

Revert touch
  packages/core/src/resources/Jobs.ts
Due: Core

Add JSDoc to Jobs API
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/Jobs.ts
Due: Core

Migrate packages
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  pnpm-lock.yaml
Due: Requester Utils, Core, REST, CLI

Updating lock file
  pnpm-lock.yaml
Due: none

Use node 22 LTS
  .circleci/config.yml
Due: none

More specific version
  .circleci/config.yml
Due: none

Flip build order
  packages/core/package.json
Due: Core

Debug ci job
  .circleci/config.yml
Due: none

Fixing naming convention
  .circleci/config.yml
Due: none

Testing
  .circleci/config.yml
Due: none

dep: Replace tsup with tsdown (#3837)
  .circleci/config.yml
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  pnpm-lock.yaml
Due: Requester Utils, Core, REST, CLI

Removing eslint dep
  .oxlintrc.json
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/test/unit/infrastructure/RequestHelper.ts
  packages/requester-utils/package.json
  packages/rest/package.json
Due: Requester Utils, Core, REST, CLI

Clean up old deps
  .circleci/config.yml
  .oxlintrc.json
  eslint.config.mjs
  nx.json
  package.json
  packages/core/test/unit/infrastructure/RequestHelper.ts
  packages/core/test/unit/resources/DashboardAnnotations.ts
  packages/core/test/unit/resources/Keys.ts
  packages/core/test/unit/resources/PyPI.ts
  packages/requester-utils/test/unit/BaseResource.ts
  packages/rest/test/e2e/browser/resources/Projects.ts
Due: Requester Utils, Core, REST
