Repository jdalrymple/gitbeaker: changes, and which Codecov flags are due for each by the changed paths.
All: cli, core, browser, node, utils

codecov.yml:

codecov:
  max_report_age: off

comment: false

coverage:
  precision: 2
  round: down
  status:
    project:
      default: off
      cli:
        target: 60%
        flags: cli
      core:
        target: 60%
        flags: core
      browser:
        target: 60%
        flags: browser
      node:
        target: 60%
        flags: node
      utils:
        target: 60%
        flags: utils

flags:
  cli:
    paths:
      - packages/gitbeaker-cli/src
  core:
    paths:
      - packages/gitbeaker-core/src
  browser:
    paths:
      - packages/gitbeaker-browser/src
  node:
    paths:
      - packages/gitbeaker-node/src
  utils:
    paths:
      - packages/gitbeaker-requester-utils/src

Updating unit tests
  packages/gitbeaker-node/test/unit/GotRequester.ts
Due: none

perform retries on a wider range of error codes
  packages/gitbeaker-browser/src/KyRequester.ts
  packages/gitbeaker-node/src/GotRequester.ts
Due: browser, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-cli/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
Due: none

Bump version to: 24.0.3 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Fix Agent-Type error due to Got update in GotRequester.ts (#1224)
  packages/gitbeaker-node/src/GotRequester.ts
  packages/gitbeaker-node/test/unit/GotRequester.ts
Due: node

Adding MR rebase endpoint (#1225)
  packages/gitbeaker-core/src/services/MergeRequests.ts
Due: core

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
Due: none

Bump version to: 24.1.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Handling nesting of not query parameter (#1223)
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
Due: utils

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: none

Bump version to: 24.2.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Add support for Freeze Periods
  README.md
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-core/src/index.ts
  packages/gitbeaker-core/src/services/FreezePeriods.ts
  packages/gitbeaker-core/src/services/index.ts
  packages/gitbeaker-core/test/unit/services/FreezePeriods.ts
  packages/gitbeaker-node/src/index.ts
Due: core, browser, node

Add support for Freeze Periods (#1231)
  README.md
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-core/src/index.ts
  packages/gitbeaker-core/src/services/FreezePeriods.ts
  packages/gitbeaker-core/src/services/index.ts
  packages/gitbeaker-core/test/unit/services/FreezePeriods.ts
  packages/gitbeaker-node/src/index.ts
Due: core, browser, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
Due: none

Update contributors [skip ci]
  .all-contributorsrc
  README.md
Due: none

Bump version to: 24.3.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Add approval rule management
  packages/gitbeaker-core/src/services/MergeRequests.ts
  packages/gitbeaker-core/test/unit/services/MergeRequests.ts
Due: core

Move Approval API into MergeRequestApprovals
  README.md
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-core/src/index.ts
  packages/gitbeaker-core/src/services/MergeRequestApprovals.ts
  packages/gitbeaker-core/src/services/MergeRequests.ts
  packages/gitbeaker-core/src/services/index.ts
  packages/gitbeaker-core/test/unit/bundles/ProjectsBundle.ts
  packages/gitbeaker-core/test/unit/services/MergeRequestApprovals.ts
  packages/gitbeaker-core/test/unit/services/MergeRequests.ts
  packages/gitbeaker-node/src/index.ts
Due: core, browser, node

Add approval rule management (#1233)
  README.md
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-core/src/index.ts
  packages/gitbeaker-core/src/services/MergeRequestApprovals.ts
  packages/gitbeaker-core/src/services/MergeRequests.ts
  packages/gitbeaker-core/src/services/index.ts
  packages/gitbeaker-core/test/unit/bundles/ProjectsBundle.ts
  packages/gitbeaker-core/test/unit/services/MergeRequestApprovals.ts
  packages/gitbeaker-core/test/unit/services/MergeRequests.ts
  packages/gitbeaker-node/src/index.ts
Due: core, browser, node

Bump version to: 25.0.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Explicitly check for null/undefined
  packages/gitbeaker-browser/src/KyRequester.ts
  packages/gitbeaker-node/src/GotRequester.ts
Due: browser, node

Add main for underlying cli library
  packages/gitbeaker-cli/package.json
Due: none

Fixing boolean check
  packages/gitbeaker-browser/src/KyRequester.ts
  packages/gitbeaker-browser/test/unit/KyRequester.ts
  packages/gitbeaker-node/src/GotRequester.ts
  packages/gitbeaker-node/test/unit/GotRequester.ts
Due: browser, node

RejectUnauthorized being set incorrectly for the NodeJS release (#1252)
  packages/gitbeaker-browser/src/KyRequester.ts
  packages/gitbeaker-browser/test/unit/KyRequester.ts
  packages/gitbeaker-node/src/GotRequester.ts
  packages/gitbeaker-node/test/unit/GotRequester.ts
Due: browser, node

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-cli/CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: none

Bump version to: 25.1.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Root dependency updates
  package.json
  yarn.lock
Due: none

Root dependency updates (#1253)
  package.json
  yarn.lock
Due: none

Fixing header conversion from Header to plain object
  packages/gitbeaker-browser/src/KyRequester.ts
Due: browser

Fixing header conversion from Header to plain object (#1290)
  packages/gitbeaker-browser/src/KyRequester.ts
Due: browser

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
Due: none

Bump version to: 25.2.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

refactor: export CommitAction interface
  packages/gitbeaker-core/src/services/Commits.ts
Due: core

Export CommitAction interface (#1307)
  packages/gitbeaker-core/src/services/Commits.ts
Due: core

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
Due: none

Bump version to: 25.3.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

fix: call `buildMap` dynamically instead of using json file
  packages/gitbeaker-cli/src/cli.ts
  packages/gitbeaker-core/scripts/generate.ts
Due: cli

fix: supress typescript warnings
  packages/gitbeaker-core/src/infrastructure/Utils.ts
Due: core
