Repository jdalrymple/gitbeaker: changes, and which Codecov flags are due for each by the changed paths.
All: cli, core, browser, node, utils

codecov.yml:

codecov:
  max_report_age: off

comment: false

coverage:
  precision: 2
  round: down
  status:
    project:
      default: off
      cli:
        target: 60%
        flags: cli
      core:
        target: 60%
        flags: core
      browser:
        target: 60%
        flags: browser
      node:
        target: 60%
        flags: node
      utils:
        target: 60%
        flags: utils

flags:
  cli:
    paths:
      - packages/gitbeaker-cli/src
  core:
    paths:
      - packages/gitbeaker-core/src
  browser:
    paths:
      - packages/gitbeaker-browser/src
  node:
    paths:
      - packages/gitbeaker-node/src
  utils:
    paths:
      - packages/gitbeaker-requester-utils/src

Debugging
  packages/gitbeaker-core/src/services/Commits.ts
  packages/gitbeaker-core/src/services/GroupProjects.ts
  packages/gitbeaker-core/src/services/Groups.ts
  packages/gitbeaker-core/src/services/Jobs.ts
  packages/gitbeaker-core/src/services/ProjectSnippetDiscussions.ts
  packages/gitbeaker-core/src/services/ProjectVariables.ts
Due: core

Build fix
  packages/gitbeaker-core/src/services/Projects.ts
Due: core

More typing
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/services/Commits.ts
  packages/gitbeaker-core/src/services/Environments.ts
  packages/gitbeaker-core/src/services/GroupProjects.ts
  packages/gitbeaker-core/src/services/GroupRunners.ts
  packages/gitbeaker-core/src/services/Groups.ts
  packages/gitbeaker-core/src/services/Projects.ts
  packages/gitbeaker-core/src/services/Runners.ts
  packages/gitbeaker-core/src/templates/ResourceLabels.ts
  packages/gitbeaker-core/src/templates/ResourceVariables.ts
Due: core

feat: implement native auth
  packages/gitbeaker-requester-utils/src/BaseService.ts
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
Due: utils

fix: handle nativeAuth's defaults in function body
  packages/gitbeaker-requester-utils/src/BaseService.ts
Due: utils

fix: add `X-CSRF-Token` header to handle other versions of gitlab
  packages/gitbeaker-requester-utils/src/BaseService.ts
Due: utils

fix: merge body with additionalBody in case it's FormData
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
Due: utils

Revert "fix: merge body with additionalBody in case it's FormData"
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
Due: utils

chore: explain `body as FormData` instead of parsing
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
Due: utils

Style changes
  packages/gitbeaker-requester-utils/src/BaseService.ts
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
Due: utils

docs: explain `nativeAuth` in further detail
  README.md
Due: none

docs: add `nativeAuth` instantiating option
  README.md
Due: none

chore: add `root: true` to eslint
  .eslintrc.yml
Due: none

Updating github issue templates [skip ci]
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature_proposal.md
  .github/ISSUE_TEMPLATE/technical_debt.md
Due: none

Handle the array situation
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
Due: core

Updating branch typing and removing broken functions (protect and unprotect which exist in the protected branches service)
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/services/Branches.ts
  packages/gitbeaker-core/src/services/Commits.ts
  packages/gitbeaker-core/src/services/ProtectedBranches.ts
Due: core

Adding types for application settings and broadcast message services
  packages/gitbeaker-core/src/services/ApplicationSettings.ts
  packages/gitbeaker-core/src/services/BroadcastMessages.ts
Due: core

Adding typing information for Commits
  packages/gitbeaker-core/src/services/CommitDiscussions.ts
  packages/gitbeaker-core/src/services/Commits.ts
  packages/gitbeaker-core/src/services/MergeRequests.ts
  packages/gitbeaker-core/src/templates/ResourceDiscussions.ts
Due: core

Updating repositories function to be separate for project and groups, and adding schema type information
  packages/gitbeaker-core/src/services/ContainerRegistry.ts
Due: core

Defaulting delete return type to void, and adding DeployKey types
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/services/Branches.ts
  packages/gitbeaker-core/src/services/BroadcastMessages.ts
  packages/gitbeaker-core/src/services/ContainerRegistry.ts
  packages/gitbeaker-core/src/services/DeployKeys.ts
  packages/gitbeaker-core/src/services/ProtectedBranches.ts
Due: core

Completing types for environments
  packages/gitbeaker-core/src/services/Environments.ts
Due: core

Cleaning up void return types on discussions
  packages/gitbeaker-core/src/services/CommitDiscussions.ts
  packages/gitbeaker-core/src/services/EpicDiscussions.ts
  packages/gitbeaker-core/src/templates/ResourceDiscussions.ts
Due: core

Fixing build errors
  packages/gitbeaker-core/src/services/Deployments.ts
  packages/gitbeaker-core/src/services/GroupVariables.ts
  packages/gitbeaker-core/src/services/Groups.ts
  packages/gitbeaker-core/src/services/IssueAwardEmojis.ts
  packages/gitbeaker-core/src/services/MergeRequests.ts
  packages/gitbeaker-core/src/services/ProjectAccessRequests.ts
  packages/gitbeaker-core/src/services/ProjectBadges.ts
  packages/gitbeaker-core/src/services/ProjectCustomAttributes.ts
  packages/gitbeaker-core/src/services/ProjectDeployTokens.ts
  packages/gitbeaker-core/src/services/ProjectIssueBoards.ts
  packages/gitbeaker-core/src/services/ProjectMembers.ts
  packages/gitbeaker-core/src/services/ProjectMilestones.ts
  packages/gitbeaker-core/src/services/ProjectSnippetAwardEmojis.ts
  packages/gitbeaker-core/src/services/ProjectSnippetNotes.ts
  packages/gitbeaker-core/src/services/ProjectVariables.ts
  packages/gitbeaker-core/src/services/Repositories.ts
  packages/gitbeaker-core/src/services/Todos.ts
  packages/gitbeaker-core/src/services/UserEmails.ts
  packages/gitbeaker-core/src/templates/ResourceMembers.ts
  packages/gitbeaker-core/src/templates/ResourceVariables.ts
Due: core

Adding schema for milestones, merge requests and epicissues
  packages/gitbeaker-core/src/services/EpicIssues.ts
  packages/gitbeaker-core/src/services/MergeRequests.ts
  packages/gitbeaker-core/src/services/Users.ts
  packages/gitbeaker-core/src/templates/ResourceMilestones.ts
Due: core

Abstracting issues schema and adding all discussions schemas
  packages/gitbeaker-core/src/services/EpicIssues.ts
  packages/gitbeaker-core/src/services/IssueDiscussions.ts
  packages/gitbeaker-core/src/services/Issues.ts
  packages/gitbeaker-core/src/services/MergeRequestDiscussions.ts
  packages/gitbeaker-core/src/services/ProjectSnippetDiscussions.ts
Due: core

Adding types for notes and epics
  packages/gitbeaker-core/src/services/Commits.ts
  packages/gitbeaker-core/src/services/EpicNotes.ts
  packages/gitbeaker-core/src/services/Epics.ts
  packages/gitbeaker-core/src/services/IssueNotes.ts
  packages/gitbeaker-core/src/services/MergeRequestNotes.ts
  packages/gitbeaker-core/src/services/ProjectSnippetNotes.ts
  packages/gitbeaker-core/src/templates/ResourceDiscussions.ts
  packages/gitbeaker-core/src/templates/ResourceNotes.ts
Due: core

Return types for Events, FeatureFlags, FreezePeriods and GeoNodes
  packages/gitbeaker-core/src/services/Events.ts
  packages/gitbeaker-core/src/services/FeatureFlags.ts
  packages/gitbeaker-core/src/services/FreezePeriods.ts
  packages/gitbeaker-core/src/services/GeoNodes.ts
Due: core

Add DockerfileTemplate Support
  packages/gitbeaker-core/src/services/DockerfileTemplates.ts
Due: core

Add return type for all templates
  packages/gitbeaker-core/src/services/LicenceTemplates.ts
  packages/gitbeaker-core/src/templates/ResourceTemplates.ts
Due: core

Adding many more types and fixing up default void return type
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/services/GroupBadges.ts
  packages/gitbeaker-core/src/services/GroupCustomAttributes.ts
  packages/gitbeaker-core/src/services/GroupIssueBoards.ts
  packages/gitbeaker-core/src/services/GroupVariables.ts
  packages/gitbeaker-core/src/services/IssueDiscussions.ts
  packages/gitbeaker-core/src/services/IssueNotes.ts
  packages/gitbeaker-core/src/services/MergeRequestDiscussions.ts
  packages/gitbeaker-core/src/services/MergeRequestNotes.ts
  packages/gitbeaker-core/src/services/ProjectBadges.ts
  packages/gitbeaker-core/src/services/ProjectSnippetDiscussions.ts
  packages/gitbeaker-core/src/services/ProjectSnippetNotes.ts
  packages/gitbeaker-core/src/services/ProjectVariables.ts
  packages/gitbeaker-core/src/templates/ResourceAccessRequests.ts
  packages/gitbeaker-core/src/templates/ResourceBadges.ts
  packages/gitbeaker-core/src/templates/ResourceCustomAttributes.ts
  packages/gitbeaker-core/src/templates/ResourceDiscussions.ts
  packages/gitbeaker-core/src/templates/ResourceIssueBoards.ts
  packages/gitbeaker-core/src/templates/ResourceNotes.ts
  packages/gitbeaker-core/src/templates/ResourceVariables.ts
Due: core

Rewrite HTTP method for `stream` requests in GotRequester
  CHANGELOG.md
  packages/gitbeaker-node/src/GotRequester.ts
Due: node

remove unnecessary change in changelog
  CHANGELOG.md
Due: none

Rewrite HTTP method for `stream` requests in GotRequester (#1602)
  packages/gitbeaker-node/src/GotRequester.ts
Due: node

Updating yarn.lock and adjusting problematic packages [skip ci]
  package.json
  yarn.lock
Due: none

Package updates to fix build pipeline [skip ci]
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  yarn.lock
Due: none
