Repository jdalrymple/gitbeaker: changes, and which Codecov flags are due for each by the changed paths.
All: cli, core, browser, node, utils

Add `related merge requests` and `closed by` in Issues service
  packages/gitbeaker-core/src/services/Issues.ts
Due: core

Adding another test
  packages/gitbeaker-core/test/unit/services/ProjectImportExport.ts
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: none

Bump version to: 22.0.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Fixing gitlab ci
  .gitlab-ci.yml
Due: none

Rename all issueId variables to issueIid to comply with GitLab API
  packages/gitbeaker-core/src/services/Issues.ts
  packages/gitbeaker-core/test/unit/services/Issues.ts
Due: core

Add `related merge requests` and `closed by` in Issues service (#903)
  packages/gitbeaker-core/src/services/Issues.ts
  packages/gitbeaker-core/test/unit/services/Issues.ts
Due: core

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
Due: none

Update contributors [skip ci]
  .all-contributorsrc
  README.md
Due: none

Bump version to: 22.0.1 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Updating deps
  packages/gitbeaker-browser/package.json
  yarn.lock
Due: none

:up: create todos for issues
  packages/gitbeaker-core/src/services/Todos.ts
Due: core

:up: typo
  packages/gitbeaker-core/src/services/Todos.ts
Due: core

use resourceId
  packages/gitbeaker-core/src/services/Todos.ts
Due: core

:up: refactor
  packages/gitbeaker-core/src/services/Todos.ts
Due: core

Add ability to create todos for issues (#925)
  packages/gitbeaker-core/src/services/Todos.ts
Due: core

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  README.md
  packages/gitbeaker-core/CHANGELOG.md
Due: none

Bump version to: 23.0.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Refresh yarn.lock
  yarn.lock
Due: none

Fixing up the Type exports for all the distributed libraries (#795)
  README.md
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/src/index.ts
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
  yarn.lock
Due: cli, utils

Removing exec plugin for auto in favour of local plugin
  .autorc.yml
  .eslintrc.yml
  package.json
  scripts/auto-before-commit-changelog-plugin.js
  yarn.lock
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-cli/CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: none

Bump version to: 23.1.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Fixing closes_issues endpoint
  packages/gitbeaker-core/src/services/MergeRequests.ts
Due: core

Adding ability to choose the type of archive downloaded
  packages/gitbeaker-core/src/services/Repositories.ts
  packages/gitbeaker-node/src/GotRequester.ts
  yarn.lock
Due: core, node

Adding await
  packages/gitbeaker-node/src/GotRequester.ts
Due: node

Updating tests
  packages/gitbeaker-core/test/unit/services/MergeRequests.ts
Due: none

Fixing closes_issues endpoint (#953)
  packages/gitbeaker-core/src/services/MergeRequests.ts
  packages/gitbeaker-core/test/unit/services/MergeRequests.ts
Due: core

Bump version to: 23.2.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Fixing type definitions for optional arguments
  packages/gitbeaker-core/src/services/EpicNotes.ts
  packages/gitbeaker-core/src/services/IssueNotes.ts
  packages/gitbeaker-core/src/services/MergeRequestNotes.ts
  packages/gitbeaker-core/src/services/ProjectSnippetNotes.ts
Due: core

Updating min node version supported
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Fixing type definitions for optional arguments (#956)
  packages/gitbeaker-core/src/services/EpicNotes.ts
  packages/gitbeaker-core/src/services/IssueNotes.ts
  packages/gitbeaker-core/src/services/MergeRequestNotes.ts
  packages/gitbeaker-core/src/services/ProjectSnippetNotes.ts
Due: core

Bump version to: 23.3.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Use rawbody instead to not lose encoding
  packages/gitbeaker-node/src/GotRequester.ts
Due: node

Updating encoding logic
  packages/gitbeaker-node/src/GotRequester.ts
  packages/gitbeaker-node/test/unit/GotRequester.ts
Due: node

Fixing encoding for requests of archive data (#954)
  packages/gitbeaker-core/src/services/Repositories.ts
  packages/gitbeaker-node/src/GotRequester.ts
  packages/gitbeaker-node/test/unit/GotRequester.ts
  yarn.lock
Due: core, node

Path conditions:
  cli: any of: packages/gitbeaker-cli/src
  core: any of: packages/gitbeaker-core/src
  browser: any of: packages/gitbeaker-browser/src
  node: any of: packages/gitbeaker-node/src
  utils: any of: packages/gitbeaker-requester-utils/src
