Repository jdalrymple/gitbeaker: changes, and which Codecov flags are due for each by the changed paths.
All: cli, core, browser, node, utils

codecov.yml:

codecov:
  max_report_age: off

comment: false

coverage:
  precision: 2
  round: down
  status:
    project:
      default: off
      cli:
        target: 60%
        flags: cli
      core:
        target: 60%
        flags: core
      browser:
        target: 60%
        flags: browser
      node:
        target: 60%
        flags: node
      utils:
        target: 60%
        flags: utils

flags:
  cli:
    paths:
      - packages/gitbeaker-cli/src
  core:
    paths:
      - packages/gitbeaker-core/src
  browser:
    paths:
      - packages/gitbeaker-browser/src
  node:
    paths:
      - packages/gitbeaker-node/src
  utils:
    paths:
      - packages/gitbeaker-requester-utils/src

Adding type updates for the User SSH Keys API
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-core/src/index.ts
  packages/gitbeaker-core/src/services/UserKeys.ts
  packages/gitbeaker-core/src/services/UserSSHKeys.ts
  packages/gitbeaker-core/src/services/index.ts
  packages/gitbeaker-node/src/index.ts
Due: core, browser, node

Adding type updates for the Deployments API
  packages/gitbeaker-core/src/services/Deployments.ts
Due: core

Adding type updates for the Feature Flags API
  packages/gitbeaker-core/src/services/FeatureFlags.ts
Due: core

Linting and improving charset parsing
  packages/gitbeaker-cli/src/cli.ts
Due: cli

Adding support for the Dockerfile Templates API
  packages/gitbeaker-core/src/services/DockerfileTemplates.ts
  packages/gitbeaker-core/src/services/LicenceTemplates.ts
Due: core

Adding type updates for the Commits API
  packages/gitbeaker-core/src/services/Commits.ts
Due: core

Adding type updates for the License Templates API
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-core/src/services/LicenseTemplates.ts
  packages/gitbeaker-core/src/services/index.ts
  packages/gitbeaker-node/src/index.ts
Due: core, browser, node

Adding type updates for the Container Registry API
  packages/gitbeaker-core/src/services/ContainerRegistry.ts
Due: core

Adding type updates for the Projects API
  packages/gitbeaker-core/src/services/Projects.ts
Due: core

Removing redundant Group Projects service
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-core/src/index.ts
  packages/gitbeaker-core/src/services/GroupProjects.ts
  packages/gitbeaker-core/src/services/index.ts
  packages/gitbeaker-node/src/index.ts
Due: core, browser, node

Adding type updates for the Geo Nodes API
  packages/gitbeaker-core/src/services/GeoNodes.ts
Due: core

Adding additional fixes for tests post rebase
  packages/gitbeaker-core/test/unit/services/Epics.ts
  packages/gitbeaker-core/test/unit/services/Issues.ts
Due: none

Linting and fixing a broken test
  packages/gitbeaker-cli/src/cli.ts
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/infrastructure/Utils.ts
  packages/gitbeaker-core/src/services/Projects.ts
  packages/gitbeaker-core/src/services/Repositories.ts
  packages/gitbeaker-core/src/services/RepositoryFiles.ts
  packages/gitbeaker-node/test/integration/services/Projects.ts
Due: cli, core

Further linting
  package.json
  packages/gitbeaker-node/test/integration/services/Projects.ts
Due: none

Debug tests
  packages/gitbeaker-node/test/integration/services/Projects.ts
Due: none

Lint
  packages/gitbeaker-node/test/integration/services/Projects.ts
Due: none

Skip test during ci
  packages/gitbeaker-node/test/integration/services/Projects.ts
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: none

Bump version to: 29.0.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

add Jobs.showPipelineBridges
  packages/gitbeaker-core/src/services/Jobs.ts
  packages/gitbeaker-core/test/unit/services/Jobs.ts
Due: core

Rebased PR
  packages/gitbeaker-core/src/services/Jobs.ts
  packages/gitbeaker-core/test/unit/services/Jobs.ts
Due: core

add Jobs.showPipelineBridges (#1766)
  packages/gitbeaker-core/src/services/Jobs.ts
  packages/gitbeaker-core/test/unit/services/Jobs.ts
Due: core

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
Due: none

Update contributors [skip ci]
  .all-contributorsrc
  README.md
Due: none

Bump version to: 29.1.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Linting
  packages/gitbeaker-core/src/services/Jobs.ts
Due: core

Need to figure out why prettier is throwing an error here
  .prettierrc.yml
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-cli/src/cli.ts
  packages/gitbeaker-core/package.json
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/infrastructure/Utils.ts
  packages/gitbeaker-core/src/services/GroupMilestones.ts
  packages/gitbeaker-core/src/services/Jobs.ts
  packages/gitbeaker-core/src/services/ProjectMilestones.ts
  packages/gitbeaker-core/src/services/Repositories.ts
  packages/gitbeaker-core/src/services/RepositoryFiles.ts
  packages/gitbeaker-core/src/templates/ResourceMilestones.ts
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  yarn.lock
Due: cli, core

Updating liststaged to use yarn prefix. This ensures proper path finding for the command
  .lintstagedrc.yml
  yarn.lock
Due: none

Linting config file
  .prettierrc.yml
Due: none

Updating all dependencies (#1775)
  .lintstagedrc.yml
  .prettierrc.yml
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-cli/src/cli.ts
  packages/gitbeaker-core/package.json
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/infrastructure/Utils.ts
  packages/gitbeaker-core/src/services/GroupMilestones.ts
  packages/gitbeaker-core/src/services/Jobs.ts
  packages/gitbeaker-core/src/services/ProjectMilestones.ts
  packages/gitbeaker-core/src/services/Repositories.ts
  packages/gitbeaker-core/src/services/RepositoryFiles.ts
  packages/gitbeaker-core/src/templates/ResourceMilestones.ts
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  yarn.lock
Due: cli, core

Fixing weird request format for discussions
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/services/EpicDiscussions.ts
  packages/gitbeaker-core/src/services/IssueDiscussions.ts
  packages/gitbeaker-core/src/services/MergeRequestDiscussions.ts
  packages/gitbeaker-core/src/services/ProjectSnippetDiscussions.ts
  packages/gitbeaker-core/src/templates/ResourceDiscussions.ts
Due: core

Linting
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/templates/ResourceDiscussions.ts
Due: core

Updating tests
  packages/gitbeaker-core/test/unit/templates/ResourceDiscussions.ts
Due: none

Linting
  packages/gitbeaker-core/test/unit/templates/ResourceDiscussions.ts
Due: none

Updating types
  packages/gitbeaker-core/src/services/CommitDiscussions.ts
  packages/gitbeaker-core/src/services/EpicDiscussions.ts
  packages/gitbeaker-core/src/services/IssueDiscussions.ts
  packages/gitbeaker-core/src/services/MergeRequestDiscussions.ts
  packages/gitbeaker-core/src/services/ProjectSnippetDiscussions.ts
  packages/gitbeaker-core/src/templates/ResourceDiscussions.ts
  packages/gitbeaker-core/test/unit/templates/ResourceDiscussions.ts
Due: core

Fixing weird request format for discussions (#1781)
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/services/CommitDiscussions.ts
  packages/gitbeaker-core/src/services/EpicDiscussions.ts
  packages/gitbeaker-core/src/services/IssueDiscussions.ts
  packages/gitbeaker-core/src/services/MergeRequestDiscussions.ts
  packages/gitbeaker-core/src/services/ProjectSnippetDiscussions.ts
  packages/gitbeaker-core/src/templates/ResourceDiscussions.ts
  packages/gitbeaker-core/test/unit/templates/ResourceDiscussions.ts
Due: core

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-cli/CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: none

Bump version to: 29.2.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none
