Repository jdalrymple/gitbeaker: changes, and which Codecov flags are due for each by the changed paths.
All: cli, core, browser, node, utils

Remove gitlab instance for cli tests
  .gitlab-ci.yml
  SECURITY.md
  packages/gitbeaker-cli/src/cli.ts
  packages/gitbeaker-cli/src/index.ts
  packages/gitbeaker-cli/test/integration/index.ts
  packages/gitbeaker-cli/test/unit/index.ts
Due: cli

Remove Gitlab Instance dependency for CLI tests (#883)
  .gitlab-ci.yml
  README.md
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-browser/tsconfig.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-cli/src/cli.ts
  packages/gitbeaker-cli/src/index.ts
  packages/gitbeaker-cli/test/integration/index.ts
  packages/gitbeaker-cli/test/unit/index.ts
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-node/src/index.ts
  packages/gitbeaker-requester-utils/package.json
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
  yarn.lock
Due: cli, browser, node, utils

Documentation update for 19.x (#879)
  README.md
Due: none

Issue links (get, delete) (#868)
  packages/gitbeaker-core/src/services/Issues.ts
Due: core

Adjust casing to be properly handled by the conversion to snake case in the CLI (#857)
  packages/gitbeaker-core/src/services/Issues.ts
  packages/gitbeaker-core/src/services/MergeRequestNotes.ts
  packages/gitbeaker-core/src/services/MergeRequests.ts
Due: core

Additional linting
  .autorc.yml
  packages/gitbeaker-core/src/services/Issues.ts
Due: core

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-cli/CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: none

Update contributors [skip ci]
  .all-contributorsrc
  README.md
Due: none

Bump version to: 21.0.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

v21.0.1
  packages/gitbeaker-browser/package.json
Due: none

v21.0.1
  packages/gitbeaker-cli/package.json
Due: none

v21.0.1
  packages/gitbeaker-core/package.json
Due: none

v21.0.1
  packages/gitbeaker-requester-utils/package.json
Due: none

v21.0.1
  packages/gitbeaker-node/package.json
Due: none

Updating CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-cli/CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: none

Fixing up missing commits from the latest release
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-cli/src/cli.ts
  packages/gitbeaker-cli/test/unit/index.ts
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-node/src/index.ts
  tsconfig.json
  yarn.lock
Due: cli, browser, node

Fixing up missing commits from the latest release (#886)
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-cli/src/cli.ts
  packages/gitbeaker-cli/test/unit/index.ts
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-node/src/index.ts
  tsconfig.json
  yarn.lock
Due: cli, browser, node

Fixing package versions again [skip ci]
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Adding back auto config
  .autorc.yml
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  README.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-cli/CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: none

Bump version to: 21.2.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Updating auto config to include test PRs
  .autorc.yml
Due: none

Bump version to: 21.3.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Updating Changelog.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-cli/CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: none

Adding more tests and adjusting formdata import
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
  packages/gitbeaker-requester-utils/test/unit/RequesterUtils.ts
Due: utils

Update docs for positional args and switch to parseAndExit
  README.md
  packages/gitbeaker-cli/src/cli.ts
  packages/gitbeaker-cli/src/index.ts
Due: cli

Adding more tests and adjusting formdata import (#887)
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
  packages/gitbeaker-requester-utils/test/unit/RequesterUtils.ts
Due: utils

Bump version to: 21.4.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Adding some additional docs
  README.md
  packages/gitbeaker-cli/src/cli.ts
Due: cli

Update docs for positional args and switch to parseAndExit (#888)
  README.md
  packages/gitbeaker-cli/src/cli.ts
  packages/gitbeaker-cli/src/index.ts
Due: cli

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-cli/CHANGELOG.md
Due: none

Bump version to: 21.5.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Test removal
  packages/gitbeaker-browser/src/KyRequester.ts
  packages/gitbeaker-browser/test/unit/KyRequester.ts
  packages/gitbeaker-browser/tsconfig.json
  packages/gitbeaker-cli/src/cli.ts
  packages/gitbeaker-cli/test/unit/index.ts
  packages/gitbeaker-core/scripts/tsconfig.json
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/infrastructure/Utils.ts
  packages/gitbeaker-core/test/unit/infrastructure/RequestHelper.ts
  packages/gitbeaker-node/src/GotRequester.ts
  packages/gitbeaker-node/test/unit/GotRequester.ts
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
  packages/gitbeaker-requester-utils/test/unit/RequesterUtils.ts
  tsconfig.json
Due: cli, core, browser, node, utils

Fixing extendClass function and adding more extensive tests
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
  packages/gitbeaker-requester-utils/test/unit/RequesterUtils.ts
Due: utils

Improving function structure
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
Due: utils

Removal of esinterlop to prefer namespace imports over default exports (#893)
  packages/gitbeaker-browser/src/KyRequester.ts
  packages/gitbeaker-browser/test/unit/KyRequester.ts
  packages/gitbeaker-browser/tsconfig.json
  packages/gitbeaker-cli/src/cli.ts
  packages/gitbeaker-cli/test/unit/index.ts
  packages/gitbeaker-core/scripts/tsconfig.json
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/infrastructure/Utils.ts
  packages/gitbeaker-core/test/unit/infrastructure/RequestHelper.ts
  packages/gitbeaker-node/src/GotRequester.ts
  packages/gitbeaker-node/test/unit/GotRequester.ts
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
  packages/gitbeaker-requester-utils/test/unit/RequesterUtils.ts
  tsconfig.json
Due: cli, core, browser, node, utils

Bump version to: 21.6.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Path conditions:
  cli: any of: packages/gitbeaker-cli/src
  core: any of: packages/gitbeaker-core/src
  browser: any of: packages/gitbeaker-browser/src
  node: any of: packages/gitbeaker-node/src
  utils: any of: packages/gitbeaker-requester-utils/src
