Repository jdalrymple/gitbeaker: changes, and which Codecov flags are due for each by the changed paths.
All: Requester Utils, Core, REST, CLI

Creds
  .circleci/config.yml
  scripts/gitlab-image-19.pkr.hcl
Due: none

Wrong ref
  scripts/gitlab-image-19.pkr.hcl
Due: none

Using var instead of env
  .circleci/config.yml
  scripts/gitlab-image-19.pkr.hcl
Due: none

Update script
  .circleci/config.yml
  scripts/startup.sh
Due: none

Minor tweaks
  .circleci/config.yml
  README.md
Due: none

chore: Ship ESM distributable only (#3849)
  .circleci/config.yml
  .docker/docker-compose.yml
  README.md
  packages/cli/package.json
  packages/core/package.json
  packages/requester-utils/package.json
  packages/rest/package.json
  packages/rest/test/e2e/browser/General.ts
  packages/rest/test/e2e/browser/resources/Projects.ts
  packages/rest/test/integration/browser/General.ts
  scripts/build-gitlab-image.sh
  scripts/gitlab-image-19.pkr.hcl
  scripts/startup.sh
Due: Requester Utils, Core, REST, CLI

Fix release script
  scripts/release.mjs
Due: none

Remove unused deps
  scripts/release.mjs
Due: none

Bump licence
  LICENSE.md
Due: none

chore(deps): Update dependencies to address vulnerabilities (#3848)
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/test/__mocks__/RequestHelper.ts
  packages/core/test/unit/infrastructure/RequestHelper.ts
  packages/requester-utils/package.json
  packages/rest/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/release.mjs
  tsconfig.base.json
Due: Requester Utils, Core, REST, CLI

chore: Fix release script (#3852)
  scripts/release.mjs
Due: none

Linting & Formatting
  scripts/release.mjs
Due: none

Adding pre-release script
  .circleci/config.yml
  package.json
Due: none

Adding missing cicd jobs for pre-release
  .circleci/config.yml
Due: none

Cleaning up config, release script, and deps
  .circleci/config.yml
  .oxfmtrc.json
  .yarnrc.yml
  lerna.json
  lint-staged.config.base.mjs
  lint-staged.config.mjs
  package.json
  packages/core/package.json
  packages/core/src/resources/GroupCustomAttributes.ts
  packages/core/src/resources/GroupMarkdownUploads.ts
  packages/core/src/resources/GroupRepositoryStorageMoves.ts
  packages/core/src/resources/IssueNoteAwardEmojis.ts
  packages/core/src/resources/MergeRequestNoteAwardEmojis.ts
  packages/core/src/resources/MergeRequests.ts
  packages/core/src/resources/ProjectAccessRequests.ts
  packages/core/src/resources/ProjectCustomAttributes.ts
  packages/core/src/resources/ProjectMarkdownUploads.ts
  packages/core/src/resources/ProjectRepositoryStorageMoves.ts
  packages/core/src/resources/ProjectSnippetAwardEmojis.ts
  packages/core/src/resources/ProjectSnippetDiscussions.ts
  packages/core/src/resources/SnippetRepositoryStorageMoves.ts
  packages/core/src/resources/UserCustomAttributes.ts
  packages/core/src/resources/Webhooks.ts
  packages/requester-utils/global.d.ts
  packages/requester-utils/package.json
  packages/rest/README.md
  packages/rest/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.mjs
Due: Requester Utils, Core, REST

Unneeded file
  .prettierignore
Due: none

chore: Bumping deps, updating configs and fix ci release:pre dependency (#3853)
  .circleci/config.yml
  .oxfmtrc.json
  .prettierignore
  .yarnrc.yml
  lerna.json
  lint-staged.config.base.mjs
  lint-staged.config.mjs
  package.json
  packages/core/package.json
  packages/core/src/resources/GroupCustomAttributes.ts
  packages/core/src/resources/GroupMarkdownUploads.ts
  packages/core/src/resources/GroupRepositoryStorageMoves.ts
  packages/core/src/resources/IssueNoteAwardEmojis.ts
  packages/core/src/resources/MergeRequestNoteAwardEmojis.ts
  packages/core/src/resources/MergeRequests.ts
  packages/core/src/resources/ProjectAccessRequests.ts
  packages/core/src/resources/ProjectCustomAttributes.ts
  packages/core/src/resources/ProjectMarkdownUploads.ts
  packages/core/src/resources/ProjectRepositoryStorageMoves.ts
  packages/core/src/resources/ProjectSnippetAwardEmojis.ts
  packages/core/src/resources/ProjectSnippetDiscussions.ts
  packages/core/src/resources/SnippetRepositoryStorageMoves.ts
  packages/core/src/resources/UserCustomAttributes.ts
  packages/core/src/resources/Webhooks.ts
  packages/requester-utils/global.d.ts
  packages/requester-utils/package.json
  packages/rest/README.md
  packages/rest/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.mjs
Due: Requester Utils, Core, REST

Updating release script
  .changeset/changelog-github-sans-owner.mjs
  .changeset/config.json
  .oxfmtrc.json
  CHANGELOG.md
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/requester-utils/CHANGELOG.md
  packages/rest/CHANGELOG.md
  packages/rest/package.json
  pnpm-lock.yaml
  scripts/release.mjs
Due: Requester Utils, Core, REST, CLI

Updating format
  CHANGELOG.md
Due: none

Updating release script
  scripts/release.mjs
Due: none

Brute force update for root changelog
  .changeset/config.json
  scripts/release.mjs
Due: none

changelog scripts
  .changeset/changelog-github-sans-owner.mjs
  .changeset/changelog-utils.mjs
  .changeset/config.json
  .changeset/global-changelog.mjs
  .changeset/individual-changelog.mjs
  package.json
  pnpm-lock.yaml
  scripts/release.mjs
Due: none

Linting
  CHANGELOG.md
  packages/rest/CHANGELOG.md
Due: REST

Remove debug logs
  .changeset/global-changelog.mjs
Due: none

Cleaning up
  .changeset/changelog-utils.mjs
  .changeset/config.json
  .changeset/global-changelog.mjs
Due: none

Updating config
  .changeset/config.json
  .changeset/global-changelog.mjs
Due: none

Linting
  .changeset/global-changelog.mjs
Due: none

fix: Fixing release scripts (#3856)
  .changeset/changelog-utils.mjs
  .changeset/config.json
  .changeset/global-changelog.mjs
  .changeset/individual-changelog.mjs
  .oxfmtrc.json
  CHANGELOG.md
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/requester-utils/CHANGELOG.md
  packages/rest/CHANGELOG.md
  packages/rest/package.json
  pnpm-lock.yaml
  scripts/release.mjs
Due: Requester Utils, Core, REST, CLI

Testing
  .changeset/global-changelog.mjs
Due: none

Testing
  .changeset/global-changelog.mjs
  scripts/release.mjs
Due: none

More tweaks
  .changeset/global-changelog.mjs
Due: none

Tweaks
  .changeset/global-changelog.mjs
Due: none

docs(changelog): add changelogs for 3d2fa759 [skip ci]
  CHANGELOG.md
  README.md
  packages/cli/CHANGELOG.md
  packages/cli/README.md
  packages/cli/package.json
  packages/core/CHANGELOG.md
  packages/core/README.md
  packages/core/package.json
  packages/requester-utils/CHANGELOG.md
  packages/requester-utils/README.md
  packages/requester-utils/package.json
  packages/rest/CHANGELOG.md
  packages/rest/README.md
  packages/rest/package.json
Due: Requester Utils, Core, REST, CLI

Linting
  .changeset/global-changelog.mjs
  scripts/release.mjs
Due: none

More updates
  .github/dependabot.yml
  package.json
  scripts/auto-release.mjs
  scripts/release.mjs
Due: none

Quick return, more informative logs and leveraging pnpm directly
  scripts/auto-release.mjs
Due: none

Linting
  .github/dependabot.yml
Due: none

More tweaks
  .circleci/config.yml
  scripts/auto-release.mjs
Due: none

Testing orb
  .circleci/config.yml
Due: none

Path conditions:
  Requester Utils: any of: packages/requester-utils/**
  Core: any of: packages/core/**
  REST: any of: packages/rest/**
  CLI: any of: packages/cli/**
