Repository jdalrymple/gitbeaker: changes, and which Codecov flags are due for each by the changed paths.
All: cli, core, browser, node, utils

codecov.yml:

codecov:
  max_report_age: off

comment: false

coverage:
  precision: 2
  round: down
  status:
    project:
      default: off
      cli:
        target: 60%
        flags: cli
      core:
        target: 60%
        flags: core
      browser:
        target: 60%
        flags: browser
      node:
        target: 60%
        flags: node
      utils:
        target: 60%
        flags: utils

flags:
  cli:
    paths:
      - packages/gitbeaker-cli/src
  core:
    paths:
      - packages/gitbeaker-core/src
  browser:
    paths:
      - packages/gitbeaker-browser/src
  node:
    paths:
      - packages/gitbeaker-node/src
  utils:
    paths:
      - packages/gitbeaker-requester-utils/src

Linting
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-node/test/integration/services/Issues.ts
  scripts/docker-compose.yml
Due: core

No idea where the error is
  packages/gitbeaker-node/src/GotRequester.ts
Due: node

Linting
  packages/gitbeaker-node/src/GotRequester.ts
Due: node

Update more schemas, add TODO comments for missing functions
  packages/gitbeaker-core/src/services/Jobs.ts
  packages/gitbeaker-core/src/services/MergeRequestApprovals.ts
  packages/gitbeaker-core/src/services/Namespaces.ts
  packages/gitbeaker-core/src/services/NotificationSettings.ts
  packages/gitbeaker-core/src/services/Packages.ts
  packages/gitbeaker-core/src/services/PagesDomains.ts
  packages/gitbeaker-core/src/services/Pipelines.ts
Due: core

Linting latest changes
  packages/gitbeaker-core/src/services/MergeRequestNotes.ts
  packages/gitbeaker-core/src/services/MergeRequests.ts
  packages/gitbeaker-core/src/services/NotificationSettings.ts
  packages/gitbeaker-core/src/services/Packages.ts
  packages/gitbeaker-core/src/services/PagesDomains.ts
  packages/gitbeaker-core/src/services/Pipelines.ts
Due: core

Update spelling of license
  README.md
  packages/gitbeaker-core/src/services/LicenseTemplates.ts
  packages/gitbeaker-core/src/services/index.ts
Due: core

More types
  packages/gitbeaker-core/src/services/GroupAccessRequests.ts
  packages/gitbeaker-core/src/services/PipelineScheduleVariables.ts
  packages/gitbeaker-core/src/services/PipelineSchedules.ts
  packages/gitbeaker-core/src/services/ProjectAccessRequests.ts
Due: core

Additional types
  packages/gitbeaker-core/src/services/GroupDeployTokens.ts
  packages/gitbeaker-core/src/services/MergeRequestNotes.ts
  packages/gitbeaker-core/src/services/ProjectAccessRequests.ts
  packages/gitbeaker-core/src/services/ProjectBadges.ts
  packages/gitbeaker-core/src/services/ProjectCustomAttributes.ts
  packages/gitbeaker-core/src/services/ProjectDeployTokens.ts
  packages/gitbeaker-core/src/templates/ResourceDeployTokens.ts
Due: core

Linting
  packages/gitbeaker-core/src/services/GroupAccessRequests.ts
  packages/gitbeaker-core/src/services/GroupDeployTokens.ts
  packages/gitbeaker-core/src/services/PipelineSchedules.ts
  packages/gitbeaker-core/src/services/ProjectAccessRequests.ts
  packages/gitbeaker-core/src/services/ProjectCustomAttributes.ts
  packages/gitbeaker-core/src/services/ProjectDeployTokens.ts
  packages/gitbeaker-core/src/templates/ResourceDeployTokens.ts
Due: core

More types
  packages/gitbeaker-core/src/services/GroupIssueBoards.ts
  packages/gitbeaker-core/src/services/GroupMembers.ts
  packages/gitbeaker-core/src/services/ProjectHooks.ts
  packages/gitbeaker-core/src/services/ProjectImportExport.ts
  packages/gitbeaker-core/src/services/ProjectIssueBoards.ts
  packages/gitbeaker-core/src/services/ProjectMembers.ts
  packages/gitbeaker-core/src/services/ProjectMilestones.ts
  packages/gitbeaker-core/src/services/ProjectSnippets.ts
  packages/gitbeaker-core/src/services/ProjectVariables.ts
  packages/gitbeaker-core/src/services/Projects.ts
  packages/gitbeaker-core/src/services/ProtectedBranches.ts
  packages/gitbeaker-core/src/templates/ResourceAccessRequests.ts
  packages/gitbeaker-core/src/templates/ResourceIssueBoards.ts
  packages/gitbeaker-core/src/templates/ResourceMembers.ts
Due: core

More types
  packages/gitbeaker-core/src/services/ProtectedTags.ts
  packages/gitbeaker-core/src/services/PushRules.ts
  packages/gitbeaker-core/src/services/ReleaseLinks.ts
Due: core

More type updates
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-core/src/services/GroupMembers.ts
  packages/gitbeaker-core/src/services/MergeRequests.ts
  packages/gitbeaker-core/src/services/ProjectMembers.ts
  packages/gitbeaker-core/src/services/ProjectMilestones.ts
  packages/gitbeaker-core/src/services/ProtectedTags.ts
  packages/gitbeaker-core/src/services/ReleaseLinks.ts
  packages/gitbeaker-core/src/services/Releases.ts
  packages/gitbeaker-core/src/services/Repositories.ts
  packages/gitbeaker-core/src/services/RepositoryFiles.ts
  packages/gitbeaker-core/src/services/Runners.ts
  packages/gitbeaker-core/src/services/Search.ts
  packages/gitbeaker-core/src/services/Services.ts
  packages/gitbeaker-core/test/unit/bundles/GroupsBundle.ts
  packages/gitbeaker-node/src/index.ts
Due: core, browser, node

Change Issues.unsubscribe to a POST operation instead of DELETE
  packages/gitbeaker-core/src/services/Issues.ts
  packages/gitbeaker-core/test/unit/services/Issues.ts
Due: core

Change Issues.unsubscribe to a POST operation instead of DELETE (#1726)
  packages/gitbeaker-core/src/services/Issues.ts
  packages/gitbeaker-core/test/unit/services/Issues.ts
Due: core

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-cli/CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: none

Update contributors [skip ci]
  .all-contributorsrc
  README.md
Due: none

Bump version to: 28.4.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Adding more types
  packages/gitbeaker-core/src/services/SidekiqMetrics.ts
  packages/gitbeaker-core/src/services/Snippets.ts
Due: core

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Bump version to: 28.4.1 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

More types
  packages/gitbeaker-core/src/services/SidekiqMetrics.ts
  packages/gitbeaker-core/src/services/Snippets.ts
  packages/gitbeaker-core/src/services/SystemHooks.ts
  packages/gitbeaker-core/src/services/Tags.ts
  packages/gitbeaker-core/src/services/Triggers.ts
  packages/gitbeaker-core/src/services/UserCustomAttributes.ts
  packages/gitbeaker-core/src/services/Wikis.ts
Due: core

Last set of currently supported types
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/services/Todos.ts
  packages/gitbeaker-core/src/services/UserEmails.ts
  packages/gitbeaker-core/src/services/UserGPGKeys.ts
  packages/gitbeaker-core/src/services/UserImpersonationTokens.ts
  packages/gitbeaker-core/src/services/UserKeys.ts
  packages/gitbeaker-core/src/services/Users.ts
  packages/gitbeaker-core/src/services/Version.ts
  packages/gitbeaker-core/src/services/VulnerabilityFindings.ts
  packages/gitbeaker-core/src/templates/ResourceMilestones.ts
Due: core

null cleanup
  packages/gitbeaker-core/src/services/Branches.ts
  packages/gitbeaker-core/src/services/Commits.ts
  packages/gitbeaker-core/src/services/EpicIssues.ts
  packages/gitbeaker-core/src/services/EpicNotes.ts
  packages/gitbeaker-core/src/services/Events.ts
  packages/gitbeaker-core/src/services/FreezePeriods.ts
  packages/gitbeaker-core/src/services/GeoNodes.ts
  packages/gitbeaker-core/src/services/GroupBadges.ts
  packages/gitbeaker-core/src/services/Issues.ts
  packages/gitbeaker-core/src/services/Keys.ts
  packages/gitbeaker-core/src/services/LicenseTemplates.ts
  packages/gitbeaker-core/src/services/MergeRequests.ts
  packages/gitbeaker-core/src/services/Pipelines.ts
  packages/gitbeaker-core/src/services/ProjectBadges.ts
  packages/gitbeaker-core/src/services/ProjectSnippetNotes.ts
  packages/gitbeaker-core/src/services/Projects.ts
  packages/gitbeaker-core/src/services/Runners.ts
  packages/gitbeaker-core/src/services/SidekiqMetrics.ts
  packages/gitbeaker-core/src/services/Snippets.ts
  packages/gitbeaker-core/src/services/Tags.ts
  packages/gitbeaker-core/src/services/Todos.ts
  packages/gitbeaker-core/src/services/Users.ts
  packages/gitbeaker-core/src/templates/ResourceDiscussions.ts
  packages/gitbeaker-core/src/templates/ResourceIssueBoards.ts
Due: core

Build fixes
  packages/gitbeaker-core/src/services/CommitDiscussions.ts
  packages/gitbeaker-core/src/services/EpicDiscussions.ts
  packages/gitbeaker-core/src/services/EpicNotes.ts
  packages/gitbeaker-core/src/services/GroupDeployTokens.ts
  packages/gitbeaker-core/src/services/GroupIssueBoards.ts
  packages/gitbeaker-core/src/services/GroupMembers.ts
  packages/gitbeaker-core/src/services/IssueDiscussions.ts
  packages/gitbeaker-core/src/services/IssueNotes.ts
  packages/gitbeaker-core/src/services/Issues.ts
  packages/gitbeaker-core/src/services/MergeRequestDiscussions.ts
  packages/gitbeaker-core/src/services/MergeRequestNotes.ts
  packages/gitbeaker-core/src/services/MergeRequests.ts
  packages/gitbeaker-core/src/services/ProjectAccessRequests.ts
  packages/gitbeaker-core/src/services/ProjectBadges.ts
  packages/gitbeaker-core/src/services/ProjectCustomAttributes.ts
  packages/gitbeaker-core/src/services/ProjectDeployTokens.ts
  packages/gitbeaker-core/src/services/ProjectIssueBoards.ts
  packages/gitbeaker-core/src/services/ProjectMembers.ts
  packages/gitbeaker-core/src/services/ProjectMilestones.ts
  packages/gitbeaker-core/src/services/ProjectSnippetDiscussions.ts
  packages/gitbeaker-core/src/services/ProjectSnippetNotes.ts
  packages/gitbeaker-core/src/services/Projects.ts
  packages/gitbeaker-core/src/services/Releases.ts
  packages/gitbeaker-core/src/services/Todos.ts
  packages/gitbeaker-core/src/services/UserCustomAttributes.ts
  packages/gitbeaker-core/src/templates/ResourceBadges.ts
  packages/gitbeaker-core/src/templates/ResourceNotes.ts
  packages/gitbeaker-core/src/templates/ResourceVariables.ts
Due: core

Debugging tests
  packages/gitbeaker-core/src/services/GroupDeployTokens.ts
  packages/gitbeaker-core/src/services/GroupIssueBoards.ts
  packages/gitbeaker-core/src/services/GroupLabels.ts
  packages/gitbeaker-core/src/services/Labels.ts
  packages/gitbeaker-core/src/services/ProjectDeployTokens.ts
  packages/gitbeaker-core/src/services/ProjectIssueBoards.ts
  packages/gitbeaker-core/src/templates/ResourceDeployTokens.ts
  packages/gitbeaker-core/src/templates/ResourceIssueBoards.ts
  packages/gitbeaker-core/src/templates/ResourceLabels.ts
  packages/gitbeaker-core/test/unit/services/DeployKeys.ts
  packages/gitbeaker-core/test/unit/services/Events.ts
  packages/gitbeaker-core/test/unit/services/Projects.ts
  packages/gitbeaker-core/test/unit/templates/ResourceAwardEmojis.ts
  packages/gitbeaker-core/test/unit/templates/ResourceDeployTokens.ts
  packages/gitbeaker-core/test/unit/templates/ResourceLabels.ts
  packages/gitbeaker-core/test/unit/templates/ResourceNoteAwardEmojis.ts
Due: core

Adding deploy tokens test
  packages/gitbeaker-core/src/templates/ResourceDeployTokens.ts
Due: core

Updating skipped tests
  packages/gitbeaker-core/src/services/Issues.ts
  packages/gitbeaker-core/src/services/MergeRequests.ts
  packages/gitbeaker-core/test/unit/services/Events.ts
  packages/gitbeaker-core/test/unit/services/FeatureFlags.ts
  packages/gitbeaker-core/test/unit/services/Issues.ts
  packages/gitbeaker-core/test/unit/services/MergeRequests.ts
Due: core

Updating tests
  packages/gitbeaker-cli/src/cli.ts
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/infrastructure/Utils.ts
  packages/gitbeaker-core/src/services/Repositories.ts
  packages/gitbeaker-core/src/services/RepositoryFiles.ts
  packages/gitbeaker-core/src/services/Todos.ts
  packages/gitbeaker-core/src/services/index.ts
  packages/gitbeaker-core/test/unit/services/Epics.ts
  packages/gitbeaker-core/test/unit/services/ProjectHooks.ts
  packages/gitbeaker-core/test/unit/services/SystemHooks.ts
  packages/gitbeaker-core/test/unit/services/Tags.ts
  packages/gitbeaker-core/test/unit/services/Todos.ts
  packages/gitbeaker-core/test/unit/templates/ResourceDeployTokens.ts
  yarn.lock
Due: cli, core

Updating build deps
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
  yarn.lock
Due: none

Updating Issue Templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature_proposal.md
  .github/ISSUE_TEMPLATE/technical_debt.md
Due: none

Dependency and Configuration updates
  .eslintrc.yml
  package.json
  yarn.lock
Due: none

Changelog and Readme updates
  README.md
Due: none

Adding support for camel case and snake case response types in the request helper and base service
  packages/gitbeaker-core/src/infrastructure/RequestHelper.ts
  packages/gitbeaker-core/src/infrastructure/Utils.ts
  packages/gitbeaker-requester-utils/src/BaseService.ts
Due: core, utils

Adding type updates for the Branches API
  packages/gitbeaker-core/src/services/Branches.ts
Due: core

Adding support for the Issue Note Award Emojis API
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-core/src/index.ts
  packages/gitbeaker-core/src/services/IssueNoteAwardEmojis.ts
  packages/gitbeaker-core/src/services/index.ts
  packages/gitbeaker-core/src/templates/ResourceNoteAwardEmojis.ts
  packages/gitbeaker-core/src/templates/index.ts
  packages/gitbeaker-node/src/index.ts
Due: core, browser, node

Adding type updates for the Groups API
  packages/gitbeaker-core/src/services/Groups.ts
Due: core

Adding type updates for the Todos API
  packages/gitbeaker-core/src/services/Todos.ts
Due: core
