Repository jdalrymple/gitbeaker: changes, and which Codecov flags are due for each by the changed paths.
All: Requester Utils, Core, REST, CLI

Begin projects API resync
  packages/core/src/resources/Projects.ts
Due: Core

Improving normalization of objects destined for formdata
  packages/core/src/infrastructure/Utils.ts
  packages/core/src/resources/AlertManagement.ts
  packages/core/src/resources/ApplicationAppearance.ts
  packages/core/src/resources/GroupImportExports.ts
  packages/core/src/resources/Groups.ts
  packages/core/src/resources/Helm.ts
  packages/core/src/resources/Issues.ts
  packages/core/src/resources/NuGet.ts
  packages/core/src/resources/PipelineTriggerTokens.ts
  packages/core/src/resources/ProjectImportExports.ts
  packages/core/src/resources/ProjectMarkdownUploads.ts
  packages/core/src/resources/Projects.ts
  packages/core/src/resources/Topics.ts
  packages/core/src/resources/Users.ts
  packages/core/src/templates/ResourceDiscussions.ts
  packages/core/src/templates/ResourceWikis.ts
  packages/core/test/unit/infrastructure/Utils.ts
Due: Core

Testing formdata clean up
  packages/core/src/infrastructure/Utils.ts
  packages/core/src/resources/Issues.ts
  packages/core/test/unit/infrastructure/Utils.ts
  packages/core/test/unit/resources/AlertManagement.ts
  packages/core/test/unit/resources/ApplicationAppearance.ts
  packages/core/test/unit/resources/GroupImportExports.ts
  packages/core/test/unit/resources/ProjectImportExports.ts
Due: Core

Updating tests
  packages/rest/test/e2e/nodejs/resources/Lint.ts
  packages/rest/test/e2e/nodejs/resources/Projects.ts
Due: REST

fix: Ensure generated formdata properly decamelizes its properties where applicable (#3844)
  packages/core/src/infrastructure/Utils.ts
  packages/core/src/resources/AlertManagement.ts
  packages/core/src/resources/ApplicationAppearance.ts
  packages/core/src/resources/GroupImportExports.ts
  packages/core/src/resources/Groups.ts
  packages/core/src/resources/Helm.ts
  packages/core/src/resources/Issues.ts
  packages/core/src/resources/NuGet.ts
  packages/core/src/resources/PipelineTriggerTokens.ts
  packages/core/src/resources/ProjectImportExports.ts
  packages/core/src/resources/ProjectMarkdownUploads.ts
  packages/core/src/resources/Projects.ts
  packages/core/src/resources/Topics.ts
  packages/core/src/resources/Users.ts
  packages/core/src/templates/ResourceDiscussions.ts
  packages/core/src/templates/ResourceWikis.ts
  packages/core/test/unit/infrastructure/Utils.ts
  packages/core/test/unit/resources/AlertManagement.ts
  packages/core/test/unit/resources/ApplicationAppearance.ts
  packages/core/test/unit/resources/GroupImportExports.ts
  packages/core/test/unit/resources/ProjectImportExports.ts
  packages/rest/test/e2e/nodejs/resources/Lint.ts
  packages/rest/test/e2e/nodejs/resources/Projects.ts
Due: Core, REST

feat: Update MergeRequestDiscussions to use MergeRequestDiscussionSchema for type consistency
  packages/core/src/resources/MergeRequestDiscussions.ts
Due: Core

feat: Add system and system_action to WebhookMergeRequestEventSchema
  packages/core/src/resources/Webhooks.ts
Due: Core

Updating types on application stats
  packages/core/src/resources/ApplicationStatistics.ts
Due: Core

Rename Conan to ConanV1 for clarity
  packages/core/src/resources/ConanV1.ts
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/index.ts
  packages/core/test/integration/map.ts
  packages/core/test/unit/resources/ConanV1.ts
  packages/rest/src/index.ts
  packages/rest/test/e2e/browser/General.ts
  packages/rest/test/integration/browser/General.ts
Due: Core, REST

Updating export list
  packages/rest/test/e2e/browser/General.ts
Due: REST

Updating tests
  packages/core/src/resources/Gitlab.ts
  packages/core/test/unit/resources/Conan.ts
  packages/core/test/unit/resources/Topics.ts
Due: Core

Many more API updates
  packages/core/README.md
  packages/core/src/resources/ContainerRegistry.ts
  packages/core/src/resources/ContainerRegistryProtectionTagRules.ts
  packages/core/src/resources/ContainerRepositoryProtectionRules.ts
  packages/core/src/resources/ContainerVirtualRegistry.ts
  packages/core/src/resources/DashboardAnnotations.ts
  packages/core/src/resources/DataManagement.ts
  packages/core/src/resources/DatabaseMigrations.ts
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/Packages.ts
  packages/core/src/resources/index.ts
  packages/core/test/integration/map.ts
  packages/core/test/unit/resources/DashboardAnnotations.ts
  packages/rest/src/index.ts
  packages/rest/test/e2e/browser/General.ts
  packages/rest/test/integration/browser/General.ts
Due: Core, REST

Remove deprecated APIs
  packages/core/README.md
  packages/core/src/resources/EpicAwardEmojis.ts
  packages/core/src/resources/EpicDiscussions.ts
  packages/core/src/resources/EpicIssues.ts
  packages/core/src/resources/EpicLabelEvents.ts
  packages/core/src/resources/EpicLinks.ts
  packages/core/src/resources/EpicNotes.ts
  packages/core/src/resources/EpicStateEvents.ts
  packages/core/src/resources/Epics.ts
  packages/core/src/resources/GeoNodes.ts
  packages/core/src/resources/GeoSites.ts
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/GroupEpicBoards.ts
  packages/core/src/resources/LinkedEpics.ts
  packages/core/src/resources/index.ts
  packages/rest/src/index.ts
  packages/rest/test/e2e/browser/General.ts
Due: Core, REST

Last set of APIs
  packages/core/src/resources/Conan.ts
  packages/core/src/resources/ConanV2.ts
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/Vulnerabilities.ts
  packages/core/src/resources/WebCommits.ts
  packages/core/src/resources/index.ts
  packages/rest/src/index.ts
Due: Core, REST

Updating readme
  packages/core/README.md
Due: Core

Formatting
  packages/core/src/resources/Conan.ts
  packages/core/src/resources/Vulnerabilities.ts
  packages/core/src/resources/WebCommits.ts
  packages/rest/src/index.ts
Due: Core, REST

Updated settings
  packages/core/src/resources/ApplicationSettings.ts
Due: Core

Final pass
  packages/core/README.md
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/PersonalAccessTokens.ts
  packages/core/src/resources/SnippetRepositoryStorageMoves.ts
  packages/core/src/resources/Snippets.ts
  packages/core/src/resources/SystemHooks.ts
  packages/core/src/resources/TokenInformation.ts
  packages/core/src/resources/Topics.ts
  packages/core/src/resources/UserEmails.ts
  packages/core/src/resources/UserFollows.ts
  packages/core/src/resources/UserImpersonationTokens.ts
  packages/core/src/resources/UserModeration.ts
  packages/core/src/resources/UserSSHKeys.ts
  packages/core/src/resources/UserSupportPin.ts
  packages/core/src/resources/Users.ts
  packages/core/src/resources/VirtualRegistriesCleanupPolicies.ts
  packages/core/src/resources/VulnerabilityArchiveExports.ts
  packages/core/src/resources/VulnerabilityFindings.ts
  packages/core/src/resources/index.ts
  packages/rest/src/index.ts
  packages/rest/test/e2e/browser/General.ts
Due: Core, REST

Missing note on MergeRequest discussions
  packages/core/src/resources/MergeRequestDiscussions.ts
Due: Core

Updating more APIs
  .gitignore
  packages/core/README.md
  packages/core/src/resources/ConanV2.ts
  packages/core/src/resources/ExternalControls.ts
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/GroupIntegrations.ts
  packages/core/src/resources/GroupInvitations.ts
  packages/core/src/resources/GroupLDAPLinks.ts
  packages/core/src/resources/GroupMembers.ts
  packages/core/src/resources/GroupProtectedBranches.ts
  packages/core/src/resources/Import.ts
  packages/core/src/resources/InstanceLevelCICDVariables.ts
  packages/core/src/resources/IssueLinks.ts
  packages/core/src/resources/JobArtifacts.ts
  packages/core/src/resources/Jobs.ts
  packages/core/src/resources/Keys.ts
  packages/core/src/resources/License.ts
  packages/core/src/resources/Licenses.ts
  packages/core/src/resources/NPM.ts
  packages/core/src/resources/NuGet.ts
  packages/core/src/resources/PyPI.ts
  packages/core/src/resources/RubyGems.ts
  packages/core/src/resources/TerraformModules.ts
  packages/core/src/resources/index.ts
  packages/core/src/templates/ResourceInvitations.ts
  packages/core/src/templates/ResourceMembers.ts
  packages/core/test/unit/resources/InstanceLevelCICDVariables.ts
  packages/core/test/unit/resources/Jobs.ts
  packages/core/test/unit/resources/PyPI.ts
  packages/rest/src/index.ts
  packages/rest/test/e2e/browser/General.ts
Due: Core, REST

Update environments and draft notes
  packages/core/README.md
  packages/core/src/resources/Environments.ts
  packages/core/src/resources/MergeRequestDraftNotes.ts
Due: Core

Update branches api
  packages/core/README.md
  packages/core/src/resources/Branches.ts
Due: Core

Update access requests API
  packages/core/README.md
  packages/core/src/constants.ts
  packages/core/src/resources/GroupAccessRequests.ts
  packages/core/src/templates/ResourceAccessRequests.ts
  packages/core/test/unit/templates/ResourceAccessRequests.ts
Due: Core

Adding DependencyListExport API
  packages/core/README.md
  packages/core/src/resources/DependencyListExport.ts
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/index.ts
  packages/rest/src/index.ts
  packages/rest/test/e2e/browser/General.ts
Due: Core, REST

Linting
  packages/core/src/resources/ClusterAgents.ts
  packages/core/src/resources/index.ts
  packages/core/test/integration/map.ts
  packages/core/test/unit/resources/ClusterAgents.ts
  packages/rest/src/index.ts
Due: Core, REST

Updating tests
  packages/core/src/resources/ProjectInvitations.ts
  packages/core/test/integration/map.ts
  packages/core/test/unit/resources/AlertManagement.ts
  packages/core/test/unit/resources/ApplicationAppearance.ts
  packages/core/test/unit/resources/Conan.ts
  packages/core/test/unit/resources/GroupImportExports.ts
  packages/core/test/unit/resources/PipelineTriggerTokens.ts
  packages/core/test/unit/resources/ProjectImportExports.ts
  packages/core/test/unit/resources/ProjectMarkdownUploads.ts
  packages/core/test/unit/resources/Projects.ts
  packages/core/test/unit/resources/PyPI.ts
  packages/core/test/unit/resources/Topics.ts
  packages/core/test/unit/templates/ResourceDiscussions.ts
Due: Core

Add missing typing
  packages/core/src/resources/Webhooks.ts
Due: Core

Fix missing change for ClusterAgents
  packages/rest/src/index.ts
Due: REST

More missing updates
  packages/core/README.md
Due: Core

Fix issue weights
  packages/core/src/resources/IssueWeightEvents.ts
Due: Core

Updating DeployKeys, DeployTokens and Deployments APIs
  packages/core/src/resources/DeployKeys.ts
  packages/core/src/resources/DeployTokens.ts
  packages/core/src/resources/Deployments.ts
Due: Core

Removing deprecated templates API's
  packages/core/src/resources/DockerfileTemplates.ts
  packages/core/src/resources/GitLabCIYMLTemplates.ts
  packages/core/src/resources/GitignoreTemplates.ts
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/LicenseTemplates.ts
  packages/core/src/resources/index.ts
  packages/core/src/templates/ResourceTemplates.ts
  packages/core/src/templates/index.ts
  packages/core/test/integration/map.ts
  packages/core/test/unit/templates/ResourceTemplates.ts
  packages/rest/src/index.ts
  packages/rest/test/e2e/browser/General.ts
  packages/rest/test/integration/browser/General.ts
Due: Core, REST

Add support for ai catalog API
  packages/core/README.md
  packages/core/src/resources/AICatalog.ts
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/index.ts
  packages/rest/src/index.ts
  packages/rest/test/e2e/browser/General.ts
Due: Core, REST

Updating APIs and removing GeoNodes
  packages/core/README.md
  packages/core/src/resources/ErrorTrackingClientKeys.ts
  packages/core/src/resources/Events.ts
  packages/core/src/resources/ExternalControls.ts
  packages/core/src/resources/FeatureFlags.ts
  packages/core/src/resources/Features.ts
  packages/core/src/resources/Flows.ts
  packages/core/src/resources/GeoSites.ts
  packages/core/src/resources/GitLabDuoChat.ts
  packages/core/src/resources/Gitlab.ts
  packages/core/src/resources/GoProxy.ts
  packages/core/src/resources/GoogleCloudIntegration.ts
  packages/core/src/resources/GroupAccessTokens.ts
  packages/core/src/resources/TodoLists.ts
  packages/core/src/resources/index.ts
  packages/core/src/templates/ResourceAccessTokens.ts
  packages/core/test/integration/map.ts
  packages/core/test/unit/resources/GeoNodes.ts
  packages/rest/src/index.ts
  packages/rest/test/integration/browser/General.ts
Due: Core, REST

Formatting and updating Debian API
  packages/core/src/resources/AICatalog.ts
  packages/core/src/resources/ApplicationSettings.ts
  packages/core/src/resources/Applications.ts
  packages/core/src/resources/Attestations.ts
  packages/core/src/resources/AuditEvents.ts
  packages/core/src/resources/BroadcastMessages.ts
  packages/core/src/resources/CodeSuggestions.ts
  packages/core/src/resources/CompliancePolicySettings.ts
  packages/core/src/resources/ContainerRegistryProtectionTagRules.ts
  packages/core/src/resources/ContainerRepositoryProtectionRules.ts
  packages/core/src/resources/ContainerVirtualRegistry.ts
  packages/core/src/resources/DataManagement.ts
  packages/core/src/resources/DatabaseMigrations.ts
  packages/core/src/resources/Debian.ts
  packages/core/src/resources/Dependencies.ts
  packages/core/src/resources/Packages.ts
  packages/rest/src/index.ts
Due: Core, REST

Updating Discussions API
  packages/core/README.md
  packages/core/src/templates/ResourceDiscussions.ts
Due: Core

Update appearance response
  packages/core/src/resources/ApplicationAppearance.ts
Due: Core

Path conditions:
  Requester Utils: any of: packages/requester-utils/**
  Core: any of: packages/core/**
  REST: any of: packages/rest/**
  CLI: any of: packages/cli/**
