Repository jdalrymple/gitbeaker: changes, and which Codecov flags are due for each by the changed paths.
All: cli, core, browser, node, utils

Bump version to: 19.4.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Fix: Update DELETE method to POST in todos.done()
  packages/gitbeaker-core/src/services/Todos.ts
Due: core

Fix: Update DELETE method to POST in todos.done() (#780)
  packages/gitbeaker-core/src/services/Todos.ts
Due: core

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  README.md
  packages/gitbeaker-core/CHANGELOG.md
Due: none

Update contributors [skip ci]
  .all-contributorsrc
  README.md
Due: none

Bump version to: 19.5.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  README.md
Due: none

Bump version to: 19.5.1 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Fixing format of form-data wrapper
  packages/gitbeaker-core/src/services/ProjectImportExport.ts
  packages/gitbeaker-core/src/services/Projects.ts
Due: core

Update typing to specify that path or name must be passed
  packages/gitbeaker-core/src/services/Projects.ts
  packages/gitbeaker-core/test/unit/services/Projects.ts
Due: core

Fixing format of form-data wrapper (#797)
  packages/gitbeaker-core/src/services/ProjectImportExport.ts
  packages/gitbeaker-core/src/services/Projects.ts
Due: core

Update typing to specify that path or name must be passed (#796)
  packages/gitbeaker-core/src/services/Projects.ts
  packages/gitbeaker-core/test/unit/services/Projects.ts
Due: core

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-browser/CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
  packages/gitbeaker-node/CHANGELOG.md
  packages/gitbeaker-requester-utils/CHANGELOG.md
Due: none

Bump version to: 19.6.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Feature: Arbitrary parameters for Projects.search
  packages/gitbeaker-core/src/services/Projects.ts
Due: core

Remove explicit type inclusion
  packages/gitbeaker-browser/tsconfig.json
Due: none

Allow for optional parameters in Projects.search (#801)
  packages/gitbeaker-core/src/services/Projects.ts
Due: core

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/gitbeaker-core/CHANGELOG.md
Due: none

Bump version to: 19.7.0 [skip ci]
  lerna.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

First set of updates
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
Due: utils

Add YouTrack to the supported services
  packages/gitbeaker-core/src/services/Services.ts
Due: core

Add YouTrack to the supported services (#853)
  packages/gitbeaker-core/src/services/Services.ts
Due: core

Changing up types
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-node/src/index.ts
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
Due: browser, node, utils

Add canary build if label is present
  .gitlab-ci.yml
Due: none

Updating dependencies and downgrading puppeteer
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/package.json
Due: none

Updating lock
  yarn.lock
Due: none

Setup canary builds
  .gitlab-ci.yml
Due: none

Linting
  .gitlab-ci.yml
  README.md
Due: none

Adding git for canary step
  .gitlab-ci.yml
Due: none

Adjust casing to be properly handled by the conversion to snake case in the CLI
  packages/gitbeaker-core/src/services/Issues.ts
  packages/gitbeaker-core/src/services/MergeRequestNotes.ts
  packages/gitbeaker-core/src/services/MergeRequests.ts
Due: core

Fixing branch source
  .gitlab-ci.yml
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

Trying to sort out export
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
  yarn.lock
Due: utils

Locking package versions
  package.json
  packages/gitbeaker-browser/package.json
  packages/gitbeaker-cli/package.json
  packages/gitbeaker-core/package.json
  packages/gitbeaker-node/package.json
Due: none

Issue links (get, delete)
  packages/gitbeaker-core/src/services/Issues.ts
Due: core

Fix delete method (delete -> del)
  packages/gitbeaker-core/src/services/Issues.ts
Due: core

Consistency of methods (delete -> remove)
  packages/gitbeaker-core/src/services/Issues.ts
Due: core

Removing dependency on Gitlab instance
  .gitlab-ci.yml
  packages/gitbeaker-browser/src/index.ts
  packages/gitbeaker-cli/src/cli.ts
  packages/gitbeaker-cli/src/index.ts
  packages/gitbeaker-cli/test/integration/index.ts
  packages/gitbeaker-cli/test/unit/index.ts
  packages/gitbeaker-node/src/index.ts
  packages/gitbeaker-requester-utils/src/RequesterUtils.ts
Due: cli, browser, node, utils

Documentation update for 19.x
  README.md
Due: none

Path conditions:
  cli: any of: packages/gitbeaker-cli/src
  core: any of: packages/gitbeaker-core/src
  browser: any of: packages/gitbeaker-browser/src
  node: any of: packages/gitbeaker-node/src
  utils: any of: packages/gitbeaker-requester-utils/src
